<template>
  <Layout id="contact-index" class="page">
    <template slot="content">
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-6 left">
              <h1>Contact us</h1>
              <p>
                Hello if you have any questions, advice or you just want to say hello, fill up the form
                and we will get back to you as soon as possible.<br><br>
                Anyway, here are some <a :href="routes.faq()">frequently asked questions</a>.
              </p>
              <div class="social-media">
                <a :href="constants.discord" class="discord">
                  <img :src="url('/img/social/mail/discord.svg')" alt="Discord" class="svg social-icon">
                </a>
                <a :href="constants.facebook" class="facebook">
                  <img :src="url('/img/social/mail/facebook.svg')" alt="Facebook" class="svg social-icon">
                </a>
              </div>
              <div class="contact-links">
                <a :href="`mailto:${constants.email}`">
                  <i class="fas fa-envelope"></i>
                  {{ constants.email }}
                </a>
              </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 right">
              <form method="POST" :action="routes.store_contact()" id="contactform"
                    autocomplete="off" @submit="submitContact" class="box-item">
                <div class="form-group required">
                  <label for="email_contact">Email</label>
                  <input class="form-control" type="email" id="email_contact" v-model="email"
                         name="email">
                </div>
                <div class="form-group required">
                  <label for="message_contact">Message</label>
                  <textarea class="form-control" id="message_contact" name="message" v-model="message"
                            style="height:100px;"></textarea>
                </div>
                <div class="form-group button-container">
                  <button class="main-button" id="submit-contact" :disabled="!email || !message || is_loading">Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <img :src="url('/img/home/clouds.svg')" alt="clouds" class="svg clouds">
      <section class="support-us">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-6 left">
              <img :src="url(`/img/sketch/coffee.svg`)" alt="Coffee" class="svg coffee">
            </div>
            <div class="col-xl-5 col-lg-6 right">
              <h2>Support Us</h2>
              <p>We love what we do and it seems like the effort was worth it. However, we went out of coffee already! A
                few bucks would be appreciated.</p>
              <a :href="constants.buy_me_a_coffee" class="coffee-link" target="_blank">
                <img :src="url('/img/logo/buy-me-a-coffee.png')" alt="Buy me a coffee">
              </a>
            </div>
          </div>
        </div>
      </section>
    </template>
  </Layout>
</template>
<script>
import {mapGetters, mapMutations} from "vuex";
import {hide_loading_animation, url} from "../../includes/helpers";
import {recaptchaMixin} from "../../includes/mixins";
import routes from "../../includes/routes";
import Loader from "../partials/Loader";
import Layout from "../partials/Layout/Layout";

export default {
  components: {Layout, Loader},
  mixins: [recaptchaMixin],
  data() {
    return {
      _token: null,
      routes: routes,
      email: null,
      message: null,
      is_loading: false
    }
  },
  computed: {
    ...mapGetters({constants: 'getConstants'}),
  },
  methods: {
    ...mapMutations(['setFlashMessage']),
    url: url,
    submitContact: function (event) {

      let that = this,
          action = $(event.target).attr('action'),
          data;

      event.preventDefault();

      if (this.is_loading) return;

      this.is_loading = true;

      this.addRecaptchaToken(event, () => {

        data = {
          email: this.email,
          message: this.message,
          _token: this._token,
          "g-recaptcha": this.recaptcha_token
        };

        this.email = '';
        this.message = '';

        $('#submit-contact')
            .attr('disabled', 'disabled');

        $.post(action, data, function (json) {

              if (!json.error) {
                $('#submit-contact').removeAttr('disabled');
              } else {
                $('#message-contact').slideDown('slow');
              }

              that.setFlashMessage({
                message: json.message,
                type: json.error ? 'error' : 'success'
              });

              $('#contactform .loader').fadeOut('slow');

              that.is_loading = false;
            }
        );
      });

      return false;
    }
  },
  created() {
    this._token = window._token;
  },
  mounted() {
    hide_loading_animation();
  }
}
</script>
