<template>
  <Layout id="site-edit" class="page">
    <div slot="content" class="container">
      <div class="site-details box-item">
        <h2>Details about the project</h2>
        <form :action="this.formUrl" method="POST" enctype="multipart/form-data"
              @submit="syncSubmitFormWithRecaptcha">
          <input type="hidden" :value="csrf_token" name="_token">
          <input type="hidden" :value="site.id" name="id">
          <input type="hidden" v-model="redirectUrl" name="redirect_url">
          <div class="form-group">
            <div class="toggle-checkbox-container">
              <label>Private project</label>
              <label class="toggle-checkbox" for="private">
                <input type="checkbox" id="private" name="private" v-model="site.private"/>
                <span class="slider round"></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>URL</label>
            <input class="form-control" type="text" name="url"
                   placeholder="URL"
                   v-model="site.url" readonly>
          </div>
          <div class="form-group">
            <label>Project title</label>
            <input class="form-control" type="text" name="name"
                   v-model="site.name"
                   placeholder="Name">
            <small class="text-red verification-message"
                   v-show="site.name.length >= 25">The maximum length of project title is 25 characters</small>
          </div>
          <!--        <div class="form-group">-->
          <!--          <label>{{ $t('site.Type_of_site') }}</label>-->
          <!--          <vSelect-->
          <!--              v-model="type"-->
          <!--              :options="type_options"-->
          <!--              :placeholder="$t('site.Type_of_site')"-->
          <!--          ></vSelect>-->
          <!--          <input type="hidden" name="parameters[site-type]" v-model="type">-->
          <!--        </div>-->
          <div class="form-group">
            <label>Technologies</label>
            <vSelect
                multiple
                v-model="technologies"
                :options="technology_options"
                placeholder="Technologies">
            </vSelect>
            <input type="hidden" name="parameters[technology]" v-model="technologies">
          </div>
          <button type="submit" class="main-button">Update project</button>
        </form>
      </div>
    </div>
  </Layout>
</template>

<script>
import vSelect from 'vue-select';
import {mapActions} from "vuex";
import {recaptchaMixin} from "../../includes/mixins";
import Layout from "../partials/Layout/Layout";

export default {
  components: {
    Layout,
    vSelect,
  },
  props: ['siteData', 'formUrl', 'typeOptions', 'technologyOptions', 'siteTechnologies', 'siteType', 'redirectUrl'],
  mixins: [recaptchaMixin],
  data() {
    return {
      site: null,
      csrf_token: null,
      technologies: null,
      type: null,
      type_options: [],
      technology_options: [],
      // source_code: null
    };
  },
  methods: {
    ...mapActions(['setAuthUser']),
  },
  async created() {

    this.csrf_token = document.querySelector('meta[name="csrf-token"]').content;
    this.site = JSON.parse(this.siteData);
    this.technologies = JSON.parse(this.siteTechnologies);
    this.type = JSON.parse(this.siteType);
    this.technology_options = JSON.parse(this.technologyOptions);
    this.type_options = JSON.parse(this.typeOptions);

    // this.source_code = get_parameter_value_by_type(this.site.parameters, 'source-code');

    await this.setAuthUser();
  }
}
</script>
