<template>
  <Layout id="site-index" :class="['page', 'site-listing',{auth: auth_user}]">
    <div slot="content" class="custom-container listing">
      <RegisterInput/>
      <div class="box-items">
        <template v-if="this.page_ready">
          <template v-if="is_registering_site">
            <FakeItem/>
          </template>
          <!-- Results -->
          <template v-if="filtered_items.length">
            <template v-for="(site,index) in paginated_items">
              <ActiveItem
                  :site="site"
                  :index="index"
              />
            </template>
            <div class="col-12">
              <ShowMore
                  v-show="filtered_items.length && filtered_items.length >= pagination.per_page"
                  :items="filtered_items"
              />
            </div>
          </template>
          <!-- No results -->
          <template v-if="!filtered_items.length">
            <NotFoundResults
                message="Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem via contact form. <br>Thank you."
            />
          </template>
        </template>
        <template v-else>
          <template v-for="index in 3">
            <FakeItem/>
          </template>
        </template>
      </div>
    </div>
    <template slot="others">
      <Modal :redirect="`/site`"/>
      <ListModal/>
      <RegisterSiteModal/>
      <ReportModal/>
    </template>
  </Layout>
</template>

<script>
import {paginationParentMixin} from "../../includes/mixins";
import {mapActions, mapGetters, mapMutations} from "vuex";
import {hide_loading_animation, url} from '../../includes/helpers';
import Loader from '../partials/Loader';
import ActiveItem from "../partials/Site/ActiveItem";
import Pagination from "../partials/Pagination";
import NotFoundResults from "../partials/NotFoundResults";
import Modal from "../partials/Modals/Modal";
import ReportModal from "../partials/Modals/Report";
import ListModal from "../partials/Modals/List";
import RegisterInput from "../partials/Site/RegisterInput";
import FlashMessage from "../partials/Layout/FlashMessage";
import FakeItem from "../partials/Site/FakeItem";
import Header from "../partials/Layout/Header";
import RegisterSiteModal from "../partials/Modals/RegisterSite";
import Footer from "../partials/Layout/Footer";
import ShowMore from "../partials/ShowMore";
import Layout from "../partials/Layout/Layout";

export default {
  mixins: [paginationParentMixin],
  components: {
    Layout,
    ShowMore,
    Footer,
    RegisterSiteModal,
    Header,
    FakeItem,
    Modal,
    ListModal,
    NotFoundResults,
    Pagination,
    ActiveItem,
    Loader,
    FlashMessage,
    RegisterInput,
    ReportModal
  },
  computed: {
    ...mapGetters({
      auth_user: 'getAuthUser',
      sites: 'getSites',
      filtered_items: 'getFilteredSites',
      pagination: 'getPagination',
      is_registering_site: 'getIsRegisteringSite',
      page_ready: 'getPageReady',
    }),
    // paginated_items in mixin
  },
  methods: {
    ...mapMutations(['setFilterCriteria', 'setFilteredSites', 'setPagination', 'setPageReady']),
    ...mapActions(['setSites', 'setAuthUser']),
    // filterBySearch and sortBy in mixin
    url: url,
  },
  async created() {

    await this.setSites({limit: this.pagination.per_page});

    this.setFilteredSites();

    this.setPageReady(true);

    hide_loading_animation();
  },
}

</script>
