<template>
  <div class="page" :class="{auth: auth_user}">
    <!-- 3 types of sidebars -->
    <aside>
      <ListingSidebar
          :site-data="site"
          v-show="settings.sidebar_type === 'listing'"
      />

      <CommentSidebar
          :site-data="site"
          v-show="settings.sidebar_type === 'commenting'"
      />

      <DetailSidebar
          :site-data="site"
          v-show="settings.sidebar_type === 'detail'"
      />
    </aside>

    <div
        class="iframe-container"
        :class="{loaded: !first_iframe_loading, active: settings.open_sidebar,'commenting-mode': commenting_mode}"
    >

      <div :class="settings.resolution"></div>
      <button class="toggle-sidebar" @click="toggleSidebar">
        <i class="fas fa-chevron-right" :class="{ 'sidebar-open': settings.open_sidebar }"></i>
      </button>

      <template v-if="!iframe_loaded">
        <PinLoader
            text="Loading project assets..."
        />
      </template>
      <iframe
          :src="`${appUrl}`"
          :class="[settings.resolution]"
          id="live-preview-iframe"
          name="VisualBack"
          @load="onLoadIframe"
      ></iframe>
    </div>
    <div class="bottom-bar">
      <div class="resolution">
        <a
            class="no-select device"
            :class="{ active: !first_iframe_loading && settings.resolution === 'desktop', disabled: first_iframe_loading}"
            data-device="desktop"
            v-tooltip="`Desktop device`"
            @click="toggleResolution('desktop')"
        >
          <i class="fas fa-desktop"></i>
        </a>
        <a
            class="no-select device"
            :class="{ active: settings.resolution === 'tablet'}"
            data-device="tablet"
            v-tooltip="`Resolution 768 x 1024`"
            @click="toggleResolution('tablet')"
        >
          <i class="fas fa-tablet-alt"></i>
        </a>
        <a
            class="no-select device phone"
            :class="{ active: settings.resolution === 'phone'}"
            data-device="phone"
            v-tooltip="`Resolution 375 × 667`"
            @click="toggleResolution('phone')"
        >
          <i class="fas fa-mobile-alt"></i>
        </a>
      </div>
      <div class="mode" :class="{disabled: !iframe_loaded}">
        <div class="toggle-checkbox-container">
          <p @click="toggleCommentMode">
            Browse
          </p>
          <label class="toggle-checkbox">
            <input type="checkbox" @click="toggleCommentMode" v-model="commenting_mode" id="toggle-mode"/>
            <span class="slider round"></span>
          </label>
          <p @click="toggleCommentMode">
            Comment
          </p>
        </div>
      </div>
      <div class="profile">
        <a class="like-container"
           :class="{liked: site.auth_user_liked}"
           v-if="auth_user && !site.is_auth_user_collaborator"
           @click="toggleProjectLike"
           v-tooltip="`Like`"
        >
          <img :src="url('/img/heart.svg')" class="svg" alt="Heart">
        </a>
        <a class="main-button share" @click="toggleShareSiteModal" v-if="auth_user">
          <i class="fas fa-share-alt"></i>
          Share
        </a>
        <a :href="routes.profile(auth_user.identifier)" class="user" v-if="auth_user">
          <img
              class="profile-picture"
              :src="auth_user.profile_photo_url"
              :alt="auth_user.nickname"
          />
        </a>
      </div>
    </div>
    <FlashMessage/>
    <UnregisteredUserModal/>
    <ReportModal/>
    <Modal/>
    <ShareSiteModal/>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";
import {livepreviewMixin, recaptchaMixin, sidebarMixin} from "../../includes/mixins";
import {debounce, get_path, is_demo, hide_loading_animation, url} from '../../includes/helpers';
import {
  attachPinsToIframe,
  attachPinToSite,
  reattachPinsToIframe,
  removePins, removeTemporaryPin
} from "../../services/PinService";
import PinLoader from '../partials/PinLoader';
import FlashMessage from '../partials/Layout/FlashMessage';
import Modal from '../partials/Modals/Modal';
import ListingSidebar from "../partials/Live-preview/ListingSidebar";
import CommentSidebar from "../partials/Live-preview/CommentSidebar";
import DetailSidebar from "../partials/Live-preview/DetailSidebar";
import UnregisteredUserModal from "../partials/Modals/UnregisteredUser";
import ReportModal from "../partials/Modals/Report";
import ShareSiteModal from "../partials/Modals/ShareSite";
import routes from "../../includes/routes";
import {startDemoTutorial} from "../../services/DemoService";

export default {
  components: {
    UnregisteredUserModal,
    DetailSidebar,
    ListingSidebar,
    CommentSidebar,
    PinLoader,
    FlashMessage,
    Modal,
    ReportModal,
    ShareSiteModal
  },
  props: ['siteData', 'appUrl'],
  mixins: [recaptchaMixin, livepreviewMixin, sidebarMixin],
  data() {
    return {
      iframe: null,
      iframe_window: null,
      iframe_loaded: false,
      commenting_mode: false,
      first_iframe_loading: true,
      site_rating: null,
      actual_width: null,
      iframe_origin: null,
      routes: routes
    };
  },
  computed: {
    ...mapGetters({comments: 'getComments', constants: 'getConstants'}),
    site: function () {
      return this.siteData ? JSON.parse(this.siteData) : null;
    },
  },
  methods: {
    ...mapMutations(['toggleShareSite', 'updateComments', 'flushFlashMessage', 'setFileUploader', 'clearCommentFields']),
    ...mapActions(['setComments', 'setAuthUser', 'toggleLike']),
    url: url,
    toggleResolution: function (device) {
      this.setLivepreviewSettings({
        resolution: device,
        sidebar_type: 'listing'
      });

      this.afterLoadPage();

      removeTemporaryPin();

      this.stopCSS();
    },
    toggleCommentMode: function () {

      let body = this.iframe.find('html');

      if (this.iframe) {
        if (this.commenting_mode) {
          body.removeClass('visualback-proxy');
        } else {
          body.addClass('visualback-proxy');
        }

        this.commenting_mode = !this.commenting_mode;

        if (this.settings.uri !== this.iframe_window.location.pathname) {

          this.setLivepreviewSettings({
            uri: this.iframe_window.location.pathname,
          })

          this.afterLoadPage();
        }

        this.setLivepreviewSettings({
          sidebar_type: 'listing'
        })
      }

      this.clearCommentSidebar();
    },
    toggleSidebar: function () {
      this.setLivepreviewSettings({
        open_sidebar: !this.settings.open_sidebar
      });
    },
    onLoadIframe: function () {

      this.iframe_window = $($("iframe")[0].contentWindow)[0].window;
      this.iframe = $($('iframe').contents());
      // this.iframe_loaded = true;

      if (this.first_iframe_loading) {
        this.iframe.find('html').addClass('visualback-proxy');

        this.commenting_mode = true;
        this.first_iframe_loading = false;

        if (is_demo(this.$store.state)) {
          startDemoTutorial(this.$store, this);
        }
      }

      this.afterLoadPage();

      this.setLivepreviewSettings({
        uri: this.iframe_window.location.pathname
      })

      this.onResizeWindow();      // for sure checking pins in DOM
    },
    onResizeWindow: function () {

      setTimeout(() => {

        this.actual_width = window.innerWidth || document.body.clientWidth;

        $(this.iframe_window).on('resize', debounce(() => {
          reattachPinsToIframe(this.settings.resolution, this.iframe_window, this.comments, this.iframe)
        }, 600))

      }, 3000);
    },
    addIframeListener: function () {

      let that = this,
          html = that.iframe.find('html'),
          comment_under_pin;

      window.addEventListener('message', (event) => {
        // if (!['vue-devtools-proxy', 'vue-devtools-backend', 'recaptcha-setup'].includes(event.data.source)) {
        if (event.origin === this.iframe_origin) {

          let parsed_data = JSON.parse(event.data);

          if (parsed_data.hasOwnProperty('loaded')) {
            if (parsed_data.loaded) {
              this.iframe_loaded = true;
            } else {
              this.commenting_mode = false;
              $('body.loading > .pin-loader svg .shp1').animate({
                opacity: 0.05
              }, 100);
              this.iframe_loaded = false;
            }
            return false;
          }

          let {clientX, clientY, pageX, pageY, offsetX, offsetY} = JSON.parse(event.data),                                                // getting data from click on iframe area
              target = this.iframe_window.document.elementFromPoint(clientX, clientY),
              data = {
                target,
                pageX,
                pageY,
                clientX,
                clientY,
                offsetX,
                offsetY,
              };

          html.find('body').find('.highlight-comment').removeClass('highlight-comment');

          if (target.nodeName !== 'HTML') {
            this.showCommenting();
            // add pin
            let coordinates = attachPinToSite(data, this.settings);                                                    // set new temporary pin

            this.setLivepreviewSettings({
              actual_pin: {
                target: get_path(target),
                x: coordinates.left,
                y: coordinates.top,
                relative: coordinates.relative
              },
              comment_edit_mode: false,
              reply_edit_mode: false,
              running_code: false
            });

            $(this.iframe_window).trigger('scroll');                                                                    // update position of all pins
          }
        }
      });

      html.find('body').on('click', '*', function (event) {

        if (html.hasClass('visualback-proxy')) {

          event.preventDefault();
          event.stopImmediatePropagation();

          let target = $(this),
              id = target.attr('data-id');

          target.addClass('pause-animation');

          html.find('body').find('.highlight-comment').removeClass('highlight-comment')

          that.stopCSS();

          that.clearCommentFields();

          removeTemporaryPin();

          // open existing ping of comment
          if (target.hasClass('pin')) {

            if (target.attr('data-count') == that.settings.last_pin_count) return;

            comment_under_pin = that.comments.find(comment => id == comment.id);

            that.showCommentDetail(comment_under_pin)
          }

          return false;
        }
      });
    },
    afterLoadPage: function () {

      removePins(this.iframe);

      attachPinsToIframe(this.settings.resolution, this.iframe_window, this.comments, this.iframe)

      this.addIframeListener();
    },
    toggleProjectLike: function (event) {

      let that = this;

      that.site.auth_user_liked = !that.site.auth_user_liked;

      this.addRecaptchaToken(event, async function () {

        await that.toggleLike({
          id: that.site.id,
          type: 'project',
          "g-recaptcha": that.recaptcha_token
        });
      });
    },
    toggleShareSiteModal: function () {
      this.toggleShareSite({
        show_modal: true,
        site: this.site
      });
    },
    firstOpenByAuthor: function () {

      let that = this;

      if (!this.site.first_open && this.site.is_auth_user_collaborator) {   // only project collaborator at first open
        setTimeout(function () {
          that.toggleShareSiteModal();
        }, 10000);
      }
    },
    clearCommentSidebar: function () {
      removeTemporaryPin();
      this.stopCSS();
      this.clearCommentFields();
    }
  },
  async created() {

    this.site_rating = Number(this.site.rating[1]);
    this.actual_width = window.innerWidth || document.body.clientWidth;
    this.iframe_origin = (new URL(this.appUrl)).origin;

    this.setLivepreviewSettings({
      is_demo: this.site.identifier === this.constants.demo_identifier
    });

    await this.setComments(this.site.id);

    await this.setAuthUser();

    this.setLivepreviewSettings({
      open_sidebar: true,
      current_site: this.site,
      last_pin_count: this.comments.length ? this.comments[0].count + 1 : 1
    });

    this.firstOpenByAuthor();

    hide_loading_animation();
  }
}
</script>
