<template>
  <article class="col-xl-4 col-md-6 site" :key="index">
    <div class="box-item" :data-id="site.identifier">
      <span v-if="site.private" class="badge private">Private</span>
      <div class="screenshot">
        <a :href="routes.livepreview(site.identifier, site.slug)" target="_blank">
          <img :src="url(site.attachment.path)" alt="screenshot" v-if="site.attachment" ref="lazy-image">
        </a>
        <Actions
            :site="site"
            v-if="auth_user"
        />
      </div>
      <div class="info">
        <div class="site-title">
          <figure>
            <a :href="routes.profile(site.prototype_user.identifier)">
              <img :src="site.prototype_user.profile_photo_url" :alt="site.prototype_user.nickname">
            </a>
          </figure>
          <div>
            <h3>
              Published by

              <template v-if="this.site.users.length > 1">
                <a class="user" @click="openAuthorList">
                  {{ site.author_excerpt }}
                </a>
              </template>

              <a v-else :href="this.site.prototype_user.detail_url" class="user" target="_blank">
                {{ site.prototype_user.nickname }}
              </a>

            </h3>
            <h4 class="title">
              <a :href="routes.livepreview(site.identifier, site.slug)" target="_blank">{{ site.name }}</a>
            </h4>
          </div>
        </div>
        <div class="tags technologies" v-if="site.technologies.length">
          <span v-for="technology in site.technologies" :class="technology.slug">{{ technology.name }}</span>
        </div>
        <div class="tags" v-else-if="$gate.allow('update', 'site', auth_user, site)">
          <a :href="routes.site_edit(site.identifier)"
             class="edit-data">Fill in the technologies used</a>
        </div>
        <ul class="statistic-list">
          <li>
            <a :href="routes.livepreview(site.identifier, site.slug)" target="_blank" class="main-button">
             Open Project
            </a>
          </li>
          <li class="stats">
            <a class="like-container"
               :class="{liked: site.auth_user_liked, disabled: ! $gate.allow('can_like', 'site', auth_user, site)}"
               @click="toggleProjectLike"
               v-tooltip="`Likes`">
              <img :src="url('/img/heart.svg')" class="svg" alt="Heart">
              <span>{{ this.site_rating }}</span>
            </a>
            <a v-tooltip="`Views`" :href="routes.livepreview(site.identifier, site.slug)" target="_blank">
              <i class="far fa-eye"></i>
              <span>{{ this.site.views }}</span>
            </a>
            <a v-tooltip="`Comments`" :href="routes.livepreview(site.identifier, site.slug)" target="_blank">
              <i class="far fa-comment"></i>
              <span>{{ this.site.comments_count }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</template>
<script>
import Actions from "./Actions";
import {url} from '../../../includes/helpers';
import {mapActions, mapGetters, mapMutations} from "vuex";
import routes from "../../../includes/routes";
import {recaptchaMixin} from "../../../includes/mixins";

export default {
  components: {Actions},
  mixins: [recaptchaMixin],
  props: ['site', 'index'],
  data() {
    return {
      site_rating: null,
      routes: routes
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser'}),
  },
  methods: {
    ...mapMutations(['toggleListModal']),
    ...mapActions(['toggleLike']),
    url: url,
    openAuthorList: function () {

      let authors = this.site.users;

      this.toggleListModal({
        title: 'Project authors',
        items: authors,
        type: 'project',
        show_modal: true,
      });
    },
    toggleProjectLike: function (event) {

      if (!this.auth_user) return;

      let that = this;

      that.site_rating = that.site.auth_user_liked ? that.site_rating - 1 : that.site_rating + 1;
      that.site.auth_user_liked = !that.site.auth_user_liked;

      this.addRecaptchaToken(event, async function () {

        await that.toggleLike({
          id: that.site.id,
          type: 'project',
          "g-recaptcha": that.recaptcha_token
        });
      });
    }
  },
  created() {
    this.site_rating = Number(this.site.rating[1]);
  },
}
</script>
