<template>
  <div class="site-actions">
    <ul>
      <li>
        <a :href="routes.livepreview(site.identifier, site.slug)" target="_blank">
          <i class="fas fa-eye"></i>
        </a>
      </li>
      <li v-if="auth_user && !site.is_auth_user_collaborator">
        <a @click="reportSite" class="report" :class="{active: site.auth_user_reported}"
           :title="site.auth_user_reported ? 'Already reported project' : ''"
           v-tooltip="`Report`">
          <i class="fas fa-bug"></i>
        </a>
      </li>
      <li v-if="$gate.allow('update', 'site', auth_user, site)">
        <a :href="routes.site_edit(site.identifier)"
           v-tooltip="`Edit`">
          <i class="fas fa-edit"></i>
        </a>
      </li>
      <li v-if="$gate.allow('update', 'site', auth_user, site)">
        <a @click="deleteSite" class="btn_delete"
           v-tooltip="`Delete`">
          <i class="fas fa-trash-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import {request_options, url} from "../../../includes/helpers";
import routes from "../../../includes/routes";
import {mapGetters, mapMutations} from "vuex";
import {recaptchaMixin} from "../../../includes/mixins";

export default {
  props: ['site'],
  mixins: [recaptchaMixin],
  data() {
    return {
      routes: routes
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser'}),
  },
  methods: {
    ...mapMutations(['openModal', 'toggleReportModal']),
    url: url,
    deleteSite: function (event) {

      let that = this,
          options;

      this.addRecaptchaToken(event, async function () {

        options = request_options('POST', routes.delete_site(that.site.identifier, that.site.slug), {
          identifier: that.site.identifier,
          slug: that.site.slug,
          "g-recaptcha": that.recaptcha_token
        });

        that.openModal({
          method: 'DELETE',
          request_options: options,
          title: `Project deletion`,
          content: `Would you like to remove the project ${that.site.name}? You will lose your registered project permanently and there is no possibility of recovering it back!`,
          item: that.site,
          type: 'site',
        });
      });
    },
    reportSite: function () {

      if ($(this).hasClass('active')) {
        return false;
      }

      this.toggleReportModal({
        show_modal: true,
        type: 'project',
        data: {
          request_options: request_options('POST', routes.report_model(this.site.id, 'project')),
          item: this.site,
        }
      });
    }
  },
}
</script>
