<template>
  <div class="col-xl-4 col-lg-6 col-md-6 fake-site">
    <div class="box-item">
      <div class="fake-card">
        <div class="fake-screenshot is-loading"></div>
        <div class="fake-container">
          <div style="display:flex;width:100%;">
            <div class="fake-image is-loading"></div>
            <div class="fake-description is-loading"></div>
          </div>
          <div style="display:flex;">
            <div class="fake-button is-loading"></div>
            <div class="fake-button is-loading"></div>
          </div>
          <div class="fake-comment-counter is-loading"></div>
          <div class="fake-views is-loading"></div>
        </div>
      </div>
    </div>
  </div>
</template>