<template>
  <div class="col-xl-4 col-lg-6 col-md-6 banned-site">
    <div class="box-item">
      <div class="banned-card">
        <div class="banned-screenshot">
          <p>Project <span class="bold">{{ site.name }}</span> was reported and temporarily banned.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {url} from "../../../includes/helpers";

export default {
  props: ['site'],
  methods: {
    url: url
  }
}
</script>
