<template>
  <div class="default-form">
    <form
        class="register-form"
        v-if="this.auth_user"
        @submit="firstStepRegisterSite"
    >
      <div class="form-group">
        <input type="text" v-model="site_url" placeholder="https://awesomewebsite.com"
               ref="register_input" id="register-input">
        <button type="submit" class="button" :disabled="site_url.length < 3">Register project</button>
      </div>
    </form>
  </div>
</template>
<script>
import {mapGetters, mapMutations} from "vuex";
import {add_https} from "../../../includes/helpers";
import routes from "../../../includes/routes";
import axios from "axios";
import {recaptchaMixin} from "../../../includes/mixins";

export default {
  mixins: [recaptchaMixin],
  data() {
    return {
      site_url: '',
    }
  },
  computed: {
    ...mapGetters({
      auth_user: 'getAuthUser',
      is_registering_site: 'getIsRegisteringSite',
      get_site: 'getSites'
    })
  },
  methods: {
    ...mapMutations(['setIsRegisteringSite', 'setFlashMessage', 'toggleRegisterSiteModal']),
    firstStepRegisterSite: function (event) {

      event.preventDefault();

      let that = this,
          site,
          data;

      if (this.site_url !== '' && !this.is_registering_site) {

        this.addRecaptchaToken(event, ()=> {

          data = {
            url: add_https(this.site_url),
            "g-recaptcha": this.recaptcha_token
          };

          // todo: prepis do action
          axios.post(routes.store_site(), data)
              .then((json) => {

                if (!json.data.error) {
                  site = json.data.site;

                  that.toggleRegisterSiteModal(site);

                } else {
                  that.site_url = '';
                  // Vuex
                  that.setFlashMessage({
                    message: json.data.message,
                    type: json.data.error ? 'error' : 'success'
                  });

                  that.setIsRegisteringSite(false);
                }
              })
              .catch((json) => {
                that.site_url = '';
                // Vuex
                that.setFlashMessage({
                  message: json.data.message,
                  type: 'error'
                });

                that.setIsRegisteringSite(false);

                that.$refs.register_input.focus();
              });
        });

      } else if (this.site_url === '') {
        // Vuex
        this.setFlashMessage({
          message: 'URL field is empty',
          type: 'error'
        });

        this.$refs.register_input.focus();
      }
    },
  },
}
</script>
