<template>
  <div class="search-container form-group" :class="{active:show_input}">
    <!--    <i class="fas fa-search" @click="toggleInput"></i>-->
    <div class="icon-container" @click="toggleInput" v-show="!show_input">
      <img :src="url('/img/search.svg')" alt="Search" class="svg">
    </div>
    <div class="icon-container" v-show="show_input">
      <i class="fas fa-times"></i>
    </div>
    <input class="form-control search-input" type="text" v-model="search" name="search"
           @input="filterSearch" placeholder="Search"
           ref="search_input" autocomplete="off" @blur="blurSearch">
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";
import {debounce, replace_img_by_svg, url} from "../../../includes/helpers";

export default {
  data() {
    return {
      show_input: false
    }
  },
  computed: {
    ...mapGetters({pagination: 'getPagination'}),
    order_by: {
      get() {
        return this.$store.state.filtering_criteria.order_by;
      },
      set(value) {
        this.$store.commit('setFilterOrderBy', value);
      }
    },
    search: {
      get() {
        return this.$store.state.filtering_criteria.search;
      },
      set(value) {
        this.$store.commit('setFilterSearch', value);
      }
    }
  },
  methods: {
    ...mapMutations(['setFilteredSites', 'setPageReady', 'setPagination']),
    ...mapActions(['setSites']),
    url: url,
    filterOrderBy: async function (event) {

      this.setPageReady(false);

      await this.setSites({
        limit: this.pagination.per_page,
        offset: 0,
        query: `?order_by=${encodeURI(this.order_by)}`
      });

      this.setAfterUpdateCriteria();

    },
    filterSearch: debounce(async function (event) {
      // if search is not empty, but has less than 3 letters
      if (this.search.length && this.search.length < 3) return;

      this.setPageReady(false);

      await this.setSites({
        limit: this.pagination.per_page,
        offset: 0,
        query: `?search=${encodeURI(this.search)}`
      });

      this.setAfterUpdateCriteria();

    }, 1000),
    toggleInput: function (event) {
      this.show_input = !this.show_input;
      this.$refs['search_input'].focus();
    },
    setAfterUpdateCriteria: function () {

      this.setPagination({
        page: 1,
        start: 0,
        end: this.pagination.per_page,
        has_more: true
      });

      this.setFilteredSites();

      this.setPageReady(true);

      setTimeout(function () {
        replace_img_by_svg();
      }, 500)
    },
    blurSearch: function () {
      this.show_input = false;
    }
  },
  mounted() {
    replace_img_by_svg();
  }
}
</script>
