<template>
  <div id="error">
    <Header/>

    <section v-if="statusCode === '404'" class="content container">
      <img :src="url(`/img/sketch/404.svg`)" alt="404" style="max-height: 200px;">
      <p>
        Sorry, we couldn't find this page.
      </p>
      <a :href="routes.home()" class="button">Back to home</a>
    </section>
    <section v-else class="content container">
      <h1>{{ statusCode }}</h1>
      <p>
        {{ message }}
      </p>

      <a :href="routes.home()" class="button">Back to home</a>
    </section>

    <Footer/>
    <FlashMessage/>
  </div>
</template>

<script>
import {hide_loading_animation, url} from "../../includes/helpers";
import FlashMessage from "../partials/Layout/FlashMessage";
import Footer from "../partials/Layout/Footer";
import Header from "../partials/Layout/Header";
import routes from "../../includes/routes";

export default {
  props: ['statusCode', 'message'],
  components: {Header, Footer, FlashMessage},
  data() {
    return {
      routes: routes
    }
  },
  methods: {
    url: url
  },
  created() {
    hide_loading_animation();
  }
}
</script>
