<template>
  <div id="error">
    <Header/>

    <section class="content container">
      <img :src="url(`/img/sketch/mobile-livepreview.svg`)" alt="mobile-livepreview" style="max-height: 200px;">
      <p>
        Sorry, Live preview works only for desktops.<br>
      </p>
      <a :href="routes.home()" class="button">Back to home</a>
    </section>
    <Footer/>
    <FlashMessage/>
  </div>
</template>

<script>
import {hide_loading_animation, url} from "../../includes/helpers";
import FlashMessage from "../partials/Layout/FlashMessage";
import Footer from "../partials/Layout/Footer";
import Header from "../partials/Layout/Header";
import routes from "../../includes/routes";

export default {
  props: ['statusCode', 'message'],
  components: {Header, Footer, FlashMessage},
  data() {
    return {
      routes: routes
    }
  },
  methods: {
    url: url
  },
  created() {
    hide_loading_animation();
  }
}
</script>
