@import "~vue-select/src/scss/vue-select";

/* Setup */
@import "includes/mixins";
@import "includes/variables";

@import "includes/style";

/* Components */
@import "components/layout";
@import "components/modal";
@import "components/flash-message";

.page {

    &#register,
    &#login,
    &#forgot-password {
        @include flexbox;
        height: 100%;

        .back-container {
            max-width: 100%;
            width: 440px;
            padding: 0 20px;

            .back {
                font-size: $normal-font-size;
                color: $default-color;
            }
        }

        .main-button {
            width: 100%;
            font-size: 16px;
            padding: 14px;
            margin-left: 0;
            margin-right: 0;
        }

        section.left,
        section.right {
            @include flexbox;
            @include flex-direction(column);
            @include align-items(center);
            @include justify-content(center);
            width: 50%;
        }

        section.left {
            background-color: $background-color;

            form {
                margin: 10px auto 20px auto;

                p a {
                    color: $highlight-color;
                }
            }

            small {
                margin-bottom: 10px;
                line-height: 1.5;
                font-size: 11px;
            }
        }

        section.right {
            background-color: $background-color;

            .slogan-container {
                text-align: center;
                max-width: 500px;

                h3 {
                    color: $default-color;
                    margin-top: 40px;
                    font-weight: $bold-font-weight;
                }

                .logo {
                    width: 250px;
                }

                p {
                    font-size: 18px;
                    line-height: 1.8;
                }
            }
        }
    }

    &#register,
    &#login,
    &#forgot-password,
    &#verification-account,
    &#reset-password {
        h1 {
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        form {
            @include flexbox;
            @include flex-wrap(wrap);
            @include flex-direction(column);
            @include align-items(center);
            height: auto;
        }
    }

    &#register,
    &#login,
    &#forgot-password,
    &#reset-password {
        form {
            width: 440px;
            padding: 25px 20px;
        }
    }

    &#register,
    &#verification-account {
        .form-group {
            input {
                padding: 12px 30px 12px 14px;
            }
        }
    }

    &#register {

        .toggle-checkbox-container {
            margin: 10px 0 2px;
            @include align-items(flex-start);

            label {
                margin-top: 2px;
            }

            p {
                font-size: 12px;
            }
        }

        .form-group {
            margin-bottom: 15px;
        }
    }

    &#login {
        .forgot-password {
            width: 100%;
            text-align: right;

            a {
                color: $light-color;
                font-size: 13px;
            }
        }
    }

    &#register,
    &#login {
        .separator {
            width: 100%;
            text-align: center;
            position: relative;
            margin: 40px 0 15px 0;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);

            &:before {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background-color: $lighter-color;
            }

            &:after {
                content: "OR";
                display: inline-block;
                background-color: #fff;
                color: $light-color;
                @include position-absolute($top: -14px);
                padding: 0 7px;
            }
        }

        .social-links {
            margin-top: 20px;
            width: 100%;

            a {
                border: 1px solid $lighter-color;
                @include border-radius($button-radius);
                @include flexbox;
                @include align-items(center);
                @include flex-grow(1);
                padding: 7px 10px;
                margin: 0 4px;
                color: $default-color;
            }

            a img {
                margin: 0 15px 0 0;
                max-width: 22px;
            }

            a span {
                font-size: 13px;
                font-weight: $normal-font-weight;
            }
        }
    }

    &#reset-password {
        background-color: $background-color;
        @include flexbox;
        @include align-items(center);
        height: 100%;

        .logo-container {
            text-align: center;

            img {
                max-width: 180px;
                margin-bottom: 5px;
            }
        }

        p {
            margin: 10px 0 20px 0;
            font-size: $normal-font-size;
        }

        .step {
            width: 100%;
        }

        .button-container {
            text-align: center;
        }
    }

    &#verification-account {
        background-color: $background-color;
        @include flexbox;
        @include align-items(center);
        height: 100%;

        .hint-icon {
            top: unset;
            height: 44px;
        }

        .logo-container {
            text-align: center;

            img {
                max-width: 180px;
                margin-bottom: -5px;
            }
        }

        form {
            width: 480px;
            max-width: 100%;
            padding: 30px 25px;
        }

        .button-container {
            @include flexbox;
            @include justify-content(center);
        }

        h1 span {
            @include flexbox;
            @include align-items(center);
            @include position-absolute($right: 0, $top: -18px);
            color: $light-color;
            font-size: $small-font-size;
        }

        .step {
            padding-top: 15px;
            width: 100%;

            > p {
                margin: 10px 0 20px 0;
                font-size: $normal-font-size;
            }
        }

        .toggle-checkbox-container {
            margin: 10px 0;
        }

        .vs__clear {
            display: none;
        }
    }

    &#verification-account {
        h1 {
            position: relative;
            width: 100%;
            text-align: center;
        }

        .toggle-checkbox-container {
            p {
                text-align: left;
            }
        }

        .box-item {
            margin: 20px auto 20px auto;
        }
    }

    &#verification-account,
    &#forgot-password {
        p {
            text-align: center;
            font-size: 12px;
        }

        h1 {
            margin-bottom: 10px;
        }
    }

    &#reset-password {
        form {
            margin: 0 auto;
        }
    }

    .main-button,
    .secondary-button {
        &.register,
        &.login,
        &.next,
        &.prev {
            font-size: $normal-font-size;
            margin: 20px 4px 0;
            padding: 10px 20px;
            @include border-radius(4px);
        }
    }
}

.hint-icon {
    @include flexbox;
    @include align-items(center);
    @include position-absolute($right: 12px, $top: 0, $bottom: 0);
}

@import "responsive/responsive-lg";
@import "responsive/responsive-md";
@import "responsive/responsive-sm";
@import "responsive/responsive-xs";
