@import "includes/mixins";
@import "includes/variables";

/* Tags */
::selection {
    background-color: $highlight-color;
    color: #fff; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background-color: $highlight-color; /* Gecko Browsers */
    color: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

::selection {
    background-color: $highlight-color;
    color: #fff; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background-color: $highlight-color; /* Gecko Browsers */
    color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $light-color;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $light-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $light-color;
}

body,
html {
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-size: $f_size;
    line-height: $f_lineheight;
    font-family: $font-family;
    background: $c_secondary;
    color: $default-color;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #app {
        height: 100%;
    }
}

body * {
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
    margin-bottom: .5em;
}

ul {
    list-style: none;
    padding-left: 0;
}

hr {
    border-top: 1px solid $lighter-color;
    margin-top: 15px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

figure {
    margin: 0 0 1rem;
}

a,
a:hover {
    text-decoration: none;
}

button:focus,
button:active {
    outline: none;
}

p, a, span, small, strong, label, input, textarea, button {
    //letter-spacing: 0.5px;
}

p, a, span, h1, h2, h3, h4, h5, h6,
small, strong, label, input, textarea, button, em, select {
    //color: $default-color;
    font-family: $font-family;
    //font-family: "Open Sans", sans-serif;
}

label {
    margin-bottom: 6px;
    display: inline-block;
}

label,
small {
    color: $light-color;
    font-weight: $normal-font-weight;
    font-size: $small-font-size;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

/* Text elements */
p, a, span {
    &.bold {
        font-weight: $bold-font-weight;
    }
}

/*==================================DISPLAY SETTINGS======================================*/
@media (max-width: 575px) {
    .hidden-xs-down {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .hidden-xs-up {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg-up {
        display: none !important;
    }
}

@for $i from 0 through 10 {
    .pt#{$i} {
        padding-top: 20px * $i;
    }
    .pb#{$i} {
        padding-bottom: 20px * $i;
    }
}

@for $i from 0 through 10 {
    .mt#{$i} {
        margin-top: 20px * $i;
    }
    .mb#{$i} {
        margin-bottom: 20px * $i;
    }
}

* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-red {
    color: red;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.button {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-weight: $bold-font-weight;
    color: $c_secondary;
    background-color: $highlight-color;
    padding: 0 35px;
    transition: all .2s;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 12px 36px rgba(black, .15);
    font-size: $normal-font-size;

    &:hover {
        background: darken($highlight-color, 10%);
    }

    &.flat {
        width: 100%;
    }

    svg, i {
        &:last-child {
            margin-left: 8px;
        }

        &:first-child {
            margin-right: 8px;
        }
    }

    &.ghost {
        background: transparent;
        border: 3px solid $highlight-color;
        color: $highlight-color;
        box-shadow: 0 0 0 0 $highlight-color inset;
        transition: all .2s;

        &:hover {
            box-shadow: 0 0 0 30px $highlight-color inset;
            color: $c_secondary;
        }
    }
}

.link {
    height: 60px;
    display: inline-flex;
    padding: 0 25px;
    color: inherit;
    text-decoration: underline;
}

svg {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    width: 1em;
}

body.loading {
    overflow: hidden;
}

.pin-loader {
    background-color: $lighter-color;
    z-index: 999999999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    .text {
        margin-top: 12px;
    }

    #loading-pin {
        font-size: 100px;

        .shp1 {
            fill: #500ade;
            animation: color-transition 1.2s infinite;
        }

        .shp0 {
            fill: #ffd500;
            animation: bounce 0.9s infinite;
        }
    }
}

.clouds {
    width: 100%;
    height: 100px;
    display: block;
    margin-top: -100px;
    fill: white;
}

.default-form {
    form {
        input {
            height: 60px;
            width: 100%;
            font-family: $font-family;
            border-radius: 5px;
            border: none;
            padding: 0 25px;
        }
    }
}

/* Headings */
.title {
    font-weight: $normal-font-weight;
    color: $default-color;
}

/* Buttons */
.main-button,
.secondary-button,
.danger-button {
    letter-spacing: .4px;
    padding: 10px 14px;
    font-weight: $bold-font-weight;
    font-size: $normal-font-size;
    line-height: 1;
    text-align: center;
    @include transition(all #{$transition-time} ease-in-out);
    @include border-radius($button-radius);
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.main-button {
    color: #fff;
    background-color: $highlight-color;
    border: 1px solid $highlight-color;

    &:hover {
        background-color: darken($highlight-color, 10%);
        color: #fff;
    }

    &[disabled] {
        background-color: lighten($highlight-color, 20%);
        border: 1px solid lighten($highlight-color, 20%);
    }
}

.secondary-button {
    background-color: #fff;
    color: $default-color;
    font-weight: $normal-font-weight;
    border: none;
    //border: 1px solid #d4d4d4;

    &:hover {
        color: $default-color;
        background-color: #fff;
    }
}

.danger-button {
    border: 1px solid #ff5d78;
    background-color: #fff;
    color: #ff5d78;

    &:hover {
        background-color: #ff5d78;
        color: #fff;
    }
}

/* Inputs */
.form-group {
    margin: 0 0 6px 0;
    width: 100%;
    display: block;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    position: relative;

    & label {
        width: 100%;
        font-weight: $normal-font-weight;
        color: $light-color;
        padding-left: 8px;
    }

    & input:read-only,
    & textarea:read-only {
        background-color: $lighter-color;
        color: $light-color;
    }

    & input:not(.vs__search),
    & textarea,
    & select {
        line-height: 1;
        width: 100%;
        padding: 12px 14px;
        @include transition(#{$transition-time});
        height: auto;
        font-size: $normal-font-size;
    }

    & textarea,
    & select,
    & input,
    & .vs__dropdown-toggle {
        border: 1px solid $lighter-color;
        @include border-radius($button-radius);
        line-height: 1;
    }

    & input:not(.vs__search):focus,
    & .vs__dropdown-toggle:focus-within,
    & textarea:focus,
    & select:focus {
        outline: none;
    }

    & #vs1__listbox {
        @include box-shadow(rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px);
        width: auto;
        left: 1px;
        right: 1px;
        max-height: 140px;

        & li {
            font-size: $normal-font-size;
        }
    }

    & input[type=checkbox],
    & input[type=radio] {
        margin-left: 0;

        & ~ label {
            margin-left: 20px;
        }
    }

    & select {
        font-size: $small-font-size;
    }
}

.v-select {
    & .vs__selected {
        color: #495057;
        border: none;
        font-size: $normal-font-size;
        //height: 100%;
        //margin: 0;
        padding: 10px;
    }

    & .vs__search {
        padding: 8px;
    }

    & .vs__selected {
        //padding: 5px;
        //margin-right: 4px;
    }

    & .vs__deselect {
        margin-left: 5px;
        color: $light-color;
    }

    & .vs__actions {
        margin-bottom: 4px;
    }

    & .vs__clear {
        line-height: 1;
        margin-top: -2px;
    }

    & .vs__clear svg {
        fill: $light-color;
    }

    & .vs__search,
    & .vs__selected-options {
        margin-top: 0;
    }

    & .vs__search {
        color: #495057;
        font-size: $normal-font-size;
        border: none;
    }

    & .vs__dropdown-toggle {
        padding: 4px;
    }

    & .vs__dropdown-menu,
    & .vs__dropdown-toggle {
        @include box-shadow(none);
    }

    & .vs__dropdown-menu {
        border: 1px solid #f9f9f9;
        @include border-radius(0 0 3px 3px);
        font-family: $font-family;
    }

    & .vs__dropdown-menu .vs__dropdown-option:hover,
    & .vs__dropdown-menu .vs__dropdown-option--highlight {
        background-color: #146ef3f5;
    }

    & .vs__open-indicator {
        fill: $light-color;
        height: auto;
    }

    & .vselect-container {
        padding-right: 7px;
    }
}

.toggle-checkbox-container {
    @include flexbox;
    @include align-items(center);
    width: 100%;

    & p {
        margin: 0 0 0 10px;
        font-size: $small-font-size;
        font-weight: $normal-font-weight;
        color: $light-color;
    }

    & .toggle-checkbox {
        position: relative;
        width: 32px;
        height: 18px;
        margin-bottom: 0;
        @include flexbox;
        @include flex(0, 0, 32px);

        & input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        & .slider {
            @include position-absolute($top: 0, $left: 0, $right: 0, $bottom: 0);
            cursor: pointer;
            background-color: #ccc;
            @include transition(#{$transition-time});
        }

        & .slider:before {
            margin-top: 0.3em;
            @include position-absolute;
            content: "";
            height: 10px;
            width: 10px;
            left: 4px;
            bottom: 4px;
            background-color: $c_secondary;
            @include transition(#{$transition-time});
        }

        & input:checked + .slider {
            background-color: $highlight-color;
        }

        & input:focus + .slider {
            @include box-shadow(0 0 1px $highlight-color);
        }

        & input:checked + .slider:before {
            @include transform(translateX(14px));
        }

        & .slider.round {
            @include border-radius(20px);
        }

        & .slider.round:before {
            @include border-radius(50%);
        }
    }
}

.password-container {
    position: relative;

    .show-password {
        border: 0;
        @include border-radius($button-radius);
        color: $light-color;
        cursor: pointer;
        font-size: 10px;
        font-weight: $bold-font-weight;
        margin-right: 5px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        text-transform: uppercase;
        background-color: #fff;
        @include position-absolute($right: 0, $bottom: 7px);
        @include flexbox;
        @include align-items(center);

        &:hover, &.active, .my-toggle:focus {
            background-color: #eee;
            color: #555;
            outline: transparent;
        }

        &.hideShowPassword-wrapper {
            width: 100% !important;
        }
    }
}

.grecaptcha-badge {
    visibility: hidden !important;
}

.copy-clipboard {
    padding: 0 10px;

    .form-group {
        position: relative;
        padding: 6px 10px;
        @include border-radius(4px);
        border: 1px solid $lighter-color;
        @include flexbox;
        @include justify-content(space-between);

        button {
            width: 50px;
            border: none;
            @include position-absolute($top: 0, $bottom: 0, $right: 0);
            cursor: pointer;
            @include transition(#{$transition-time});

            &:hover {
                background-color: darken(#efefef, 5%);
            }

            i {
                color: $default-color;
            }
        }
    }
}

.accordion {
    padding: 40px 0;

    .item {
        max-width: 80%;
        margin: 0 auto;

        h3 {
            border: solid $lighter-color;
            border-width: 0 0 1px 0;
            color: $default-color;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            outline: none;
            @include transition($transition-time);
            @include flexbox;
            @include justify-content(space-between);

            i {
                color: $highlight-color;
            }
        }

        &:last-child h3 {
            border: none;
        }

        .text {
            padding: 0 18px;
            background-color: white;
            overflow: hidden;
        }
    }
}

.like-container {
    &.disabled {
        pointer-events: none;
    }

    svg {
        width: auto;
    }
}

.auth {
    .like-container {
        cursor: pointer;

        &:not(.disabled) {
            &:hover g,
            &.liked g {
                fill: #fa2a00;
                stroke: #fa2a00;
            }
        }
    }
}

/* OTHERS */
.hidden {
    display: none;
}

.tooltip {
    display: block !important;
    z-index: 10000;
    font-size: 11px;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover {
        $color: #f9f9f9;

        .popover-inner {
            background: $color;
            color: black;
            padding: 24px;
            border-radius: 5px;
            box-shadow: 0 5px 30px rgba(black, .1);
        }

        .popover-arrow {
            border-color: $color;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}

.hint-icon {
    i {
        @include transition(0.3s);
        color: $light-color;

        &:hover {
            color: $highlight-color;
        }
    }
}

.share-network-facebook,
.share-network-twitter,
.share-network-reddit {
    color: #fff;
}

.share-network-facebook {
    background-color: #4267B2;
}

.share-network-reddit {
    background-color: #FF4500;
}

.share-network-twitter {
    background-color: #1DA1F2;
}

.no-projects,
.not-found {
    width: 100%;
    min-height: 400px;
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    h3,
    p {
        margin-top: 10px;
    }

    h3 {
        font-size: $title-font-size;
    }

    p {
        font-size: $subtitle-font-size;
    }
}

.no-projects {
    img {
        margin-bottom: 10px;
        width: 350px;
        max-width: 350px;
    }
}

.not-found {
    img {
        width: 150px;
    }
}
