@import "includes/mixins";
@import "includes/variables";

@import "components/animations";
@import "components/source-code";
@import "components/loader";
@import "components/modal";
@import "components/flash-message";
@import "components/file-uploader";

html {
    overflow: hidden;

    #live-preview {
        .page {
            height: 100%;
            width: 100%;
            @include flexbox;
            @include flex-direction(row-reverse);

            .iframe-container {
                overflow-y: scroll;
                width: 100%;
                height: calc(100% - 60px);
                margin-left: 0;
                border: none;
                @include transition(all #{$transition-time});
                z-index: 10;
                background-color: #ededed;
                position: relative;

                .pin-loader {
                    position: absolute;
                }

                &.active {
                    margin-left: 310px;
                }

                &.loaded {
                    background-color: #fff;
                }

                &.commenting-mode {
                    border: 4px solid $highlight-color;
                }

                div {
                    &.desktop,
                    &.tablet,
                    &.mobile {
                        width: 100%;
                        height: 100%;
                    }

                    &.desktop {
                        display: none;
                    }

                    &.phone:after,
                    &.tablet:after {
                        content: "";
                        display: block;
                        border: 2px solid #ededed;
                        @include position-absolute($right: 0, $left: 0);
                        margin: 0 auto 50px;
                        @include border-radius(50%);
                        height: 40px;
                        width: 40px;
                    }

                    &.tablet,
                    &.phone {
                        background-position: center;
                        background-repeat: no-repeat;
                        @include box-shadow(1px 1px 6px #0000004a);
                        @include border-radius(30px);
                        background-color: $c_secondary;
                        margin: 40px auto;
                        position: relative;
                    }

                    &.phone {
                        width: 365px;
                        height: 617px;

                        &:after {
                            bottom: -38px;
                        }
                    }

                    &.tablet {
                        width: 578px;
                        height: 714px;

                        &:after {
                            bottom: -40px;
                        }
                    }
                }

                iframe {
                    height: 100%;
                    width: 100%;
                    border: none;

                    &.tablet,
                    &.phone {
                        @include position-absolute($top: 70px, $left: 0, $right: 0);
                        margin: auto;
                        @include border-radius(8px);
                        border: 1px solid #dadada;
                    }

                    &.tablet {
                        width: 542px;
                        height: 627px;
                    }

                    &.phone {
                        width: 339px;
                        height: 526px;
                    }
                }
            }

            main {
                width: 100%;
                height: 100%;
            }

            & .bottom-bar {
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 60px;
                border-top: 1px solid $lighter-color;
                background-color: $c_secondary;
                z-index: 99;

                .mode {
                    &.disabled * {
                        pointer-events: none;
                    }
                }

                .like-container {
                    margin: 0 15px 0 0;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                .resolution,
                .profile {
                    max-height: 100%;
                    width: 350px;
                    @include flex(0 0 350px);

                    a {
                        color: $default-color;
                        padding-left: 0;
                        @include flexbox;
                    }
                }

                .resolution {
                    padding: 10px 5px;
                    @include flexbox;
                    @include justify-content(flex-start);

                    a {
                        border: 1px solid $lighter-color;
                        @include border-radius(50%);
                        cursor: pointer;
                        color: #555;
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(center);
                        margin: 0 3px;

                        &.disabled {
                            border-color: #e1e8ed;
                            background-color: #e1e8ed;
                            color: #303235;
                        }
                    }
                }

                .profile {
                    text-align: right;
                    padding: 10px 15px 10px 5px;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(flex-end);

                    .user {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            @include border-radius(50%);
                            display: block;
                        }
                    }

                    .navigation-link {
                        img {
                            @include transform(scale(-1, 1));
                            margin-left: 5px;
                            margin-top: -2px;
                        }
                    }
                }

                .resolution a,
                .user,
                .social-network a {
                    width: 38px;
                    height: 38px;
                }

                .resolution,
                .social-network {
                    a {
                        margin: 0 3px;

                        i {
                            font-size: 16px;
                        }
                    }
                }

                .profile {
                    .navigation-link {
                        margin-left: 20px;
                        @include flexbox;
                        @include align-items(center);
                        font-size: $normal-font-size;

                        i {
                            @include transform(rotate(180deg) scaleY(-1));
                            display: inline-block;
                            margin-left: 4px;
                        }
                    }

                    .share {
                        color: #fff;
                        padding: 0 14px;
                        font-weight: $normal-font-weight;
                        @include border-radius(20px);
                        height: 38px;
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(center);
                        margin-right: 15px;
                        @include border-radius(20px);
                        cursor: pointer;

                        i {
                            margin-right: 5px;
                        }
                    }

                    .social-network {
                        @include flexbox;
                        @include align-items(center);
                        margin-right: 15px;

                        a {
                            @include flexbox;
                            @include justify-content(center);
                            @include align-items(center);
                            @include border-radius(50%);
                            color: #fff;

                            &.share-network-facebook {
                                background-color: #4064ac;
                                padding: 0;
                            }

                            &.share-network-linkedin {
                                background-color: #0178b5;
                                padding-bottom: 3px;
                                padding-left: 1px;
                            }

                            &.share-network-twitter {
                                background-color: #37b9ff;
                                padding: 0;
                            }
                        }
                    }
                }

                .share,
                .resolution a {
                    font-size: $normal-font-size;
                }

                .resolution a.active,
                a.share {
                    border: 1px solid $highlight-color;
                    background-color: $highlight-color;
                    color: #fff;
                }

                .toggle-checkbox-container {

                    p {
                        font-size: 14px;
                        margin: 0 10px;
                        cursor: pointer;
                        color: $default-color;
                        font-weight: $bold-font-weight;
                    }

                    .toggle-checkbox {
                        width: 45px;
                        height: 24px;
                        @include flex(0, 0, 45px);

                        .slider {
                            &.active {
                                background-color: $highlight-color;
                            }

                            &:before {
                                height: 16px;
                                width: 16px;
                            }
                        }

                        input:checked + .slider {
                            background-color: $highlight-color;
                        }

                        input:checked + .slider:before {
                            @include transform(translateX(20px));
                        }
                    }
                }
            }

            .card {
                background-color: $c_secondary;
                @include box-shadow(rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px);
                @include border-radius($button-radius);
                margin: 0 0 10px 0;
            }

            aside {
                @include position-absolute($top: 0, $left: 0);
                height: calc(100% - 50px);
                width: 310px;
                overflow-y: scroll;
                @include transition(all #{$transition-time});
                background-color: #eef3f7;
                border-right: 1px solid $lighter-color;

                #detail-sidebar,
                #listing-sidebar,
                #comment-sidebar {
                    & > .container {
                        padding: 0 10px 18px;
                        background-color: #eef3f7;
                    }
                }

                .back-to-comments {
                    cursor: pointer;
                    background-color: $c_secondary;
                    font-size: $small-font-size;
                    padding-left: 25px;
                }

                .like-container {
                    svg {
                        width: 17px;
                        height: auto;
                    }
                }

                .back-to-comments,
                .like-container {
                    @include flexbox;
                    @include align-items(center);
                }

                .published,
                .uri {
                    display: inline-block;
                    font-size: $small-font-size;
                    font-style: initial;
                    color: #929191;
                }

                .uri {
                    letter-spacing: 0.5px;
                    padding: 0 8px 0 8px;
                    margin: 0 0 0 5px;
                    width: auto;
                    background-color: transparent;
                }

                .published {
                    padding: 0 0 0 8px;
                    width: auto;
                    white-space: nowrap;
                    font-size: 10px;
                }
            }

            #listing-sidebar,
            #detail-sidebar {
                .card {

                    .comment.main {
                        padding-bottom: 10px;

                        .user {
                            img {
                                margin-left: -15px;
                            }
                        }
                    }

                    .card-body {
                        @include flexbox;
                        @include flex-wrap(wrap);

                        ul {
                            text-align: right;
                            @include flexbox;
                            margin: 0 0 5px 0;

                            li {
                                a {
                                    background-color: #fff;
                                    color: $light-color;
                                }
                            }
                        }

                        .meta {
                            @include flexbox;
                            @include justify-content(space-between);
                            @include align-items(center);
                            width: 100%;

                            .user {
                                @include flexbox;
                                @include align-items(center);

                                img {
                                    width: 32px;
                                    height: 32px;
                                    @include border-radius(50%);
                                }

                                a {
                                    padding-left: 10px;
                                    font-size: $normal-font-size;
                                    color: $default-color;
                                }
                            }
                        }

                        .actions {
                            @include flexbox;
                            @include align-items(center);
                            flex: 0 0 100%;
                        }

                        p {
                            margin-bottom: 10px;
                            margin-top: 7px;
                            font-size: $small-font-size;
                            word-break: break-word;
                        }
                    }
                }
            }

            #detail-sidebar {
                padding-top: 50px;

                .attachment {
                    .actions {
                        @include flexbox;
                        @include justify-content(center);
                        @include align-items(center);

                        .toggle-code {
                            margin-left: 10px;
                            font-size: $subtitle-font-size;
                            font-weight: $bold-font-weight;
                            @include border-radius(50%);
                            border: 2px solid #a6aaaf;
                            cursor: pointer;
                            @include transition(#{$transition-time});
                            width: 20px;
                            height: 20px;
                            @include flexbox;
                            @include align-items(center);
                            @include justify-content(center);

                            i.play {
                                padding: 0 0 0 3px;
                            }

                            &:hover {
                                color: $highlight-color;
                                border-color: $highlight-color;
                            }
                        }
                    }
                }
            }

            #detail-sidebar,
            #comment-sidebar {
                .attachment {
                    @include flexbox;
                    @include justify-content(space-between);
                    @include align-items(center);
                    width: 100%;
                    margin: 5px 0;
                    padding: 5px 5px 5px 10px;
                    border: 1px solid #eaeaea;
                    @include border-radius($button-radius);
                    background-color: #f3f2f3;

                    a {
                        @include flexbox;
                        color: #a6aaaf;
                        @include transition(#{$transition-time});
                        font-size: $small-font-size;
                    }
                }
            }

            // Comment detail sidebar Section
            #detail-sidebar {

                .edit-mode {
                    textarea {
                        font-size: $small-font-size;
                        line-height: $f_lineheight;
                        padding: 8px;
                    }
                }

                .pin {
                    z-index: 1;
                    border: 1px solid #fff !important;
                    @include box-shadow(0 0 6px #500ade !important);
                }

                .attachment {
                    &.active {
                        a {
                            i.pause {
                                color: $highlight-color;
                                border-color: $highlight-color;
                            }
                        }
                    }

                    a {

                        &.toggle-code {
                            @include border-radius(50%);

                            &.pulse {
                                animation: pulse-highlight 3s infinite;
                            }
                        }

                        i.pause {
                            font-size: 10px;
                            padding: 0;
                        }
                    }
                }

                .card-body {
                    margin: 15px 0 0 0;
                }

                .icons {
                    span {
                        margin-left: 5px;
                        font-size: $small-font-size;
                    }
                }

                & .report {
                    margin-right: 5px;

                    &.active {
                        color: $highlight-color;
                        pointer-events: none;
                    }
                }

                & .reply-input-container {
                    padding-top: 5px;
                    padding-bottom: 5px;

                    & .card-body {
                        margin: 0;
                        padding: 0;
                        border: none;
                    }
                }

                .card {
                    padding: 2px 14px;

                    .comment {
                        .card-body {
                            &:first-child {
                                margin-bottom: 10px;
                            }

                            form {
                                width: 100%;
                                margin-top: 10px;
                            }

                            .comment-text {
                                min-height: 25px;
                                margin-top: 15px;
                            }
                        }
                    }

                    .reply {
                        padding-top: 8px;
                        border-top: 1px solid #eaeaea;

                        &:last-child {
                            border-bottom: none;
                        }

                        .card-body {
                            padding-top: 12px;
                            padding-bottom: 16px;
                            margin-top: 0 !important;
                        }
                    }

                    .actions {
                        @include justify-content(space-between);

                        ul {
                            margin: 0;
                        }
                    }
                }

                &.comment {
                    padding-bottom: 12px;
                }

                & .secondary-button,
                & .main-button {
                    font-size: $small-font-size;
                }
            }

            #listing-sidebar {
                padding-top: 100px;
                padding-bottom: 20px;

                .back-to-comments {
                    position: static;
                    color: $default-color;
                    padding: 12px 8px 12px 25px;
                }

                .filter-container {
                    @include flexbox;
                    @include flex-direction(column);
                }

                .comment-container {
                    @include flexbox;
                    @include justify-content(space-between);
                    padding: 0 8px 4px 0;
                }

                .icons {
                    .attachment {
                        i {
                            padding: 0 0 0 2px;
                            width: 18px;
                            height: 18px;
                            border: 2px solid $light-color;
                            @include border-radius(50%);
                            @include flexbox;
                            @include justify-content(center);
                            @include align-items(center);
                        }
                    }

                    li {
                        margin-left: 12px;

                        &:first-child a i {
                            margin-left: 0;
                        }

                        a {
                            @include flexbox;
                            @include align-items(center);
                            @include justify-content(center);

                            i,
                            span {
                                font-size: 15px;
                            }

                            span {
                                margin-left: 5px;
                            }
                        }
                    }
                }

                .card {
                    padding: 12px 14px 10px;

                    .card-body {
                        cursor: pointer;

                        ul {
                            margin: 6px 0 0 0;

                            @include flexbox;
                            @include justify-content(flex-end);
                            @include align-items(center);
                        }

                        p {
                            padding-left: 42px;
                        }
                    }
                }
            }

            #comment-sidebar {
                padding-top: 50px;

                .code-editor-container {
                    @include flexbox;
                    @include flex-direction(column);
                    height: 280px;
                    padding: 8px 14px;
                    background-color: $c_secondary;
                    @include border-radius($button-radius);
                    margin: 0 0 5px 0;
                    @include box-shadow(rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px);

                    .button-container {
                        margin-top: 10px;
                    }

                    & p {
                        font-size: $normal-font-size !important;
                    }
                }

                #comment-input {
                    resize: vertical;
                    border: 1px solid #eaeaea;
                    font-size: $normal-font-size;
                    cursor: text;
                }

                #run-code,
                #attach-css {
                    float: right;
                    padding: 10px 20px;
                    margin-right: 5px;
                }

                & > .container {
                    height: 90%;

                    .secondary-button {
                        border: none;
                    }
                }

                .card-body,
                .card {
                    margin-bottom: 8px;
                }

                .card {
                    padding: 8px 14px;
                    margin-top: 12px;

                    .card-body {
                        ul {
                            margin: 0 0 15px 0;
                        }
                    }

                    * {
                        cursor: pointer;
                    }
                }

                .comment {
                    text-align: right;

                    button.save {
                        margin-top: 5px;
                    }
                }
            }

            .pin {
                background-color: $highlight-color;
                @include border-radius(50%);

                &:after {
                    content: attr(data-count);
                    font-family: "Montserrat", sans-serif;
                    width: 32px;
                    height: 32px;
                    @include border-radius(60px);
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    font-size: $normal-font-size;
                    font-weight: $bold-font-weight;
                    color: #fff;
                }
            }

            .filter-container,
            .back-to-comments {
                position: fixed;
                top: 0;
                width: 310px;
                z-index: 10;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                @include flexbox;
                @include align-items(center);
                height: 52px;
            }

            .filter-container {
                .filter {
                    position: relative;
                    width: 100%;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    svg {
                        @include position-absolute($top: 13px, $left: 25px, $bottom: 0);
                        @include flexbox;
                        @include align-items(center);
                        font-size: $subtitle-font-size;
                        cursor: pointer;
                        width: 18px;
                    }

                    #filter {
                        width: 100%;
                        padding: 14px 0 16px 55px;
                        background-color: $c_secondary;
                        border: none;
                        font-size: $normal-font-size;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .back-to-comments {
                img {
                    margin-right: 15px;
                    padding-bottom: 2px;
                }
            }

            .toggle-sidebar {
                @include position-absolute($top: 50%, $left: 0);
                @include transform(translateY(-50%));
                z-index: 999999999999;
                border: none;
                background-color: $highlight-color;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                padding: 2px 0;
                margin-left: -5px;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                i {
                    padding: 6px 6px 6px 8px;
                    color: #fff;
                    font-size: 27px;
                    @include transition(transform #{$transition-time} ease-in-out);

                    &.sidebar-open {
                        @include transform(rotate(180deg));
                    }
                }
            }

            .comment-actions {
                li {
                    a {
                        padding: 3px 5px 3px 5px;

                        i {
                            font-size: 15px;
                            cursor: pointer;
                        }
                    }

                    &:last-child a {
                        padding: 3px 0 3px 5px;
                    }
                }
            }

            .edit-mode {
                @include flexbox;
                @include flex-direction(column);

                input {
                    margin: 10px 0 5px;
                }

                .buttons {
                    text-align: right;
                    margin-top: 5px;
                }
            }

            .banned-comment {
                opacity: 0.65;
                @include transition($transition-time);

                &:hover {
                    opacity: 1;
                }

                .banned-card {
                    background-color: #e2e2e2;
                    padding: 16px 12px;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);

                    p {
                        text-align: center;
                        font-size: 13px;
                        color: #929292;
                        margin: 4px 0;
                    }
                }
            }

            .loader {
                @include position-absolute(0, 0, 0, 0);
                background-color: #ecebeb;
                z-index: 9999999999999999;
                margin-top: 0;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
            }

            .edit-mode,
            .reply-input-container,
            .comment-input-container {
                input {
                    padding: 10px 5px 10px 10px;
                    height: auto;
                    border: 1px solid #d2d8dd4a;
                    font-size: $small-font-size;
                }
            }

            .reply p.reply-text {
                margin-bottom: 12px;
            }
        }
    }
}

.introjs-tooltipReferenceLayer {
    .introjs-tooltip {
        min-width: 270px;
        max-width: 290px;
    }

    .introjs-progressbar {
        background-color: $highlight-color;
    }

    .introjs-skipbutton {
        padding-right: 0;
        line-height: 0.5;
    }

    .introjs-nextbutton,
    .introjs-prevbutton {
        font-family: $font-family;
        text-shadow: unset;
        @include transition($transition-time);

        &:focus {
            @include box-shadow(unset);
        }
    }

    .introjs-prevbutton {
        &,
        &:active,
        &:focus {
            background-color: #fff;
            color: $default-color;
            font-weight: $normal-font-weight;
            border: unset;
        }

        &.introjs-disabled {
            display: none;
        }
    }

    .introjs-nextbutton {
        &,
        &:active,
        &:focus {
            color: #fff;
            font-weight: $bold-font-weight;
            background-color: $highlight-color;
            border: 1px solid $highlight-color;
        }

        &:hover {
            background-color: darken($highlight-color, 10%);
            border: 1px solid darken($highlight-color, 10%);
            color: #fff;
        }
    }

    .introjs-tooltiptext {
        padding: 10px 20px;

        ul {
            list-style: disc;
            padding-left: 20px;
            //margin: 5px 0 0 0;
        }
    }
}
