@import "includes/mixins";
@import "includes/variables";
@import "components/animations";
@import "components/layout";

#post-index {
    .content {
        background-color: $background-color;
        padding-top: 160px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dbb90d;

        .custom-container {
            .post-tags {
                margin-top: 40px;
                @include justify-content(center);

                li {
                    padding: 6px 14px;
                    margin: 0 6px;

                    a {
                        font-size: $subtitle-font-size;
                    }
                }
            }

            p,
            h1 {
                text-align: center;
            }

            p {
                font-size: $subtitle-font-size;
            }

            h1 {
                font-size: 60px;
            }
        }
    }

    .posts {
        padding: 50px 0;
    }
}

#post-detail {
    header {
        background-color: $c_secondary;
        @include box-shadow(0 0.125rem 0.125rem rgb(0 0 0 / 10%));
    }

    .content {
        padding-top: 140px;

        .custom-container {
            .cover {
                @include flexbox;
                @include justify-content(center);

                img {
                    max-width: 75%;
                    @include border-radius($button-radius);
                }
            }

            .text {
                max-width: 55%;
                margin: 0 auto;
                padding: 55px 0 40px 0;

                .back-to {
                    color: $default-color;
                    padding-bottom: 20px;
                    display: inline-block;
                }

                h1 {
                    margin-bottom: 30px;
                }

                .post-text {
                    margin-bottom: 60px;
                }

                .author {
                    @include flexbox;
                    padding-bottom: 15px;

                    .profile-image {
                        margin-right: 15px;

                        img {
                            width: 3rem;
                            height: 3rem;
                            object-fit: cover;
                            @include border-radius(50%);
                        }
                    }

                    .meta {
                        @include flexbox;
                        @include flex-direction(column);

                        .name {
                            font-weight: $bold-font-weight;
                        }

                        .name,
                        .created-at {
                            color: $default-color;
                            line-height: 1.4;
                        }
                    }
                }

                .share-post {
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(flex-end);
                    margin-bottom: 40px;

                    span {
                        font-size: $normal-font-size;
                        font-weight: $bold-font-weight;
                    }

                    .social-network {
                        @include flexbox;
                        margin-left: 15px;

                        a {
                            @include flexbox;
                            @include justify-content(center);
                            @include align-items(center);
                            @include border-radius(50%);
                            margin-right: 8px;
                            width: 40px;
                            height: 40px;

                            i {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }

    #related-posts {
        padding-bottom: 80px;

        .custom-container {
            h2 {
                text-align: center;
                margin: 40px 0 60px 0;
            }

            .post-listing {
                @include justify-content(center);
            }
        }
    }
}

.post-tags {
    @include flexbox;
    @include flex-wrap(wrap);

    li {
        padding: 3px 10px;
        margin: 0 4px 4px 0;
        @include border-radius($button-radius);

        a {
            font-size: $small-font-size;
            color: #fff;
        }
    }
}

.post-listing {
    @include flexbox;
    @include flex-wrap(wrap);

    .not-found {
        svg {
            font-size: 300px;
        }
    }

    .post {
        padding: 0 7px 14px 7px;

        .box-item {
            margin-bottom: 0;
            height: 100%;
            background-color: #fff;
            position: relative;
            border: 1px solid $lighter-color;
            @include border-radius($button-radius);
            @include transition($transition-time);
            overflow: hidden;

            &:hover {
                @include box-shadow(0 0.5rem 1rem rgb(0 0 0 / 9%));
            }

            .illustration {
                max-width: 100%;
                height: 250px;
                overflow: hidden;
                position: relative;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include transition(#{$transition-time});
                }
            }

            .info {
                height: calc(100% - 250px);
                @include flexbox;
                @include flex-direction(column);
                @include justify-content(space-between);

                .post-heading {
                    padding: 20px 32px 5px 32px;

                    .post-excerpt {
                        p {
                            color: $default-color;
                            font-size: 16px;
                        }

                        .read-more {
                            color: $highlight-color;
                            font-weight: $bold-font-weight;
                        }
                    }

                    .post-title {
                        a {
                            font-weight: $bold-font-weight;
                            color: $default-color;

                            h3 {
                                font-size: 26px;
                                line-height: 26px;
                            }
                        }
                    }
                }

                .post-links {
                    border-top: 1px solid $lighter-color;
                    margin: 0;
                    padding: 20px 32px;

                    .actions {
                        ul {
                            width: 100%;
                            @include flexbox;
                            @include justify-content(space-between);

                            li {
                                a,
                                .created-at {
                                    color: $light-color;
                                    font-weight: $bold-font-weight;
                                }

                                a {
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .fake-post {
        padding: 0 7px 14px 7px;

        .box-item {
            @include box-shadow(rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px);
            height: 600px;

            .fake-card {
                background-color: #fff;
                width: 100%;
                height: 100%;
                overflow: hidden;
                padding: 0;
                @include border-radius(0 0 3px 3px);

                & .fake-container {
                    padding: 35px 25px 15px 25px;
                    height: calc(100% - 250px);
                    @include flexbox;
                    @include flex-direction(column);
                    @include justify-content(space-between);
                    @include align-items(flex-end);
                    position: relative;
                }

                & .fake-comment-counter.is-loading,
                & .fake-views.is-loading {
                    @include position-absolute($bottom: 20px);
                    height: 25px;
                    width: 25px;
                    @include border-radius($button-radius);
                }

                & .fake-comment-counter.is-loading {
                    left: 20px;
                }

                & .fake-views.is-loading {
                    left: 60px;
                }

                & .fake-image.is-loading {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    @include border-radius(50%);
                }

                & .fake-screenshot.is-loading {
                    height: 250px;
                    width: 100%;
                }

                & .fake-button.is-loading {
                    margin-left: 5px;
                    height: 27px;
                    width: 78px;
                    @include border-radius($button-radius);
                }

                & .fake-title.is-loading {
                    margin-bottom: 20px;
                    height: 3rem;
                    width: 80%;
                    @include border-radius($button-radius);
                }

                & .fake-description.is-loading {
                    height: 2rem;
                    width: 100%;
                    @include border-radius($button-radius);
                }

                & .is-loading {
                    position: relative;
                    background-color: #e2e2e2;
                }

                & .is-loading::after {
                    display: block;
                    content: "";
                    @include position-absolute;
                    width: 100%;
                    height: 100%;
                    @include transform(translateX(-100%));
                    background: -webkit-gradient(linear, left top,
                            right top, from(transparent),
                            color-stop(rgba(255, 255, 255, 0.2)),
                            to(transparent));

                    background: linear-gradient(90deg, transparent,
                            rgba(255, 255, 255, 0.2), transparent);

                    /* Adding animation */
                    animation: loading 0.8s infinite;
                }
            }
        }
    }
}

@import "responsive/responsive-lg";
@import "responsive/responsive-md";
@import "responsive/responsive-sm";
@import "responsive/responsive-xs";
