/* Loading Animation */
@keyframes loading {
    100% {
        @include transform(translateX(100%));
    }
}

@keyframes hoverAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse-highlight {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($highlight-color, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 6px rgba($highlight-color, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba($highlight-color, 0);
    }
}

@keyframes pulse-like {
    90% {
        transform: scale(0.95);
        text-shadow: 0 0 rgba(#7FC210, 0.7);
    }

    95% {
        transform: scale(1);
        text-shadow: 0 10px rgba(#7FC210, 0);
    }

    100% {
        transform: scale(0.95);
        text-shadow: 0 0 rgba(#7FC210, 0);
    }
}

@keyframes scale-font-weight {
    0% {
        font-weight: 200;
        text-shadow: 0 9px 10px rgb(15 48 61 / 13%);
    }

    100% {
        font-weight: $bold-font-weight;
        text-shadow: 0 9px 10px rgb(15 48 61 / 13%);
    }
}

@keyframes zoom {
    0% {
        transform: rotate(45deg) scale(4);
    }

    100% {
        transform: rotate(45deg) scale(1);
    }
}

@keyframes color-transition {
    0% {
        fill: $highlight-color;
    }
    85% {
        fill: darken($highlight-color, 2%);
    }
    100% {
        fill: $highlight-color;
    }
}

@keyframes bounce {
    0% {
        @include transform(translateY(-3px));
    }
    25% {
        @include transform(translateY(0px));
    }
    100% {
        @include transform(translateY(-3px));
    }
}
