#contact-index {
    padding-top: 60px;
    background-color: $background-color;

    h2 {
        text-transform: capitalize;
    }

    & section#contact {
        padding: 160px 12px 140px;

        & .right {
            & .box-item {
                padding: 20px 20px 10px 20px;
            }
        }

        & .left {
            padding-right: 80px;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);

            p {
                a {
                    color: $highlight-color;
                }
            }
        }

        & p,
        & .contact-links a {
            font-size: 20px;
            color: $default-color;
            font-weight: $normal-font-weight;
            line-height: 1.5;
        }

        & .button-container {
            text-align: right;

            & button {
                display: inline-block;
                padding: 10px 14px;
            }
        }

        & .social-links {
            @include justify-content(flex-start);

            & a {
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                margin-right: 10px;
                width: 45px;
                height: 45px;
                border: 1px solid black;
                @include border-radius(50%);
                @include transition($transition-time);
            }

            & a:hover {
                background-color: $highlight-color;
            }

            & a:hover i {
                color: #fff;
            }
        }

        .social-media {
            @include flexbox;
            margin: 10px 0 20px 0;

            a {
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin-right: 14px;

                &.facebook {
                    background-color: #4267B2;

                    svg {
                        font-size: 40px;
                    }
                }

                &.discord {
                    background-color: #5865F2;

                    svg {
                        font-size: 35px;
                    }
                }

                img {
                    visibility: hidden;
                }
            }
        }

        .contact-links {
            padding: 10px 0 0 0;

            & a {
                @include flexbox;
                @include align-items(center);
            }

            & a i {
                margin-right: 8px;
            }
        }

        & .contact-links,
        & .social-links {
            & a i {
                font-size: 24px;
                color: $default-color;
            }
        }
    }
}
