.attachments,
.uploader {
    a {
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        position: relative;
        margin: 5px 5px 5px 0;
        border: 1px solid #d2d8dd4a;
        @include border-radius($button-radius);
        width: 40px;
        height: 40px;

        &:before {
            font-family: "Font Awesome 5 Free";
            opacity: 0;
            background-color: #0000006e;
            @include position-absolute($top: 0, $left: 0, $right: 0, $bottom: 0);
            color: #8e8e8e;
            font-size: $subtitle-font-size;
            letter-spacing: 1px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            @include transition(#{$transition-time});
            z-index: 2;
        }

        &:hover img {
            @include transform(scale(1.08));
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            @include transition(#{$transition-time});
        }

        &:hover:before {
            opacity: 1;
        }
    }
}

.attachments {
    &:not(.empty) {
        @include flexbox;
        @include align-items(flex-start);
        @include justify-content(flex-start);
    }

    a {
        &:before {
            content: "\f2ed";
        }
    }
}

#detail-sidebar {

    .edit-mode {
        .attachments {
            a {
                &:before {
                    color: #ff5d78;
                    content: "\f2ed";
                }
            }
        }
    }

    .attachments {
        a {
            &:before {
                content: "\f06e";
                color: #fff;
            }
        }
    }
}

#comment-sidebar {
    .attachments {
        a {
            &:before {
                color: #ff5d78;
                content: "\f2ed";
            }
        }
    }
}

.uploader {
    border: 2px dashed #eaeaea; /* the dash box */
    color: #555555;
    min-height: 60px; /* minimum height */
    position: relative;
    cursor: pointer;
    @include border-radius($button-radius);
    margin-top: 8px;
    width: 100%;
    height: 100%;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    p {
        margin: 0;
        font-size: $normal-font-size;
        font-weight: $bold-font-weight;
        color: #c7c7c7;
    }

    input {
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;
        @include position-absolute($top: 0, $left: 0, $right: 0, $bottom: 0);
    }
}
