.flash-message {
    z-index: 99999999;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 10px 24px;
    @include border-radius($button-radius);
    cursor: pointer;

    &.error {
        background-color: #fa2a00;
    }

    &.success {
        background-color: #2ecc71;
    }

    &.warning {
        //background-color: #f39c12;
        background-color: #2c81c9;
    }

    &.success p,
    &.error p,
    &.warning p {
        color: #fff;
    }

    & p {
        margin: 0;
    }
}

.alert {
    position: fixed;
    bottom: 24px;
    left: 24px;
    z-index: 100;
    margin: 0;
    font-weight: $bold-font-weight;

    & ul {
        margin: 0;
    }

    & button {
        @include position-absolute($top: 2px, $right: 6px);
    }
}
