#home {
    .promo {
        .imac {
            width: 100%;
        }

        p {
            margin: 25px 0;
            font-size: 18px;
        }
    }

    section.promo {
        padding: 160px 0 100px;
        background: $background-color;
        color: $default-color;

        h1 {
            margin-top: -100px;

            strong {
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
            }
        }
    }

    .animation {
        position: relative;

        .comment {
            @include border-radius(8px);
            background-color: $c_secondary;
            @include box-shadow(0 20px 42px rgba(black, .1));
            @include position-absolute();
            @include flexbox;
            @include align-items(flex-start);
            color: $default-color;
            padding: 15px 20px;
            font-weight: $bold-font-weight;
            line-height: 1.2;
            max-width: 300px;
            font-size: 12px;
            opacity: 0;

            .pin {
                width: 32px;
                height: 32px;
                background-color: $highlight-color;
                @include border-radius(60px 60px 0 60px);
                @include transform(rotate(45deg) translate(-50%, -105%));
                @include position-absolute($top: 0, $left: 0);

                &:after {
                    content: attr(data-count);
                    width: 25px;
                    height: 25px;
                    background: $c_secondary;
                    @include position-absolute($top: 50%, $left: 50%);
                    @include transform(translate(-50%, -50%) rotate(-45deg));
                    @include border-radius(60px);
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    font-size: 14px;
                    font-weight: $bold-font-weight;
                    color: $default-color;
                }
            }

            strong {
                white-space: nowrap;
                display: block;
                margin-bottom: 5px;
            }

            img {
                width: 40px;
                height: 40px;
                display: block;
                @include border-radius(50%);
                margin-right: 10px;
                @include flex-shrink(0);
                object-fit: cover;
            }
        }
    }

    section.livepreview {
        padding: 150px 0 80px;
    }

    section.livepreview,
    section.register {
        p {
            margin: 20px 0 30px;
            font-size: 20px;
        }
    }

    section.pros {
        text-align: center;
        padding: 150px 0 80px;
        position: relative;

        h2 {
            margin-bottom: 2.5em;
        }

        .icon {
            font-size: 80px;
            width: 130px;
            height: 130px;
            @include border-radius(15px);
            background: #f7f7f8;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            margin: 0 auto;
            @include box-shadow(5px 10px $light-color);

            svg {
                fill: url(#lg);
            }
        }

        p {
            font-weight: $bold-font-weight;
            margin: 22px 0;
            font-size: 18px;
            line-height: 1.2;
            color: #666;
        }

        .ornament {
            @include transform(translateY(-50%));
            width: 100%;
            opacity: 0.05;
            @include position-absolute($top: 50%, $left: 0);

            img {
                width: 100%;
            }
        }
    }

    section.languages {
        padding: 100px 0;

        .box {
            @include default-background;
            color: white;
            padding: 5%;
            @include border-radius(30px);
            position: relative;
            @include box-shadow(0 0 40px rgba(black, .25));

            &:before {
                content: '';
                display: block;
                @include position-absolute($left: 0, $top: 0, $right: 0, $bottom: 0);
                background-image: -webkit-linear-gradient(146deg, $background-color 0%, $c_stop 100%);
                @include border-radius(30px);
                opacity: 0.9;
            }

            .content {
                position: relative;
                z-index: 1;

                p {
                    margin: 0;
                }
            }

            .absolute-image {
                @include position-absolute($top: 50%, $right: 0);
                @include transform(translateY(-50%));
                width: 50%;
                max-width: initial;
                max-height: inherit;
            }
        }
    }
}

#color1 {
    stop-color: $background-color;
}

#color2 {
    stop-color: $c_stop;
}

.ornament {
    position: absolute;
    z-index: -1;
}
