#faq,
#terms-conditions,
#home,
#about-us,
#contact-index,
#profile-detail,
#post-index {
    header {
        .logo {
            img {
                content: url("/img/logo/logo_sticky.svg");
            }
        }

        &.sticky {
            ul.guest {
                .divider {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            .logo {
                img {
                    content: url("/img/logo/logo.svg");
                }
            }
        }
    }
}

body.open-nav {
    header:after {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        display: block;
        background-color: #00000085;
        z-index: 10;
    }
}

.custom-container {
    width: 100%;
    max-width: 1300px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: $background-color;
    @include transition($transition-time);

    .profile {
        i {
            color: $default-color;
            margin-left: 5px;
            cursor: pointer;
        }
    }

    .button {
        font-size: $normal-font-size;
        padding: 0 22px;
        height: 40px;
    }

    &.sticky {
        position: fixed;
        background: $c_secondary;
        @include box-shadow(0 0.125rem 0.125rem rgb(0 0 0 / 10%));

        ul.main {
            a {
                color: $default-color;

                &:hover {
                    //color: $background-color;
                    background: transparent;
                }
            }
        }
    }

    /* Menu */
    .main-menu {
        position: relative;
        z-index: 9;
        @include transition(all #{$transition-time} ease-in-out);
        color: #fff;
        @include flexbox;

        ul {
            @include flex-wrap(wrap);
            height: auto;

            &,
            & li {
                @include flexbox;
                @include align-items(center);
                margin: 0;
                padding: 0;
            }

            li {
                a {
                    color: $default-color;
                    font-weight: $normal-font-weight;
                    font-size: $normal-font-size;
                    padding: 0 12px 0 12px;
                    display: inline-block;
                    position: relative;
                    letter-spacing: 0.8px;
                    width: 100%;
                    margin: 0;
                    white-space: nowrap;

                    &.main-link {
                        &.active {
                            color: $highlight-color;
                        }

                        &:after {
                            content: "";
                            display: inline-block;
                            height: 2px;
                            width: 0;
                            background-color: $highlight-color;
                            @include transition(#{$transition-time});
                            @include position-absolute($left: 0, $bottom: -22px);
                        }

                        &:hover:after,
                        &.active:after {
                            width: 100%;
                        }
                    }
                }


            }
        }

        /* First level menu */
        & ul li:hover > ul {
            padding: 0;
            visibility: visible;
            opacity: 1;
            @include transform(scale(1));
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
            -webkit-transition-duration: 0s, 0.2s, 0.2s;
            transition-duration: 0s, 0.2s, 0.2s;
        }

        & > ul > li {
            padding: 0 8px 0 8px;

            &:last-child {
                padding-right: 0;
                @include flexbox;
            }

            span:hover > a {
                opacity: 0.7;
            }

            span > a {
                color: #fff;
                padding: 0 8px 15px 8px;
                font-size: 0.875rem;
                font-weight: $normal-font-weight;
            }
        }

        .profile {
            .profile-picture {
                border: 1px solid $lighter-color;
                object-fit: cover;
                object-position: center;
                height: 2.1rem;
                width: 2.1rem;
                @include border-radius(50%);
                cursor: pointer;
            }
        }

        a.login {
            color: #444;
            text-indent: -9999px;
            overflow: hidden;
            display: block;
            width: 18px;
            height: 22px;
            position: relative;
            top: 3px;
            @include transition(opacity #{$transition-time} ease-in-out);
            margin-left: 10px;
        }

        & ul > li span > a {
            padding: 0 16px 0 0;
            font-weight: $normal-font-weight;
            font-size: $small-font-size;
        }

        & a.active {
            font-weight: $bold-font-weight;
        }

        /* Submenu*/
        & ul ul {
            @include position-absolute($top: 93%, $right: 3px);
            z-index: 1;
            visibility: hidden;
            margin: 0;
            display: block;
            padding: 0;
            background: #fff;
            min-width: 200px;
            @include box-shadow(0 6px 12px 0 rgba(0, 0, 0, 0.175));
            @include transform(scale(0.4));
            transform-origin: 10% top;
            @include transition(0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1));
            opacity: 0;
            @include border-radius($button-radius);

            &:before {
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                @include position-absolute($right: 10%, $bottom: 100%);
                pointer-events: none;
                border-bottom-color: #fff;
                border-width: 7px;
                margin-left: -7px;
            }

            & li {
                //display: block;
                //height: auto;
                //padding: 0;

                a {
                    font-size: $small-font-size;
                    color: #555;
                    border-bottom: 1px solid #ededed;
                    display: block;
                    padding: 12px 12px 15px 20px;
                    line-height: 1;
                    @include flexbox;
                    @include align-items(center);
                }

                &.notification {
                    @include flexbox;
                }

                .badge {
                    @include flexbox;
                    @include justify-content(center);
                    @include align-items(center);
                    background-color: $highlight-color;
                    color: #fff;
                    @include border-radius(50%);
                    line-height: 0.8;
                    min-width: 20px;
                    height: 20px;
                    margin: -4px 0 -4px 5px;
                }

                &:first-child a:hover {
                    @include border-radius(3px 3px 0 0);
                }

                &:last-child {
                    a {
                        border-bottom: none;

                        &:hover {
                            @include border-radius(0 0 3px 3px);
                        }
                    }
                }

                &:hover,
                &.active {
                    & > a {
                        background-color: #f9f9f9;
                        color: $highlight-color;
                        border-left: 3px solid $highlight-color;
                    }
                }

                & > a {
                    border-left: 3px solid #fff;
                }
            }
        }
    }

    nav {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        height: 60px;

        .left {
            @include flexbox;
            @include align-items(center);
        }
    }

    .logo {
        width: 165px;
        display: block;
        margin-bottom: 5px;
        margin-right: 40px;

        img {
            display: block;
        }
    }

    a {
        color: $default-color;
        font-weight: 700;
        text-decoration: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        @include flexbox;
        @include justify-content(flex-end);
        width: 100%;

        &.guest {
            li:first-child {
                @include flexbox;
                @include align-items(center);

                .divider {
                    background-color: #dbb90d;
                    width: 2px;
                    height: 55%;
                    margin: 0 8px;
                }

                a {
                    padding: 5px 10px;
                    font-size: $normal-font-size;
                }
            }
        }

        li {
            padding: 0 5px;

            &:last-child {
                padding-right: 0;
            }
        }

        &.main {
            a {
                display: block;
                padding: 5px 0;
                border-radius: 5px;
                font-size: $normal-font-size;
                transition: all .2s;
                margin: 0 20px;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }

        &.actions {
            a {
                margin: 0;
            }
        }
    }
}

footer {
    background: #3a3939;
    padding: 80px 0 0 0;
    width: 100%;

    h3 {
        margin-bottom: 20px;
        color: #fff;
    }

    a {
        color: $c_secondary;
        text-decoration: none;
        line-height: 2;
        transition: all .2s;

        &:hover {
            color: $background-color;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    form {
        @include flexbox;

        input {
            margin-right: 10px;
        }
    }

    .social-links {
        font-size: 36px;
        margin-top: 20px;
        @include justify-content(flex-start);

        a {
            margin-right: 5px;
        }
    }

    .copyright {
        text-align: center;
        font-size: $normal-font-size;
        background-color: #3a3939;
        color: #fff;
        margin-top: 50px;
        padding: 10px;

        a {
            color: inherit;
            font-weight: 700;
        }
    }
}

.responsive-menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999999;

    .custom-container {
        height: 72px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);
    }

    .wrapper {
        height: 100%;
        @include flexbox;
        @include align-items(flex-start);
        @include justify-content(center);
        padding-top: 50px;
    }

    .responsive-button span {
        background-color: #fff;
    }

    ul {
        li {
            text-align: center;

            a {
                font-size: 35px;
                font-weight: $bold-font-weight;
                line-height: 2;
                color: #fff;
            }
        }
    }
}

.verification-bar,
.beta-version {
    background-color: #2c81c9;

    span,
    a {
        color: #fff;
    }

    a {
        text-decoration: underline;
        font-weight: $bold-font-weight;
        letter-spacing: 0;
        cursor: pointer;
    }
}

.beta-version {
    text-align: center;
    padding: 5px;
}

.verification-bar {
    @include position-absolute();
    width: 100%;
    padding: 8px 0;
    @include box-shadow(0 0.125rem 0.125rem rgb(0 0 0 / 10%));
    z-index: 99;

    .custom-container {
        @include flexbox;
        @include justify-content(space-between);
    }

    a {
        &.check-inbox {
            margin-right: 15px;
        }
    }
}
