.modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    @include transition(all #{$transition-time} ease-in-out);

    &.user {
        .main-button {
            background-color: #ff5d78;
            border-color: #ff5d78;
        }
    }

    & .v-select {
        padding: 5px 10px;
    }

    & .secondary-button {
        border: none;
    }

    & .close-modal {
        @include position-absolute($right: 10px, $top: 10px);
        z-index: 10;
        background-color: #8887;
        width: 24px;
        height: 24px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include border-radius(50%);

        & i {
            color: #fff;
            cursor: pointer;
        }
    }

    & .modal-header {
        border-bottom: 1px solid $lighter-color;
        padding: 20px 10px;
        margin: 0 10px;

        & h3 {
            margin-bottom: 0;
            font-size: 20px;
            font-weight: $bold-font-weight;
        }
    }

    & .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    & .modal-container {
        overflow: hidden;
        width: 520px;
        margin: 0 auto;
        background-color: $c_secondary;
        padding: 10px 0 0 0;
        @include border-radius(12px);
        @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.33));
        @include transition(all #{$transition-time} ease-in-out);
        position: relative;
    }

    & .modal-body {
        padding: 12px 10px;

        & p {
            font-size: $normal-font-size;
            padding: 0 10px;
        }

        & small {
            display: inline-block;
            padding: 10px 10px 0 10px;
        }
    }

    & .modal-footer {
        text-align: right;
        //border-top: 1px solid $lighter-color;
        padding: 15px 10px;
        //margin: 0 10px;
    }

    & .main-button,
    & .secondary-button {
        padding: 14px 20px;
    }

    & .modal-enter {
        opacity: 0;
    }

    & .modal-leave-active {
        opacity: 0;
    }

    & .modal-enter .modal-container,
    & .modal-leave-active .modal-container {
        @include transform(scale(1.1))
    }

    & .vs__dropdown-menu {
        border: 1px solid #f9f9f9;
        @include border-radius(0 0 3px 3px);
        font-family: $font-family;
    }
}

#list-modal {

    & .modal-container {
        width: 400px;
    }
}

#share-project-modal,
#unregistered-user-modal {
    & .modal-container {
        max-width: 550px;
        width: 100%;
        padding: 0;
    }

    & .modal-body {
        text-align: center;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        padding: 0 15px 20px 15px;
    }

    & .image-container {
        text-align: center;

        & img {
            height: 180px;
        }
    }

    & p {
        margin: 10px 0 20px 0;
    }
}

#share-project-modal {

    h3 {
        font-weight: $bold-font-weight;
        margin: 10px 10px 0 10px;
        font-size: 24px;
        line-height: 1.6;
    }

    .image-container {
        text-align: center;

        .share {
            font-size: 200px;
        }
    }

    .copy-clipboard {
        max-width: 90%;

        .copy-text {
            margin-right: 50px;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            padding: 5px;
        }
    }

    .social-network {
        @include flexbox;
        @include flex-direction(row);
        margin-top: 8px;

        .copy-on-clipboard {
            background-color: #3A3A3A;
            color: #fff;
        }

        a {
            margin: 0 6px;
            border-radius: 50%;
            padding: 10px;
            @include flexbox;
            @include align-items(center);

            i {
                font-size: 23px;
                width: 26px;
                height: 26px;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
            }
        }
    }
}

#unregistered-user-modal {

    .gift {
        font-size: 200px;
    }

    .clouds {
        margin-bottom: -200px;
        margin-top: 100px;
    }

    .image-container {
        background-color: $background-color;
    }

    h3 {
        font-weight: $bold-font-weight;
        margin: 10px 10px 15px 10px;
        font-size: 20px;
        line-height: 1.6;
    }
}

#register-site {

    .modal-container {
        width: 640px;

        .modal-header {
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
        }

        .modal-body {

            .copy-clipboard {
                .form-group {
                    width: 90%;
                    margin: 0 auto;
                }
            }

            .project-mode {
                @include flexbox;
                @include justify-content(space-around);
                padding: 20px 0 20px 0;

                .box {
                    opacity: 0.5;
                    cursor: pointer;
                    padding: 35px 20px;
                    max-width: 42%;
                    min-height: 140px;
                    @include flexbox;
                    @include align-items(center);
                    @include flex-direction(column);
                    @include justify-content(center);
                    background: #d2d8dd30;
                    @include border-radius($button-radius);
                    font-size: 30px;
                    font-weight: $bold-font-weight;
                    @include transform(translate3d(0, 0, 0));
                    @include transition(box-shadow .1s linear, transform .1s linear);

                    h3,
                    p {
                        text-align: center;
                        color: $default-color;
                    }

                    h4 {
                        font-size: $subtitle-font-size;
                        text-transform: uppercase;
                        margin: 26px 0 0 0;
                    }

                    p {
                        margin: 10px 0 0 0;
                        font-weight: $normal-font-weight;
                    }

                    i {
                        color: $light-color;
                        font-size: 60px;
                    }

                    &.press {
                        opacity: 1;
                        @include box-shadow(rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px);
                        @include transform(translate3d(-3px, 3px, 0));

                        i {
                            color: $background-color;
                        }
                    }
                }
            }
        }
    }
}
