.pagination-container {
    width: 100%;
    height: 50px;
    position: relative;
    text-align: center;

    &,
    .main-button {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
    }

    .main-button {
        padding: 15px 20px;

        .loader {
            @include transform(scale(0.5));
            margin-left: -12px;
            margin-right: 22px;
            margin-top: -12px;

            svg.spinner {
                width: 1em;
                height: 1em;

                circle {
                    stroke: #fff;
                }
            }
        }
    }
}
