#profile-detail {
    background-color: $c_secondary;
    padding-top: 70px;

    header {
        background-color: $background-color;
    }

    .user-container {
        background-color: $background-color;
        margin-bottom: 50px;
        padding: 90px 0 40px 0;

        .custom-container {
            @include flexbox;

            .edit-data {
                color: #fff;
                font-size: $normal-font-size;
                text-decoration: none;
            }

            .info-container {
                @include flex(0 0 100%);
                @include flexbox;
                @include flex-wrap(wrap);

                h2 {
                    font-size: 28px;
                    color: $default-color;
                    font-weight: $bold-font-weight;
                    margin: 0;
                }

                .text {
                    @include flexbox;
                    @include align-items(flex-start);
                    @include flex(0 0 80%);
                    @include flex-direction(row);
                    @include justify-content(space-between);
                }

                .buttons {
                    @include flex(0 0 20%);
                    text-align: right;

                    button {
                        padding: 12px 14px;
                    }
                }

                p {
                    line-height: 1.5;
                    font-size: $small-font-size;
                    margin-bottom: 20px;
                }
            }

            .image-container {
                @include flexbox;
                @include justify-content(flex-end);
                @include flex(0 0 20%);
                padding-right: 50px;
                padding-top: 10px;

                img {
                    width: 95px;
                    height: 95px;
                    object-fit: cover;
                    @include border-radius(50%);
                }
            }

            .summary {
                margin: 0;
                @include flexbox;
                @include align-items(center);
                @include justify-content(flex-start);
                @include flex(0 0 80%);
                padding-bottom: 10px;

                & li {
                    text-align: center;
                    padding: 0 18px;
                    margin-right: 25px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    & a {
                        font-weight: $normal-font-weight;
                        line-height: 1.5;
                        font-size: $subtitle-font-size;
                        @include flexbox;
                        @include align-items(center);
                    }

                    & a strong {
                        color: $default-color;
                        font-size: $title-font-size;
                        margin-right: 10px;
                        line-height: 2;
                    }
                }
            }
        }
    }

    .listing {
        .box-items {
            .site {
                .box-item {
                    border: 1px solid $lighter-color;
                }
            }
        }
    }
}

#profile-settings {
    padding-top: 90px;
    width: 100%;
    @include flexbox;
    @include flex-wrap(wrap);

    header {
        background-color: $c_secondary;
        @include box-shadow(0 0.125rem 0.125rem rgb(0 0 0 / 10%));
    }

    & .loader {
        text-align: center;
        margin: 100px 0;
    }

    & .listing {
        padding-right: 25px;
        padding-left: 25px;
    }

    main {
        @include flexbox();
        width: 100%;
    }

    & section:not(.modal) {
        overflow: hidden;
        width: calc(100% - 235px);
        @include flex(0 0 calc(100% - 235px));

        & h2.title {
            font-size: 26px;
            margin: 0 35px;
        }

        & .setting-container {
            @include flexbox;
            @include flex-wrap(wrap);

            & .column {
                padding-bottom: 60px;
                @include flexbox;
                @include flex-direction(column);
                @include align-items(flex-start);

                .main-button,
                .danger-button {
                    margin-top: 10px;
                }
            }

            & h3 {
                font-size: $subtitle-font-size;
            }

            & label {
                font-size: $small-font-size;
                font-weight: $normal-font-weight;
                color: $light-color;
            }
        }
    }

    & aside {
        min-height: 600px;
        width: 235px;
        background-color: $background-color;
        @include flex(0 0 235px);

        & h2 {
            font-weight: $bold-font-weight;
            font-size: $subtitle-font-size;
            color: $default-color;
            padding: 30px 20px 12px 58px;
        }

        & ul li {
            padding: 10px 20px 10px 20px;
            position: relative;
            cursor: pointer;
        }

        & ul li i {
            padding-right: 15px;
            width: 35px;
        }

        & ul li:before {
            content: "";
            display: block;
            @include position-absolute($top: 0, $left: 0);
            height: 0;
            width: 3px;
            background-color: transparent;
            @include transition(#{$transition-time});
        }

        & ul li.active:before,
        & ul li:hover:before {
            background-color: $highlight-color;
            height: 100%;
        }

        & ul li.active i,
        & ul li:hover i {
            color: $highlight-color;
        }

        & ul li a {
            font-size: $normal-font-size;
            color: $default-color;
        }

        & ul li.active a {
            color: $highlight-color;
        }
    }
}

#profile-settings #settings {

    .setting-container {
        padding: 30px 20px;
    }

    & .toggle-checkbox-container {
        margin-bottom: 10px;
    }

    & .picture-container {
        position: relative;
        width: 65px;
        height: 65px;

        & img,
        & input[type=file] {
            width: 100%;
            height: 100%;
        }

        & img {
            border: 1px solid #f9f9f9;
            @include border-radius(50%);
            object-fit: cover;
        }

        & input[type=file] {
            cursor: pointer;
            z-index: 10;
            @include position-absolute($top: 0, $left: 0);
            opacity: 0;
            width: 100%;
            height: 100%;
            padding: 0;
        }

        & i {
            font-size: $small-font-size;
            padding: 5px;
            @include border-radius(50%);
            color: #fff;
            background-color: $highlight-color;
            @include position-absolute($right: -3px, $bottom: 2px);
        }
    }

    & .setting-container {
        & #work-experiences {
            width: 100%;
        }
    }
}

#profile-settings #follow,
#profile-settings #settings {
    .setting-container {
        h3 {
            font-size: $subtitle-font-size;
            width: 100%;
            margin-bottom: 22px;
        }
    }
}

#profile-settings #my-projects {
    border: 1px solid #f9f9f9;

    .setting-container {
        padding: 20px 35px;
    }

    .site {
        .box-item {
            border: 1px solid $lighter-color;
        }
    }

    .register-form {
        input {
            border: 1px solid $lighter-color;
        }
    }

    .fake-site {
        .box-item {
            border: 1px solid $lighter-color;

            .fake-card {
                .fake-container {
                    padding: 33px 15px 15px 15px;
                }
            }
        }
    }

    h3,
    .edit-data {
        font-size: $small-font-size;
    }

    .site {
        padding: 0 6px 12px 6px;
    }
}

#profile-detail {

    & .show-more {
        color: $highlight-color;
        cursor: pointer;
        text-decoration: underline;
    }
}

#notifications,
#follow {
    & ul,
    & ul li {
        width: 100%;
    }

    & ul li {
        @include box-shadow(rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px);
        @include flexbox;
        @include align-items(center);
        padding: 10px;
        @include border-radius($button-radius);
        margin-bottom: 10px;
        min-height: 50px;
    }
}

#follow {
    & ul li {
        @include justify-content(space-betwween);
    }
}

#notifications {

    .setting-container {
        padding: 20px 35px;
    }

    ul {
        li {
            @include justify-content(space-between);

            .content {
                @include flexbox;
                @include align-items(center);

                .text {
                    line-height: 1.4;
                }

                .user-image {
                    @include flexbox;
                    @include align-items(flex-start);
                    @include justify-content(center);
                    margin-right: 10px;
                    margin-left: 5px;
                    width: 30px;
                    height: 30px;
                    @include flex(0 0 30px);

                    img {
                        overflow: hidden;
                        object-fit: cover;
                        @include border-radius(50%);
                    }
                }
            }

            .actions {
                width: 150px;
                margin-left: 20px;
                text-align: right;
                @include flexbox;
                @include justify-content(flex-end);
            }

            a {
                color: $default-color;
                font-weight: $bold-font-weight;
            }

            span {
                width: calc(100% - 180px);
                font-size: $small-font-size;
                line-height: 1;
                letter-spacing: 0.4px;
            }

            .main-button,
            .secondary-button {
                font-size: 12px;
                padding: 8px 10px;
            }
        }
    }
}
