section.register {
    z-index: 1;
    background: $background-color;
    position: relative;
    margin-top: 200px;
    text-align: center;
    color: $default-color;
    padding: 20px 0 50px;

    h2 {
        margin-bottom: 0;
    }

    p {
        margin: 20px 0 30px;
        font-size: 20px;
    }

    &:before, &:after {
        @include position-absolute($left: -25%, $top: 0);
        content: '';
        pointer-events: none;
        z-index: -1;
        width: 150%;
        height: 75%;
        background: inherit;
        @include transform(rotate(-3deg));
        @include transform-origin(0 0);
    }

    &:before {
        height: 50%;
        //background: darken($background-color, 15%);
        //@include transform(rotate(-5deg));
        //@include transform-origin(1% 0);
        //@include transform(rotate(-3deg));
    }
}

section.support-us {
    background-color: $c_secondary;
    padding: 140px 0 100px 0;

    h2 {
        margin-bottom: 0;
    }

    p {
        margin: 20px 0 30px;
        font-size: 20px;
    }

    .left {
        @include flexbox;
        @include justify-content(center);

        svg{
            font-size: 400px;
        }

        .coffee {
            margin-top: -30px;
        }
    }
}
