#site-index,
#profile-settings,
#profile-detail {
    & .listing {
        padding-top: 0;
        padding-bottom: 20px;

        & .edit-data {
            margin-left: 52px;
        }
    }

    & .builtin-button-container {
        width: 450px;
    }
}

#site-edit,
#site-index {
    padding-top: 150px;
}

#site-index {
    background-color: $background-color;

    .search-container {
        @include flexbox;
        @include flex-direction(row-reverse);
        @include align-items(center);
        position: relative;
        margin: 0;

        .icon-container {
            @include position-absolute($right: 2px);
            background-color: #fff;
            @include flexbox;
            @include align-items(center);

            svg,
            i {
                @include transition(0.3s color);
                cursor: pointer;
                width: auto;
                height: auto;
                max-width: 20px;
                box-sizing: content-box;
                padding: 6px 8px 6px 8px;
            }

            i {
                color: $default-color;
                padding: 6px 12px 6px 8px;
            }
        }

        input.search-input {
            width: 0;
            padding: 0 0 0 4px;
            height: 42px;
            border: none;
            font-size: $normal-font-size;
        }

        &.active {
            input.search-input {
                padding: 0 40px 0 20px;
                width: 240px;
                border: 1px solid $lighter-color;
            }

            i {
                color: $lighter-color;

                &:hover {
                    color: $default-color;
                }
            }
        }
    }

    header {
        background-color: $c_secondary;
        @include box-shadow(0 0.125rem 0.125rem rgb(0 0 0 / 10%));

        ul.guest {
            .divider {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .listing {
        padding-bottom: 40px;
    }

    .register-form {
        padding: 0 0 30px 0;

        #register-input {
            border: 1px solid #dbb90d;
        }
    }

    & .report {
        margin-right: 6px;

        &.active {
            color: $highlight-color;
            pointer-events: none;

            i {
                color: #fff;
            }
        }
    }
}

#site-edit {
    background-color: $background-color;

    header {
        background-color: $c_secondary;
    }

    .site-details {
        max-width: 600px;
        padding: 0 20px 30px 20px;
        margin: 20px auto 50px auto;
    }

    h2 {
        font-size: 26px;
        padding: 35px 0 20px 0;
        font-weight: $normal-font-weight;
    }

    & strong {
        display: inline-block;
    }

    & form {
        text-align: right;
    }

    & form .form-group label {
        text-align: left;
    }
}

.register-form {
    padding: 20px 0 30px 0;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    max-width: 560px;
    margin: 0 auto;

    input {
        margin-right: 20px;
    }

    .form-group {
        @include flexbox;
        @include justify-content(center);
    }
}

.fake-site {
    padding: 0 7px 14px 7px;

    .fake-card {
        background-color: #fff;
        width: 100%;
        height: 400px;
        overflow: hidden;
        padding: 0;
        @include border-radius(0 0 3px 3px);

        & .fake-container {
            padding: 35px 25px 15px 25px;
            height: 200px;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(space-between);
            @include align-items(flex-end);
            position: relative;
        }

        & .fake-comment-counter.is-loading,
        & .fake-views.is-loading {
            @include position-absolute($bottom: 20px);
            height: 18px;
            width: 22px;
            @include border-radius($button-radius);
        }

        & .fake-comment-counter.is-loading {
            left: 20px;
        }

        & .fake-views.is-loading {
            left: 46px;
        }

        & .fake-image.is-loading {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            @include border-radius(50%);
        }

        & .fake-screenshot.is-loading {
            height: 200px;
            width: 100%;
        }

        & .fake-button.is-loading {
            margin-left: 5px;
            height: 27px;
            width: 78px;
            @include border-radius($button-radius);
        }

        & .fake-description.is-loading {
            height: 3rem;
            width: 80%;
            @include border-radius($button-radius);
        }

        & .is-loading {
            position: relative;
            background-color: #e2e2e2;
        }

        & .is-loading::after {
            display: block;
            content: "";
            @include position-absolute;
            width: 100%;
            height: 100%;
            @include transform(translateX(-100%));
            background: -webkit-gradient(linear, left top,
                    right top, from(transparent),
                    color-stop(rgba(255, 255, 255, 0.2)),
                    to(transparent));

            background: linear-gradient(90deg, transparent,
                    rgba(255, 255, 255, 0.2), transparent);

            /* Adding animation */
            animation: loading 0.8s infinite;
        }
    }
}

.banned-site {
    padding: 0 6px 12px 6px;
    opacity: 0.65;
    @include transition($transition-time);
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    .banned-card {
        background-color: #fff;
        width: 100%;
        height: 400px;
        overflow: hidden;
        padding: 0;
        @include border-radius(0 0 3px 3px);

        & .banned-screenshot {
            height: 100%;
            width: 100%;
            background-color: #e2e2e2;
            padding: 12px;
            @include flexbox;
            @include align-items(center);

            p {
                margin: 0;
                text-align: center;
                font-size: $normal-font-size;
                color: #929292;
            }
        }
    }
}

.site-listing {
    .site-title {
        @include flexbox;
        @include align-items(center);

        .rating {
            margin-bottom: 1rem;
        }
    }
}
