@import "~vue-prism-editor/dist/prismeditor.min.css";

// https://prismjs.com/
// https://www.npmjs.com/package/vue-prism-editor
// https://openbase.com/js/vue-prism-editor/documentation

// https://github.com/Akryum/v-tooltip#style-examples

/* required class */
.code-editor-container {

    .hint {
        i {
            padding-left: 3px;
            color: $highlight-color;
        }
    }

    .source-code {
        cursor: text;
        background: #f5f2f0;
        color: #ccc;
        font-size: 14px;
        line-height: 1.5;
        padding: 5px;
        @include border-radius(5px);

        pre[class="prism-editor__editor"],
        .token,
        textarea {
            font-family: Fira code, Fira Mono, Consolas, Menlo, Courier !important;
        }

        .token {
            .selector, .attr-name, .string, .char, .builtin, .inserted {
                color: #690;
            }

            .property, .tag, .boolean, .number, .constant, .symbol, .deleted {
                color: #905;
            }
        }

        /* optional class for removing the outline */
        .prism-editor__textarea:focus {
            outline: none;
        }

        pre[class="prism-editor__editor"] {
            color: black;
            background: none;
            font-size: 1em;
            text-align: left;
            word-spacing: normal;
            word-break: normal;
            line-height: 1.5;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            -webkit-hyphens: none;
            -moz-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
        }

        //.prism-editor__container,
        //.prism-editor__textarea {
        //    height: 100%;
        //}
    }
}
