<template>
  <article class="col-xl-4 col-md-6 post" :key="post.id">
    <div class="box-item" :data-id="post.id">
      <a class="illustration" :href="routes.post_detail(post.slug,post.id)">
        <img :src="post.illustration_url" alt="illustration" ref="lazy-image">
      </a>
      <a class="info" :href="routes.post_detail(post.slug,post.id)">
        <div class="post-heading">
          <div class="post-title">
            <a :href="routes.post_detail(post.slug,post.id)">
              <h3>{{ post.title }}</h3>
            </a>
          </div>
          <div class="post-excerpt">
            <p>{{ post.excerpt | limit(150) }}</p>
            <a :href="routes.post_detail(post.slug,post.id)" class="read-more">Read more</a>
            <TagList
                :tags="post.tags"
            />
          </div>
        </div>
        <ul class="post-links">
          <li class="actions">
            <ul>
              <li>
                <a v-tooltip="`Views`">
                  <i class="far fa-eye"></i>
                  <span>{{ post.attributes.views }}</span>
                </a>
                <a v-tooltip="`Comments`">
                  <i class="far fa-comment"></i>
                  <span>{{ post.comments_count }}</span>
                </a>
              </li>
              <li>
                <span class="created-at">
                  <i class="far fa-clock"></i>
                  {{ post.formatted_created_at }}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </a>
    </div>
  </article>
</template>

<script>
import {url} from "../../../includes/helpers";
import routes from "../../../includes/routes";
import {mapGetters} from "vuex";
import TagList from "./TagList";

export default {
  props: ['post'],
  components: {
    TagList
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser'}),
  },
  data() {
    return {
      routes
    }
  },
  methods: {
    url
  }
}
</script>
