<template>
  <ul class="post-tags">
    <li v-for="tag in tags" :style="`background-color:${tag.description}`">
      <a :href="routes.posts_by_tag(tag.slug)">{{ tag.name }}</a>
    </li>
  </ul>
</template>

<script>
import routes from "../../../includes/routes";

export default {
  props: ['tags'],
  data() {
    return {
      routes
    }
  }
}
</script>
