<template>
  <div id="forgot-password" class="page">
    <section class="left">
      <div class="back-container">
        <a
            :href="routes.home()"
            class="back"
        >
          <img :src="url('/img/back-arrow.svg')" alt="back" width="12px">
          Back Home
        </a>
      </div>
      <form method="POST" :action="routes.forgot_password()" autocomplete="off" class="box-item"
            @submit="syncSubmitFormWithRecaptcha">
        <h1 class="title">Forgot password</h1>
        <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
        <input type="hidden" name="_token" :value="this._token">
        <div class="form-group">
          <input class="form-control" type="text" id="email" name="email" placeholder="Email">
        </div>
        <button type="submit" value="Submit" class="main-button login">Reset password</button>
        <a :href="routes.login()" class="secondary-button login">I already have an account</a>
      </form>
    </section>

    <section class="right">
      <div class="slogan-container">
        <a :href="routes.home()">
          <img class="logo" :src="url(constants.same_color_logo)" alt="visualback_logo"/>
        </a>
        <h3>Sign up for free and get access to all VisualBack features.</h3>
        <p>
          1. Register your creations <br>
          2. Get effective and localize feedback <br>
          3. Feedback your colleagues / post as many feedback as you like <br>
          4. Possibility to get CSS suggestions <br>
          5. Share your profile and find job easily
        </p>
        <br>
      </div>
    </section>
  </div>
</template>
<script>
import {url} from "../../includes/helpers";
import {mapGetters} from "vuex";
import {recaptchaMixin} from "../../includes/mixins";
import routes from "../../includes/routes";

export default {
  mixins: [recaptchaMixin],
  data() {
    return {
      _token: null,
      routes: routes
    }
  },
  computed: {
    ...mapGetters({constants: 'getConstants'})
  },
  methods: {
    url: url
  },
  created() {
    this._token = window._token;
  }
}
</script>

