<template>
  <div id="login" class="page">
    <section class="verification-bar" v-if="this.userIdentifier">
      <div class="custom-container">
        <span>Please confirm your email address</span>
        <div class="links">
          <a href="https://gmail.com/" target="_blank" v-if="isGmail" class="check-inbox">Check your inbox</a>
          <a @click="sendVerificationEmail">Resend verification email</a>
        </div>
      </div>
    </section>
    <section class="left">
      <div class="back-container">
        <a
            :href="routes.home()"
            class="back"
        >
          <img :src="url('/img/back-arrow.svg')" alt="back" width="12px">
          Back Home
        </a>
      </div>
      <form method="POST" :action="routes.login()" autocomplete="off" class="box-item"
            @submit="syncSubmitFormWithRecaptcha">
        <h1 class="title">Log In</h1>
        <input type="hidden" name="_token" :value="this._token">
        <div class="form-group">
          <input class="form-control" type="text" id="email" name="email" placeholder="Email" :value="this.old.email">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="password" name="password" placeholder="Password">
        </div>
        <div class="forgot-password">
          <a :href="routes.forgot_password()">Forgot password</a>
        </div>
        <button type="submit" value="Submit" class="main-button login">Log In Now</button>
        <span class="separator"></span>
        <div class="social-links">
          <a :href="url('/auth/google')">
            <img :src="url('/img/social/google.svg')" alt="Google">
            <span class="social-media">Google</span>
          </a>
<!--          <a :href="url('/auth/facebook')">-->
<!--            <img :src="url('/img/social/facebook.svg')" alt="Facebook">-->
<!--            <span class="social-media">Facebook</span>-->
<!--          </a>-->
          <!--          <a :href="url('/auth/linkedin')">-->
          <!--            <i class="fab fa-linkedin"></i>-->
          <!--            <span class="social-media">LinkedIn</span>-->
          <!--          </a>-->
          <a :href="url('/auth/github')">
            <img :src="url('/img/social/github.svg')" alt="Github">
            <span class="social-media">Github</span>
          </a>
        </div>
        <a :href="routes.register()" class="secondary-button register">Don't have an account?</a>
      </form>
    </section>
    <section class="right">
      <div class="slogan-container">
        <a :href="routes.home()">
          <img class="logo" :src="url(constants.same_color_logo)" alt="visualback_logo"/>
        </a>
        <h3>Sign up for free and get access to all VisualBack features.</h3>
        <p>
          1. Register your creations <br>
          2. Get effective and localize feedback <br>
          3. Feedback your colleagues / post as many feedback as you like <br>
          4. Possibility to get CSS suggestions <br>
          5. Share your profile and find job easily
        </p>
        <br>
      </div>
    </section>
    <FlashMessage/>
  </div>
</template>
<script>
import {url} from "../../includes/helpers";
import {mapGetters, mapMutations} from "vuex";
import {oldInputMixin, recaptchaMixin} from "../../includes/mixins";
import routes from "../../includes/routes";
import axios from "axios";
import FlashMessage from "../partials/Layout/FlashMessage";

export default {
  props: ['userIdentifier', 'isGmail'],
  mixins: [recaptchaMixin, oldInputMixin],
  components: {FlashMessage},
  data() {
    return {
      _token: null,
      routes: routes,
      old_attributes: ['email']
    }
  },
  computed: {
    ...mapGetters({constants: 'getConstants'})
  },
  methods: {
    ...mapMutations(['setFlashMessage']),
    url: url,
    sendVerificationEmail: function (event) {

      let that = this;

      axios.get(routes.send_verification_email(this.userIdentifier))
          .then(function (json) {

            $('.flash-message').remove()

            that.setFlashMessage({
              message: json.data.message,
              type: json.data.type,
              flush: 1
            })
          });
    }
  },
  created() {
    this._token = window._token;
  }
}
</script>

