<template>

  <div id="register" class="page">
    <section class="left">
      <div class="back-container">
        <a
            :href="routes.home()"
            class="back"
        >
          <img :src="url('/img/back-arrow.svg')" alt="back" width="12px">
          Back Home
        </a>
      </div>
      <form method="POST" :action="routes.register()" autocomplete="off" class="box-item"
            @submit="syncSubmitFormWithRecaptcha">
        <h1 class="title">Sign Up</h1>
        <input type="hidden" name="_token" :value="this._token">
        <div class="form-group">
          <input class="form-control" type="text" id="email" name="email" placeholder="Email" :value="old.email">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="password" name="password" placeholder="Password">
          <span class="hint-icon">
            <i class="fas fa-question-circle"
               v-tooltip="`Required:<br>- small letter (abc)<br>- big letter (ABC)<br>- special character (@#*)<br>- minimum of 8 characters`"></i>
          </span>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="confirmation-password" name="password_confirmation"
                 placeholder="Confirm Password">
        </div>
        <div class="toggle-checkbox-container">
          <label class="toggle-checkbox" for="term_of_use">
            <input type="checkbox" id="term_of_use" name="term_of_use"/>
            <span class="slider round"></span>
          </label>
          <p>
            I agree to the <a :href="routes.terms_and_conditions()" class="bold">Terms of use</a>.<span
              class="text-red">*</span>
          </p>
        </div>
        <div class="toggle-checkbox-container">
          <label class="toggle-checkbox" for="newsletter">
            <input type="checkbox" id="newsletter" name="newsletter"/>
            <span class="slider round"></span>
          </label>
          <p>
            <!--            VisualBack just keeps getting better! Check this box to opt-in to receive -->
            Receive the latest product news and how-to
            videos. You may opt out at anytime.
          </p>
        </div>
        <button type="submit" value="Submit" class="main-button register">Sign Up Now</button>
        <span class="separator"></span>
        <div class="social-links">
          <a :href="url('/auth/google')">
            <img :src="url('/img/social/google.svg')" alt="Google">
            <span class="social-media">Google</span>
          </a>
          <!--          <a :href="url('/auth/facebook')">-->
          <!--            <img :src="url('/img/social/facebook.svg')" alt="Facebook">-->
          <!--            <span class="social-media">Facebook</span>-->
          <!--          </a>-->
          <!--          <a :href="url('/auth/linkedin')">-->
          <!--            <i class="fab fa-linkedin"></i>-->
          <!--            <span class="social-media">LinkedIn</span>-->
          <!--          </a>-->
          <a :href="url('/auth/github')">
            <img :src="url('/img/social/github.svg')" alt="Github">
            <span class="social-media">Github</span>
          </a>
        </div>
        <a :href="routes.login()" class="secondary-button login">I already have an account</a>
      </form>
    </section>
    <section class="right">
      <div class="slogan-container">
        <a :href="routes.home()">
          <img class="logo" :src="url(constants.same_color_logo)" alt="visualback_logo"/>
        </a>
        <h3>Sign up for free and get access to all VisualBack features.</h3>
        <p>
          1. Register your creations <br>
          2. Get effective and localize feedback <br>
          3. Feedback your colleagues / post as many feedback as you like <br>
          4. Possibility to get CSS suggestions <br>
          5. Share your profile and find job easily
        </p>
        <br>
      </div>
    </section>
  </div>

</template>
<script>
import {url} from "../../includes/helpers";
import {mapGetters} from "vuex";
import {recaptchaMixin, oldInputMixin} from "../../includes/mixins";
import routes from "../../includes/routes";

export default {
  mixins: [recaptchaMixin, oldInputMixin],
  data() {
    return {
      _token: null,
      routes: routes,
      old_attributes: ['email']
    }
  },
  computed: {
    ...mapGetters({constants: 'getConstants'})
  },
  methods: {
    url: url,
  },
  created() {
    this._token = window._token;
  }
}
</script>

