<template>
  <div id="reset-password" class="page">
    <div class="container">
      <div class="logo-container">
        <a :href="routes.home()">
          <img :src="url('/img/logo/logo_sticky.svg')" alt="Logo">
        </a>
      </div>
      <form :action="routes.reset_password()" method="POST" class="box-item">
        <h1 class="title">
          Reset password
        </h1>
        <input type="hidden" name="_token" :value="this._token">
        <input type="hidden" name="password" :value="password">
        <input type="hidden" name="token" :value="token">
        <!-- Password -->
        <div class="step">
          <p>Password must contains 8 characters.</p>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" name="password"
                   placeholder="Password"
                   v-model="password">
          </div>
          <div class="form-group">
            <label for="password_confirmation">Confirmation password</label>
            <input class="form-control" id="password_confirmation" type="password" name="password_confirmation"
                   placeholder="Confirmation password"
                   v-model="password_confirmation">
          </div>
          <div class="button-container">
            <button type="submit" class="main-button next"
                    :disabled="!is_password_match || password.length < 8">Submit
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</template>

<script>
import {url} from "../../includes/helpers";
import routes from "../../includes/routes";

export default {
  props: ['token'],
  data() {
    return {
      _token: null,
      password: '',
      password_confirmation: '',
      routes: routes
    }
  },
  computed: {
    is_password_match: function () {
      return this.password === this.password_confirmation;
    }
  },
  methods: {
    url: url,
  },
  async created() {
    this._token = window._token;
  }
}
</script>
