<template>
  <div id="verification-account" class="page" v-if="this.user">
    <div class="container">
      <div class="logo-container">
        <a :href="url('/')">
          <img :src="url(constants.base_logo)" alt="Logo">
        </a>
      </div>
      <form :action="url('/verified-account')" method="POST" class="box-item">
        <h1 class="title">
          Verification account
          <span>{{ actual_step }}/{{ all_steps }}</span>
        </h1>
        <input type="hidden" name="_token" :value="this._token">
        <input type="hidden" name="identifier" :value="user.identifier">
        <input type="hidden" name="marketing-tool" :value="marketing_tools">
        <input type="hidden" name="password" :value="password">
        <input type="hidden" name="hash" :value="hash">
        <input type="hidden" name="type" value="account">
        <template v-if="user.has_password">
          <!-- Nickname -->
          <div class="step" v-show="actual_step === 1">
            <p>Awesome! Choose your nickname.</p>
            <div class="form-group">
              <label for="nickname">
                Nickname
                <span class="hint-icon">
              <i class="fas fa-question-circle"
                 v-tooltip="`- minimum of 4 characters<br>- maximum of 25 characters`"></i>
              </span>
              </label>
              <input class="form-control" id="nickname" type="text" name="nickname"
                     placeholder="Nickname"
                     v-model="user.nickname">
              <small class="text-red verification-message"
                     v-show="user.nickname.length >= 25">The maximum length of nickname is 25 characters</small>
            </div>
            <div class="button-container">
              <button type="button" class="main-button next" @click="nextStep"
                      :disabled="user.nickname.length < 4 || user.nickname.length >= 25">
                Next
              </button>
            </div>
          </div>
          <div class="step" v-show="actual_step === 2">
            <p>You have heard about us through:</p>

            <div class="row">
              <div class="col" v-for="tools_in_column in marketing_tools_by_columns">

                <template v-for="(marketing_tool,index) in tools_in_column">

                  <div class="toggle-checkbox-container" :key="index">
                    <label class="toggle-checkbox">
                      <input type="checkbox" :value="marketing_tool.id" v-model="marketing_tools"/>
                      <span class="slider round"></span>
                    </label>
                    <p>
                      {{ marketing_tool.name }}
                    </p>
                  </div>
                </template>

              </div>
            </div>

            <div class="button-container">
              <button type="button" class="secondary-button prev" @click="previousStep">Previous</button>
              <button type="button" class="main-button next" @click="submitForm">Submit</button>
            </div>
          </div>
        </template>


        <template v-else>
          <!-- Password -->
          <div class="step" v-show="actual_step === 1">
            <p>Please set a password to log in to your account.</p>
            <div class="form-group">
              <label for="password">
                Password
                <span class="hint-icon">
              <i class="fas fa-question-circle"
                 v-tooltip="`Required:<br>- small letter (abc)<br>- big letter (ABC)<br>- special character (@#*)<br>- minimum of 8 characters`"></i>
              </span>
              </label>
              <input class="form-control" id="password" type="password" name="password"
                     placeholder="Password"
                     v-model="password">
            </div>
            <div class="form-group">
              <label for="password_confirmation">Confirmation password</label>
              <input class="form-control" id="password_confirmation" type="password" name="password_confirmation"
                     placeholder="Confirmation password"
                     v-model="password_confirmation">
            </div>
            <small class="text-red verification-message" v-if="!is_password_match">Passwords don't match</small>
            <div class="button-container">
              <button type="button" class="main-button next" @click="nextStep"
                      :disabled="!is_password_match || password.length < 8">Next
              </button>
            </div>

          </div>
          <!-- Nickname -->
          <div class="step" v-show="actual_step === 2">
            <p>Awesome! Choose your nickname.</p>
            <div class="form-group">
              <label for="nickname">
                Nickname
                <span class="hint-icon">
              <i class="fas fa-question-circle"
                 v-tooltip="`- minimum of 4 characters<br>- maximum of 25 characters`"></i>
              </span>
              </label>
              <input class="form-control" id="nickname" type="text" name="nickname"
                     placeholder="Nickname"
                     v-model="user.nickname">
              <small class="text-red verification-message"
                     v-show="user.nickname.length >= 25">The maximum length of nickname is 25 characters</small>
            </div>
            <div class="button-container">
              <button type="button" class="secondary-button prev" @click="previousStep">Previous</button>
              <button type="button" class="main-button next" @click="nextStep"
                      :disabled="user.nickname.length < 4 || user.nickname.length >= 25">
                Next
              </button>
            </div>
          </div>
          <!-- How did you hear about us? -->
          <div class="step" v-show="actual_step === 3">
            <p>You have heard about us through:</p>
            <div class="row">
              <div class="col" v-for="tools_in_column in marketing_tools_by_columns">

                <template v-for="(marketing_tool,index) in tools_in_column">

                  <div class="toggle-checkbox-container" :key="index">
                    <label class="toggle-checkbox">
                      <input type="checkbox" :value="marketing_tool.id" v-model="marketing_tools"/>
                      <span class="slider round"></span>
                    </label>
                    <p>
                      {{ marketing_tool.name }}
                    </p>
                  </div>
                </template>

              </div>
            </div>

            <div class="button-container">
              <button type="button" class="secondary-button prev" @click="previousStep">Previous</button>
              <button type="button" class="main-button next" @click="submitForm">Submit</button>
            </div>
          </div>

        </template>

      </form>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import {url} from "../../includes/helpers";
import vSelect from "vue-select";

export default {
  components: {vSelect},
  props: ['requestedUser', 'hash'],
  data() {
    return {
      actual_step: 1,
      _token: null,
      user: null,
      user_status: 'Student',
      marketing_tools: [],
      password: '',
      password_confirmation: '',
      marketing_tools_by_columns: []
    }
  },
  computed: {
    ...mapGetters({
      constants: 'getConstants',
      marketing_tool_options: 'getMarketingTools',
      user_status_options: 'getUserStatus'
    }),
    is_password_match: function () {
      return this.password === this.password_confirmation;
    },
  },
  methods: {
    ...mapActions(['setMarketingTools', 'setUserStatus']),
    url: url,
    nextStep: function () {
      this.actual_step++;
    },
    previousStep: function () {
      this.actual_step--;
    },
    submitForm: function () {
      $('#verification-account form').submit();
    },
    setMarketingToolsToColumns() {
      let columns = [],
          mid = Math.ceil(this.marketing_tool_options.length / 2);

      for (let col = 0; col < 2; col++) {
        columns.push(this.marketing_tool_options.slice(col * mid, col * mid + mid))
      }

      this.marketing_tools_by_columns = columns;
    }
  },
  async created() {
    this.user = JSON.parse(this.requestedUser);
    this._token = window._token;

    this.all_steps = this.user.has_password ? 2 : 3;

    await this.setMarketingTools();

    this.setMarketingToolsToColumns();

    await this.setUserStatus();
  }
}
</script>
