<template>
  <transition name="fade-flash-message">
    <div
        v-if="flash_message.show"
        @click="this.flushFlashMessage"
        class="flash-message no-select"
        :class="{ error: flash_message.type === 'error', success:flash_message.type === 'success', warning:flash_message.type === 'warning'}"
    >
      <p v-html="this.flash_message.message"></p>
    </div>
  </transition>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {
  props: ['message', 'messageType'],
  computed: {
    ...mapGetters({flash_message: 'getFlashMessage'})
  },
  methods: {
    ...mapMutations(['flushFlashMessage', 'setFlashMessage'])
  },
  created() {

    if (this.message) {
      this.setFlashMessage({
        message: this.message,
        type: this.messageType
      });
    }
  }
}
</script>
<style lang="scss">
.fade-flash-message-enter-active {
  transition: all .3s ease;
}

.fade-flash-message-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-flash-message-enter,
.fade-flash-message-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
