<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a :href="url('/')" class="logo">
            <img :src="url(constants.base_logo)" alt="Logo">
          </a>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <h3>Quick Links</h3>
          <ul class="links">
            <li><a :href="routes.sites()">All Projects</a></li>
            <li><a :href="routes.contact()">Contact</a></li>
            <li><a :href="routes.about_us()">About Us</a></li>
            <li><a :href="routes.posts()">Blog</a></li>
            <li><a :href="routes.login()">Log In</a></li>
            <li><a :href="routes.register()">Sign Up</a></li>
            <!--            <li><a :href="url('/blog')">Blog</a></li>-->
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <h3>General Links</h3>
          <ul class="links">
            <li><a target="_blank" :href="constants.buy_me_a_coffee">Buy us a coffee</a></li>
            <li><a target="_blank" :href="constants.discord">Discord</a></li>
            <li><a :href="routes.faq()">FAQ</a></li>
<!--            <li><a :href="routes.support_us()">Support Us</a></li>-->
            <li><a :href="routes.terms_and_conditions()">Terms and Conditions</a></li>
            <!--            <li><a :href="url('/privacy-policy')">Privacy policy</a></li>-->
            <li><a :href="url('/cookies')">Cookies</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <h3>Keep In Touch</h3>
          <div id="newsletter">
            <div id="message-newsletter"></div>
            <div class="default-form">
              <form method="POST" :action="routes.newsletter()" id="newsletter_form" @submit="submitNewsletter">
                <input type="text" placeholder="Your email" v-model="email">
                <button class="button">Send</button>
              </form>
            </div>
          </div>
          <!--          <div class="social-links">-->
          <!--            <a href="https://facebook.com"><img :src="url('/img/fb.svg')" alt="fb" class="svg"></a>-->
          <!--            <a href="https://instagram.com"><img :src="url('/img/ig.svg')" alt="fb" class="svg"></a>-->
          <!--          </div>-->
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; VisualBack {{ (new Date()).getFullYear() }} - All Right Reserved. Made with &#10084;&#65039; by
      <a :href="url('/about-us')" target="_blank">VisualBack</a> and <a
        href="https://kodzilla.sk" target="_blank">Kodzila</a>.
    </div>
  </footer>
</template>
<script>
import routes from "../../../includes/routes";
import {mapActions, mapGetters} from "vuex";
import {url} from "../../../includes/helpers";
import {recaptchaMixin} from "../../../includes/mixins";

export default {
  mixins: [recaptchaMixin],
  data() {
    return {
      routes: routes,
      _token: null,
      email: null,
      is_loading: false
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser', constants: 'getConstants'}),
  },
  methods: {
    ...mapActions(['storeNewsletter']),
    url: url,
    submitNewsletter: function (event) {

      event.preventDefault();

      if (this.is_loading) return;

      this.is_loading = true;

      this.addRecaptchaToken(event, () => {

        this.storeNewsletter({
          email: this.email,
          _token: this._token,
          "g-recaptcha": this.recaptcha_token
        });

        this.is_loading = false;
      });
    }
  },
  created() {
    this._token = window._token;
  }
}
</script>
