<template>
  <header>
    <div class="beta-version">
        <span>We're currently in a beta version. <a :href="constants.buy_me_a_coffee"
                                                    target="_blank">Buy us a coffee</a> and speed up the
          process.</span>
    </div>
    <div :class="this.container">
      <nav>
        <div class="left">
          <button class="responsive-button js-responsive-button hidden-sm-up">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
          <a :href="routes.home()" class="logo">
            <img :src="url(constants.base_logo)" alt="logo">
          </a>
          <ul class="main">
            <li><a :href="routes.home()">Home</a></li>
            <li><a :href="routes.sites()">Projects</a></li>
            <li><a :href="routes.posts()">Blog</a></li>
<!--            <li><a :href="routes.contact()">Contact</a></li>-->
          </ul>
        </div>
        <template v-if="this.user_loaded">
          <ul class="actions" v-if="this.auth_user">
            <li v-if="actual_site === routes.sites()">
              <Search/>
            </li>
            <li
                class="main-menu"
                v-if="auth_user"
            >
              <ul>
                <li class="profile">
                  <img class="profile-picture"
                       :src="auth_user.profile_photo_url"
                       :alt="auth_user.nickname">
                  <i class="fas fa-caret-down"></i>
                  <ul>
                    <li :class="{
                                  active: actual_site === routes.profile(auth_user.identifier)
                                }">
                      <a :href="this.auth_user.detail_url">Profile</a>
                    </li>
                    <li :class="{
                                  active: actual_site === routes.settings(this.auth_user.identifier)
                                }">
                      <a :href="routes.settings(auth_user.identifier)">Settings</a>
                    </li>
                    <li :class="{
                                  active: actual_site === routes.registered_projects(this.auth_user.identifier)
                                }">
                      <a :href="routes.registered_projects(auth_user.identifier)">
                        My projects
                        <span v-if="site_count" class="badge">{{ site_count }}</span>
                      </a>
                    </li>
                    <li :class="{
                                  active: actual_site === routes.notifications(auth_user.identifier)
                                }">
                      <a :href="routes.notifications(auth_user.identifier)" class="notification">
                        Notifications
                        <span v-if="notification_count" class="badge">{{ notification_count }}</span>
                      </a>
                    </li>
                    <li>
                      <a href="#0"
                         @click="logout">
                        Logout
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="actions guest" v-else>
            <li>
              <a :href="routes.login()" class="" title="Log In">Log In</a>
              <span class="divider"></span>
              <a :href="routes.register()" title="Sign Up">Sign Up</a>
            </li>
            <!--            <li><a :href="routes.login()" class="button ghost" id="login-button" title="Log In">Log In</a></li>-->
            <li><a :href="routes.livepreview('demo','app')" id="sign-in-button" class="button">Try for free</a></li>
          </ul>
          <form :action="routes.logout()" method="POST" id="logout-form">
            <input type="hidden" name="_token" :value="_token">
          </form>
        </template>
      </nav>
    </div>
  </header>
</template>

<script>
import {url} from "../../../includes/helpers";
import {mapGetters, mapActions, mapMutations} from "vuex";
import routes from "../../../includes/routes";
import Search from "../Site/Search";

export default {
  components: {Search},
  data() {
    return {
      _token: '',
      routes: routes,
      container: 'custom-container'
    }
  },
  computed: {
    ...mapGetters({
      auth_user: 'getAuthUser',
      notification_count: 'getNotificationCount',
      site_count: 'getSiteCount',
      constants: 'getConstants',
      user_loaded: 'getUserLoaded',
    }),
    actual_site: function () {
      return this.getActualSite();
    },
  },
  methods: {
    ...mapMutations(['setUserLoaded']),
    ...mapActions(['setNotificationCount', 'setSiteCount', 'setAuthUser']),
    url: url,
    logout: function (event) {
      event.preventDefault();
      document.getElementById('logout-form').submit();
    },
    getActualSite: function () {
      return location.href;
    },
    setResponsiveMenu: function () {
      $('.js-responsive-menu .wrapper ul').prepend($('header ul.main').html())
    },
    onLoad: function () {
      this.setResponsiveMenu();
    }
  },
  async created() {

    this._token = window._token;

    await this.setAuthUser();

    this.container = this.auth_user && this.actual_site.includes(routes.settings(this.auth_user.identifier))
        ? 'container-fluid'
        : 'custom-container';

    if (this.auth_user) {
      await this.setNotificationCount(this.auth_user.identifier);
      await this.setSiteCount(this.auth_user.identifier);
    }

    this.onLoad();
  }
}
</script>
