<template>
  <div :class="classes" :id="id">
    <Header/>
    <main>
      <slot name="content"></slot>
    </main>
    <Footer/>
    <FlashMessage/>
    <slot name="others"></slot>
  </div>
</template>

<script>
// https://github.com/byrd1089/vue-layout/blob/master/src/App.vue
import Header from "./Header";
import Footer from "./Footer";
import FlashMessage from "./FlashMessage";

export default {
  props: ['id', 'classes'],
  components: {Footer, Header, FlashMessage}
}
</script>
