<template>
  <transition name="modal">
    <section class="modal" id="list-modal" v-show="show_modal">
      <div class="modal-wrapper">
        <div class="modal-container">
          <a @click="show_modal = !show_modal" class="close-modal">
            <i class="fas fa-times"></i>
          </a>
          <div class="modal-header">
            <slot name="header">
              <h3>{{ list_modal.title }}</h3>
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <ul class="list">

                <template v-if="list_modal.type === 'project'">
                  <li v-for="author in list_modal.items" class="author">
                    <a :href="author.detail_url" target="_blank">
                      <img :src="author.profile_photo_url" :alt="author.nickname">
                      <span>{{ author.nickname }}</span>
                    </a>
<!--                    <span class="actions" v-if="auth_user && auth_user.id !== author.id">-->
<!--                      <FollowButton-->
<!--                          :user="author"-->
<!--                      />-->
<!--                    </span>-->
                  </li>
                </template>

              </ul>
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <button class="secondary-button" @click="closeOnCancel">
                Close
              </button>
            </slot>
          </div>
        </div>
      </div>
    </section>
  </transition>
</template>
<script>
import {mapGetters} from "vuex";
import FollowButton from "../FollowButton";
import {modalMixin} from "../../../includes/mixins";

export default {
  mixins: [modalMixin],
  components: {FollowButton},
  computed: {
    ...mapGetters({list_modal: 'getListModal'}),
  },
  watch: {
    list_modal: function (new_value) {
      this.show_modal = new_value.show_modal;
    }
  },
}
</script>
