<template>
  <transition name="modal">
    <section class="modal" :class="modal.type" v-show="show_modal">
      <div class="modal-wrapper">
        <div class="modal-container">
          <a @click="show_modal = !show_modal" class="close-modal">
            <i class="fas fa-times"></i>
          </a>
          <div class="modal-header">
            <slot name="header">
              <h3>{{ modal.title }}</h3>
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <p>
                {{ modal.content }}
              </p>
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <button class="secondary-button" @click="closeOnCancel">
                Cancel
              </button>
              <button class="main-button" @click="confirmModal">Confirm</button>
            </slot>
          </div>
        </div>
      </div>
    </section>
  </transition>
</template>
<script>
import axios from 'axios';
import {mapGetters, mapMutations} from "vuex";
import {modalMixin} from "../../../includes/mixins";
import {removeCommentCallback} from "../../../services/StoreService";
import {is_demo} from "../../../includes/helpers";

export default {
  mixins: [modalMixin],
  computed: {
    ...mapGetters({modal: 'getModal', settings: 'getLivepreviewSettings'}),
  },
  methods: {
    ...mapMutations(['setFlashMessage', 'removeCommentReply', 'removeSites', 'removeComment', 'setLivepreviewSettings', 'updateCommentReply', 'updateCommentReplies', 'updateComment']),
    confirmModal: function () {

      if (this.modal.type === 'user') {

        let conf = confirm("Do you really want to delete your account? There is no possibility of recovering it back!");

        if (conf) {
          location.href = this.modal.request_options.url;
        }

      } else {

        if (this.modal.type === 'comment' || this.modal.type === 'reply') {

          if (is_demo(this.$store.state)) {
            removeCommentCallback(this.$store, this.modal);

            this.show_modal = false;

            this.setFlashMessage({
              type: 'success',
              message: 'Your comment was successfully removed'
            });

            return;
          }
        }

        axios(this.modal.request_options)
            .then((json) => {

              if (this.modal.type === 'site') {

                this.removeSites(this.modal.item);

              } else if (this.modal.type === 'comment' || this.modal.type === 'reply') {

                removeCommentCallback(this.$store, this.modal);

              } else if (this.modal.type === 'report_site') {

                $(`.box-item[data-id=${this.modal.item.identifier}] .report`).addClass('active');

              } else if (this.modal.type === 'report_comment') {

                this.modal.item.auth_user_reported = true;

                this.updateComment(this.modal.item);

              } else if (this.modal.type === 'report_reply') {

                this.modal.item.auth_user_reported = true;

                this.updateCommentReply(this.modal.item);
              }

              this.setFlashMessage({
                type: json.data.error ? 'error' : 'success',
                message: json.data.message
              });

              this.show_modal = false;

            })
            .then(() => {

              if (typeof (this.modal.callback) === 'function')
                this.modal.callback();
            });
      }
    },
  },
}
</script>
