<template>
  <transition name="modal">
    <section id="register-site" class="modal" v-show="register_site_modal.show_modal">
      <div class="modal-wrapper">
        <div class="modal-container">
          <template v-if="actual_step === 1">
            <div class="modal-header">
              <slot name="header">
                <h3>Visibility of your project</h3>
              </slot>
            </div>
            <div class="modal-body">
              <slot name="body">
                <div class="project-mode">
                  <div class="box public" :class="{press: private === 0}" @click="private = 0">
                    <i class="fas fa-lock-open"></i>
                    <h4>Public project</h4>
                    <p>By clicking on public, your project will be visible in our listing page.</p>
                  </div>
                  <div class="box private" :class="{press: private === 1}" @click="private = 1">
                    <i class="fas fa-lock"></i>
                    <h4>Private project</h4>
                    <p>by clicking on private, your page will only be visible via our special URL address</p>
                  </div>
                </div>
              </slot>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button class="secondary-button" type="button" @click="toggleRegisterSiteModal">
                  Close
                </button>
                <button class="main-button" @click="actual_step++">Next</button>
              </slot>
            </div>
          </template>
          <template v-if="actual_step === 2">
            <div class="modal-header">
              <slot name="header">
                <h3>Implement project identifier</h3>
              </slot>
            </div>
            <div class="modal-body">
              <slot name="body">
                <p>
                  Before we definitely register you project, we need your identify with your project. Please insert this
                  meta tag html head of your project.
                </p>
                <div class="copy-clipboard">
                  <div class="form-group">
                    <span class="js-copy-text" v-if="register_site_modal.site">
                      &lt;meta name="visualback-id" content="{{ register_site_modal.site.identifier }}"&gt;
                    </span>
                    <button type="button" @click="copyText">
                      <i class="far fa-copy"></i>
                    </button>
                  </div>
                </div>
              </slot>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button class="secondary-button" type="button" @click="actual_step--">
                  Back
                </button>
                <button class="main-button" @click="authorizeSite">Authorize</button>
              </slot>
            </div>
          </template>
        </div>
      </div>
    </section>
  </transition>
</template>

<script>
import vSelect from 'vue-select';
import {mapActions, mapGetters, mapMutations} from "vuex";
import {copy_on_clipboard, replace_img_by_svg, request_options} from "../../../includes/helpers";
import {modalMixin, recaptchaMixin} from "../../../includes/mixins";

export default {
  mixins: [recaptchaMixin, modalMixin],
  components: {
    vSelect
  },
  data() {
    return {
      collaborators: [],
      actual_step: 1,
      all_steps: 2,
      private: 0
    }
  },
  computed: {
    ...mapGetters({register_site_modal: 'getRegisterSiteModal', is_registering_site: 'getIsRegisteringSite'}),
  },
  methods: {
    ...mapActions(['authorizingSite', 'storeSiteScreenshot']),
    ...mapMutations(['toggleRegisterSiteModal', 'setFlashMessage', 'setIsRegisteringSite', 'addSite']),
    copyText: function () {
      let that = this;

      copy_on_clipboard('.js-copy-text', function () {
        that.setFlashMessage({
          message: 'Copied!',
          type: 'success'
        });
      });
    },
    authorizeSite: async function () {
      // here is authorizing site and after that request on storing screenshot
      await this.authorizingSite({
        identifier: this.register_site_modal.site.identifier,
        "private": this.private
      });

      if (this.is_registering_site) {
        this.toggleRegisterSiteModal();

        this.register_site_modal.site.private = this.private;

        await this.storeSiteScreenshot(this.register_site_modal.site);

        this.actual_step = 1;

        setTimeout(function () {
          replace_img_by_svg();
        }, 1500);
      }
    },
  },
}
</script>
