<template>
  <transition name="modal">
    <section class="modal" id="report-modal" v-show="show_modal">
      <div class="modal-wrapper">
        <div class="modal-container">
          <a @click="closeOnCancel" class="close-modal">
            <i class="fas fa-times"></i>
          </a>
          <div class="modal-header">
            <slot name="header">
              <h3>{{ modal.type | capitalize }} report</h3>
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <p>
                Please, describe. What's wrong with the {{ modal.type }}?
                <span class="hint-icon">
              <i class="fas fa-question-circle"
                 v-tooltip="`- minimum of 4 characters<br>- maximum of 120 characters`"></i>
              </span>
              </p>
              <div class="form-group">
                <textarea v-model="message" rows="5"></textarea>
              </div>
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <button class="secondary-button" @click="closeOnCancel">
                Cancel
              </button>
              <button class="main-button" @click="confirmModal" :disabled="message.length < 4">
                Send report
              </button>
            </slot>
          </div>
        </div>
      </div>
    </section>
  </transition>
</template>
<script>
import {mapActions, mapGetters, mapMutations} from "vuex";
import {modalMixin, recaptchaMixin} from "../../../includes/mixins";

export default {
  mixins: [recaptchaMixin, modalMixin],
  data() {
    return {
      message: '',
      is_loading: false
    }
  },
  computed: {
    ...mapGetters({modal: 'getReportModal', auth_user: 'getAuthUser'}),
  },
  methods: {
    ...mapActions(['reportEntity']),
    ...mapMutations(['setFlashMessage', 'closeModal', 'removeCommentReply', 'removeSites', 'removeComment', 'updateCommentReply', 'updateCommentReplies', 'updateComment']),
    confirmModal: function (event) {

      if (this.is_loading) return;

      this.is_loading = true;

      this.addRecaptchaToken(event, async () => {

        this.modal.data.request_options.data = {
          user_id: this.auth_user.id,
          message: this.message,
          "g-recaptcha": this.recaptcha_token
        };

        await this.reportEntity({
          that: this
        });

        this.message = '';

        this.is_loading = false;
      });
    },
    removeEntity: function () {

      if (this.modal.type === 'project') {

        $(`.box-item[data-id=${this.modal.data.item.identifier}] .report`).addClass('active');

      } else if (this.modal.type === 'comment') {

        this.modal.data.item.auth_user_reported = true;

        this.updateComment(this.modal.data.item);

      } else if (this.modal.type === 'reply') {

        this.modal.data.item.auth_user_reported = true;

        this.updateCommentReply(this.modal.data.item);
      }
    },
    closeOnEscape: function (event) {
      if (this.show_modal && event.keyCode === 27) {
        this.show_modal = false;
        this.message = '';
      }
    },
    closeOnCancel: function () {
      this.show_modal = false;
      this.message = '';
    },
  }
}
</script>
