<template>
  <transition name="modal">
    <section class="modal" id="share-project-modal" v-show="show_modal">
      <div class="modal-wrapper">
        <div class="modal-container">
          <a @click="closeOnCancel" class="close-modal">
            <i class="fas fa-times"></i>
          </a>
          <img :src="url('/img/home/clouds.svg')" alt="clouds" class="svg clouds">
          <div class="image-container">
            <img class="share svg" :src="url('/img/sketch/share-site.svg')" alt="Share"/>
          </div>
          <div class="modal-body">
            <h3>Share with developer groups!</h3>
            <p>Get feedback on your website from developers in social networks.</p>
            <div class="copy-clipboard">
              <div class="form-group">
                <span class="js-copy-text copy-text"
                      v-if="modal.site">{{ routes.livepreview(modal.site.identifier, modal.site.slug) }}</span>
                <button type="button" @click="copyText">
                  <i class="far fa-copy"></i>
                </button>
              </div>
            </div>
            <SocialNetworksList
                v-if="auth_user && modal.site"
                :url="routes.livepreview(modal.site.identifier, modal.site.slug)"
            />
          </div>
        </div>
      </div>
    </section>
  </transition>
</template>

<script>
// https://www.google.com/search?q=share+popup&sxsrf=AOaemvId76uRNn4kBBUMTnIe8MOXI5EMmg:1631562437723&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjpxJ3c2_zyAhUQrqQKHTKaAQIQ_AUoAXoECAEQAw&biw=1600&bih=872#imgrc=0dXyzfihgFNa6M
import {mapGetters, mapMutations} from "vuex";
import {copy_on_clipboard, replace_img_by_svg, url} from "../../../includes/helpers";
import routes from "../../../includes/routes";
import {modalMixin} from "../../../includes/mixins";
import SocialNetworksList from "../SocialNetworksList";

export default {
  components: {SocialNetworksList},
  mixins: [modalMixin],
  data() {
    return {
      routes: routes
    }
  },
  computed: {
    ...mapGetters({modal: 'getShareSiteModal', constants: 'getConstants', auth_user: 'getAuthUser'}),
  },
  methods: {
    ...mapMutations(['setFlashMessage']),
    url: url,
    // toggleModal: function () {
    //   this.toggleShareSite({show_modal: false, site: this.modal.site});
    // },
    copyText: function () {

      let that = this;

      copy_on_clipboard('.js-copy-text', function () {
        that.setFlashMessage({
          message: 'Copied!',
          type: 'success'
        });
      });
    }
  },
  mounted() {
    replace_img_by_svg();
  }
}
</script>
