<template>
  <transition name="modal">
    <section class="modal" id="unregistered-user-modal" v-show="show_modal">
      <div class="modal-wrapper">
        <div class="modal-container">
          <a @click="closeOnCancel" class="close-modal">
            <i class="fas fa-times"></i>
          </a>
          <img :src="url('/img/home/clouds.svg')" alt="clouds" class="svg clouds">
          <div class="image-container">
            <img class="gift svg" :src="url('/img/sketch/gift.svg')" alt="gift"/>
          </div>
          <div class="modal-body">
            <h3>Sign Up for Free and Get Access to All VisualBack Features.</h3>
            <p>
              By signing up you will get access to all the great features VisualBack has. Registering websites to reviewers, building your renommee, no more pop-ups, the next features we're currently working on. Ready?
            </p>
            <div class="form-group">
              <button class="secondary-button" @click="closeOnCancel">Remind Me Later</button>
              <a :href="routes.register()" class="main-button">Sign Up for Free</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </transition>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
import {replace_img_by_svg, url} from "../../../includes/helpers";
import routes from "../../../includes/routes";
import {modalMixin} from "../../../includes/mixins";

export default {
  mixins: [modalMixin],
  data() {
    return {
      routes: routes
    }
  },
  computed: {
    ...mapGetters({modal: 'getUnregisteredUserModal'}),
  },
  methods: {
    ...mapMutations(['toggleUnregisteredUserModal']),
    url: url,
    toggleModal: function () {
      this.toggleUnregisteredUserModal({show_modal: false});
    }
  },
  mounted() {
    replace_img_by_svg();
  }
}
</script>
