<template>
  <Layout id="about-us" class="page">
    <template slot="content">
      <section class="intro content">
        <div class="custom-container">
          <h1>About Us</h1>
          <p>
            Ahoj! We're two Slovak (Europe) classmates studying applied informatics at Uni and we're creators of
            VisualBack app. The idea of creating VisualBack popped up when we scrolled on social media all day long. Not
            very proud of that but hey, VisualBack wouldn't exist hehe.
          </p>
          <p>
            Since we noticed posts like “Could you please review my front end development? Here is my site:
            www.example.com” or “What would you do better in this front end www.example2.com?” we did research on how
            people deal with questions like that globally.
          </p>
          <p>
            Friends, social media posts, forums, YouTube and who knows elsewhere on the internet are ways of possibly
            getting feedback on front end development. Cool but not united, localized and effective at all. A few hours
            (well a little more) of brainstorming, searching, managing, creating, coding... led us to the point where
            we're
            right now. Words can’t even express how happy we're to deliver you this app!
          </p>
          <p>
            Our documents of features and apps that could be helpful especially if you're taught with the development
            world
            are “endless”. However, we ran out of coffee already and as you may know it is not an easy task to code
            without
            coffee. Buying us coffee not only helps us to be productive but also stay hydrated :).
          </p>
          <a :href="constants.buy_me_a_coffee" class="coffee-link" target="_blank">
            <img :src="url('/img/logo/buy-me-a-coffee-blue.png')" alt="Buy me a coffee">
          </a>
        </div>
      </section>
      <img :src="url('/img/home/clouds.svg')" alt="clouds" class="svg clouds">
      <section class="about-you">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-md-6 left">
              <img :src="url(`/img/sketch/computer.svg`)" alt="computer" class="svg computer">
            </div>
            <div class="col-xl-6 col-md-6 right">
              <h2>About You</h2>
              <p>
                In the end of the day it's not really about us but about you! Let's build a great front end community
                together. Share your front end development with us and get feedback, review or even a hand to your
                project.
              </p>
              <template v-if="auth_user">
                <a :href="routes.sites()" class="button">Register Project Free</a>
              </template>
              <template v-else>
                <a :href="routes.register()" class="button">Sign Up for Free</a>
                <a :href="routes.login()" class="link sign-in" title="Log In">Log In</a>
              </template>
            </div>
          </div>
        </div>
      </section>
      <section class="about-participant register">

        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-md-6 left">
              <h2>About participants</h2>
              <p>
                Thanks to all people who participated in some way and helped us make this app live
                through that difficult time.
                <br>If you ever need a shoulder to cry on, we have four for you. No really, we appreciate
                your hard work and want you to know, it doesn’t go unnoticed.
              </p>
            </div>
            <div class="col-xl-6 col-md-6 right">
              <img :src="url(`/img/sketch/thank-you.svg`)" alt="Thank you" class="svg thank-you">
            </div>
          </div>
        </div>
      </section>
    </template>
  </Layout>
</template>
<script>
import { hide_loading_animation, url} from "../includes/helpers";
import {mapGetters} from "vuex";
import routes from "../includes/routes";
import Layout from "./partials/Layout/Layout";

export default {
  components: {Layout},
  data() {
    return {
      routes: routes,
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser', constants: 'getConstants'}),
  },
  methods: {
    url: url,
  },
  mounted() {
     hide_loading_animation();
  }
}
</script>
