<template>
  <Layout id="faq" class="page">
    <template slot="content">
      <section class="content">
        <div class="custom-container">
          <h1>Frequently Asked Questions</h1>
        </div>
      </section>
      <section class="accordion">
        <div class="container">
          <div class="item" v-for="item in accordion_items">
            <h3 @click="expandItem">
              {{ item.title }}
              <i class="fas fa-angle-up hidden" data-opened></i>
              <i class="fas fa-angle-down" data-closed></i>
            </h3>
            <div class="text hidden">
              <p v-html="item.text"></p>
            </div>
          </div>
        </div>
      </section>
    </template>
  </Layout>
</template>

<script>
import {hide_loading_animation, url} from "../includes/helpers";
import Layout from "./partials/Layout/Layout";

export default {
  components: {Layout},
  data() {
    return {
      accordion_items: [
        {
          title: '1. What is VisualBack?',
          text: 'VisualBack is the first and free web application that provides space for feedback, reviews and help to front end newbies developers. Share your hard work with us and get better at front end development (link <a href="' + url('/project') + '">/project</a>).',
        },
        {
          title: '2. For whom is VisualBack?',
          text: 'For anyone who is interested in front end development. But please be kind and polite to others and let\'s build a great community together!'
        },
        {
          title: '3. What is the benefit for me as a reviewer?',
          text: 'Building your renommee. With many positive feedback provided it can be nice looking stats for you. You can use these stats to find jobs easily later on.'
        },
        {
          title: '4. Why should I use VisualBack?',
          text: 'First of all, users\' feedback matters more than ever before to create nice and precise looking websites, it is a necessity.'
        },
        {
          title: '5. What does effective feedback mean?',
          text: 'Great question! Sharing your project via social media groups, friends, forums and so on it\'s not effective at all. You never know who wrote the feedback and what is his/her reliability to front end development. VisualBack provides united space to all your feedback to your front end development!'
        },
        {
          title: '6. What does localized feedback mean?',
          text: 'We all know that the misunderstanding of other people is happening. \n' +
              '“Change the background color of the heading” - What does this guy mean? This happens a lot and to skip all of these unnecessary long conversations we made a so called live-preview where users can leave a pin on a project and write a feedback to the localized place. \n'
        },
        {
          title: '7. May users suggest CSS changes?',
          text: 'Yes! Live-preview comes with a CSS “compiler” where reviewers may style registered websites and push the code with feedback and attachment together.'
        },
        {
          title: '8. Is VisualBack free of charge?',
          text: 'Yes we\'re truly free of charge hoping to build a great front end community. If you like what we do and how we do, you can always send a thank you mail :) or buy us a coffee. That would be appreciated a lot'
        },
        {
          title: '9. How to register my website to collect feedback?',
          text: 'First of all you need to be logged in. Click to <a href="' + url('/project') + '">projects</a> and fill the input of your URL website. If you cooperate on creating the registered website you may add your fellas and send them an invitation link. The very last step we need to make is verifying you are the creator of the website. Please copy the suggested code and place it in head before </head>.'
        },
        {
          title: '10. How to ask for website feedback?',
          text: 'Once your website is successfully registered you may wait if someone decides to review your creations OR send a link of your project to different developer communities, friends, teachers... to get feedback even faster. (this is what we highly recommend).'
        },
        {
          title: '11. How do I provide a feedback?',
          text: 'Open any project you wish to review. Once the project is open, make sure you are in commenting mode. Find a place which you wish to review and click left on your mouse. The sidebar will be opened with options like: writing a text comment, CSS comment and attachment you may add.'
        },
        {
          title: '12. Why so much yellow?',
          text: 'Well back in the time when VisualBack was just an idea. With so many reserved and parked domain names, naming a brand nowadays is not an easy task. We somehow sticked with the name of “DevChicks” and assigned the yellow color to the word “chick”. Even though we knew that naming it “DevChicks” was not the best idea. Glad we decided for VisualBack!'
        },
      ]
    }
  },
  methods: {
    url: url,
    expandItem: function (event) {

      let items = $('.accordion .item'),
          titles = items.find('h3'),
          actual_title = $(event.target).closest('h3');

      titles.find('i[data-closed]').removeClass('hidden');
      titles.find('i[data-opened]').addClass('hidden');
      items.find('.text').addClass('hidden').parent();

      actual_title.next().removeClass('hidden');
      actual_title.find('i[data-closed]').addClass('hidden')
      actual_title.find('i[data-opened]').removeClass('hidden');
    }
  },
  created(){
    hide_loading_animation();
  }
}
</script>
