<template>
  <Layout id="home" class="page">
    <template slot="content">
      <section class="promo">
        <div class="custom-container">
          <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6">
              <h1>Public Space for <strong>Visual</strong> Feedback</h1>
              <p>Free tool for getting feedback and reviews to your front end web development.<br>
                Show your hard work to the devs world and get comments and reviews in the live preview app we made for
                you.</p>
              <a :href="routes.livepreview('demo','app')" class="button">Try project for free</a>
              <a href="#livepreview" class="link">Watch tutorial</a>
            </div>
            <div class="col-xl-6 col-lg-6 offset-xl-1">
              <div class="animation">
                <div class="comment" style="right: 1%;top: 30%;">
                  <div data-count="1" class="pin"></div>
                  <img :src="url('/img/home/patrice_sharma.jpg')" alt="user" class="person">
                  <div class="text">
                    <strong>Patrice Sharma</strong>
                    Looks awesome although I'd suggest more contrasting color. Check suggested CSS.
                  </div>
                </div>
                <div class="comment" style="top: 30%;left: 10%;">
                  <div data-count="2" class="pin"></div>
                  <img :src="url('/img/home/daniel_bob.jpeg')" alt="user" class="person">
                  <div class="text">
                    <strong>Daniel Bob</strong>
                    Remember! Whitespace makes websites easy to read. look at the code I made for you.
                  </div>
                </div>
                <div class="comment" style="right:17%;top: 20%;">
                  <div data-count="3" class="pin"></div>
                  <img :src="url('/img/home/zoe_hart.jpg')" alt="user" class="person">
                  <div class="text">
                    <strong>Zoe Hart</strong>
                    I really like the suggested code of Patrice. Anyway, good job!
                  </div>
                </div>
                <img :src="url('/img/home/imac.png')" width="550" height="615" class="imac" alt="imac">
              </div>
            </div>
          </div>
        </div>
      </section>
      <img :src="url('/img/home/clouds.svg')" alt="clouds" class="svg clouds">
      <section class="livepreview" id="livepreview">
        <div class="custom-container">
          <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
              <vue-plyr>
                <div class="plyr__video-embed">
                  <iframe
                      src="https://www.youtube.com/embed/bUlKtXD1BOc"
                      allowfullscreen
                      allowtransparency
                      allow="autoplay"
                  ></iframe>
                </div>
              </vue-plyr>
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1">
              <h2>How VisualBack works?</h2>
              <p>
                To save your time we prepared handy VisualBack tutorial. Register user, project, sites details,
                commenting, CSS compiling and all of the great stuff VisualBack provide. Enjoy!
              </p>
              <a :href="routes.sites()" class="button">Show Projects</a>
            </div>
          </div>
        </div>
      </section>
      <section class="pros">
        <div class="ornament">
          <img :src="url('/img/home/binnary.svg')" alt="binnary">
        </div>
        <div class="custom-container">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <h2>Discover our Benefits. Show your Hard Work and Get Feedback & Reviews!</h2>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-2 col-6 offset-lg-1">
                  <div class="item">
                    <div class="icon"><img :src="url('/img/home/pin.svg')" alt="pin" class="svg"></div>
                    <p>Effective and Localize Feedback</p>
                  </div>
                </div>
                <div class="col-lg-2 col-6">
                  <div class="item">
                    <div class="icon"><img :src="url('/img/home/free.svg')" alt="free" class="svg"></div>
                    <p>Register your Web Creations FREE</p>
                  </div>
                </div>
                <div class="col-lg-2 col-6">
                  <div class="item">
                    <div class="icon"><img :src="url('/img/home/css.svg')" alt="css" class="svg"></div>
                    <p>Developers May Suggest CSS Changes</p>
                  </div>
                </div>
                <div class="col-lg-2 col-6">
                  <div class="item">
                    <div class="icon"><img :src="url('/img/home/cv.svg')" alt="cv" class="svg"></div>
                    <p>Find Jobs Easily by Sharing your Profile</p>
                  </div>
                </div>
                <div class="col-lg-2 col-6">
                  <div class="item">
                    <div class="icon"><img :src="url('/img/home/share.svg')" alt="share" class="svg"></div>
                    <p>Share your Projects to your Dev Buddies</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="languages">
        <div class="custom-container">
          <div class="box" style="background-image: url('img/home/development.jpeg')">
            <div class="row">
              <div class="col-lg-6">
                <div class="content">
                  <h2>We Speak Languages You May Use</h2>
                  <p>Live preview can easily understand the web standards like HTML, CSS, JavaScript, PHP and frameworks
                    based on those languages. No worries, it's definitely suited to your project too!</p>
                </div>
              </div>
            </div>
            <img :src="url('/img/home/languages.svg')" alt="languages" class="absolute-image">
          </div>
        </div>
      </section>
      <section class="register" id="register">
        <div class="custom-container">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <h2>Register, It's free</h2>
              <p>Share your hard work with all of us. <br>You'll be grateful for the feedback & reviews. We promise!</p>
              <template v-if="auth_user">
                <RegisterInput/>
              </template>
              <template v-if="!auth_user">
                <a :href="routes.register()" class="button">Sign Up for Free</a>
                <a :href="routes.login()" class="link sign-in" title="Log In">Log In</a>
              </template>
            </div>
          </div>
        </div>
      </section>
    </template>
    <template slot="others">
      <RegisterSiteModal/>
      <svg style="width:0;height:0; position: absolute;">
        <linearGradient id="lg">
          <stop id="color1" offset="0"/>
          <stop id="color2" offset="1"/>
        </linearGradient>
      </svg>
    </template>
  </Layout>
</template>
<script>
import {mapGetters, mapMutations} from "vuex";
import {hide_loading_animation, url} from "../includes/helpers";
import VuePlyr from 'vue-plyr';
import RegisterInput from "./partials/Site/RegisterInput";
import RegisterSiteModal from "./partials/Modals/RegisterSite";
import routes from "../includes/routes";
import Layout from "./partials/Layout/Layout";

export default {
  components: {Layout, RegisterSiteModal, RegisterInput, VuePlyr},
  data() {
    return {
      routes: routes,
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser'}),
  },
  methods: {
    ...mapMutations(['setAuthUser']),
    url: url,
    shuffleComments: function () {
      var circles = $('.animation .comment'), i = 0;

      function shuffle() {
        let $this = $(circles[i])
        $this.animate({
          opacity: 1,
          // top: "-=50",
          maxWidth: "300px",
          fontSize: "14px"

        }, 600, function () {
          i = (i < circles.length - 1) ? (i + 1) : 0;
          setTimeout(function () {
            $this.animate({
              opacity: 0,
              // top: "+=50",
              maxWidth: "0px",
              fontSize: "0px"
            }, 1500);
            shuffle();
            // }, 1500); // 5 comments
          }, 3000);
        });
      }

      shuffle();
    }
  },
  async created() {
    await this.setAuthUser();

    this.shuffleComments();

    hide_loading_animation();
  }
}
</script>
