<template>
  <Layout id="privacy-policy" class="page">
    <section class="custom-container content" slot="content">

    </section>
  </Layout>
</template>
<script>
import Layout from "./partials/Layout/Layout";

export default {
  components: {Layout}
}
</script>
