<template>
  <Layout id="support-us" class="page">
    <section class="support-us" slot="content">
      <div class="custom-container">
        <div class="row">
          <div class="col-xl-7 col-lg-6 left">
            <img :src="url(`/img/sketch/coffee.svg`)" alt="Coffee" class="svg coffee">
          </div>
          <div class="col-xl-5 col-lg-6 right">
            <h2>Support Us</h2>
            <p>
              This app is out {{ days_till_start }} days. Our documents of features and apps that could be helpful
              especially if you're
              taught with the development world are “endless”. However, we ran out of coffee already and as you may know
              it is not an easy task to code without coffee. Buying us coffee not only helps us to be productive but
              also stay hydrated :). A few bucks would be appreciated.
            </p>
            <a :href="constants.buy_me_a_coffee" class="coffee-link" target="_blank">
              <img :src="url('/img/logo/buy-me-a-coffee.png')" alt="Buy me a coffee">
            </a>
          </div>
        </div>
      </div>
    </section>
  </Layout>
</template>
<script>
import Layout from "./partials/Layout/Layout";
import {hide_loading_animation, url} from "../includes/helpers";
import {mapGetters} from "vuex";

export default {
  components: {Layout},
  computed: {
    ...mapGetters({constants: 'getConstants'}),
  },
  data() {
    return {
      days_till_start: 0
    }
  },
  methods: {
    url: url,
    setDaysTillStart: function () {
      let today = new Date(),
          cmas = new Date(today.getFullYear(), 11, 15),
          one_day = 1000 * 60 * 60 * 24;

      if (today.getMonth() == 11 && today.getDate() > 25) {
        cmas.setFullYear(cmas.getFullYear() + 1);
      }

      this.days_till_start = Math.ceil((cmas.getTime() - today.getTime()) / (one_day));
    }
  },
  created() {
    this.setDaysTillStart();
  },
  mounted() {
    hide_loading_animation();
  }
}
</script>
