<template>
  <Layout id="post-detail" class="page">
    <template slot="content">
      <section class="content" v-if="page_ready">
        <div class="custom-container">
          <div class="cover">
            <img :src="post.illustration_url" alt="Cover">
          </div>
          <div class="text">
            <a class="back-to" :href="routes.posts()">
              <img :src="url('/img/back-arrow.svg')" alt="back" width="12px">
              Back to posts
            </a>
            <h1>{{ post.title }}</h1>
            <a class="author" :href="post.user.detail_url">
              <div class="profile-image">
                <img :src="post.user.profile_photo_url" alt="Profile image">
              </div>
              <div class="meta">
                <span class="name">{{ post.user.nickname | capitalize }}</span>
                <span class="created-at">{{ post.formatted_created_at }}</span>
              </div>
            </a>
            <div class="post-text" v-html="post.text"></div>
            <TagList
                :tags="post.tags"
            />
            <div class="share-post">
              <span>Share:</span>
              <SocialNetworksList
                  :url="routes.post_detail(post.slug,post.id)"
              />
            </div>
            <hr>
          </div>
        </div>
      </section>
      <section id="related-posts" v-if="related_posts.length">
        <div class="custom-container">
          <h2>Related posts</h2>
          <div class="post-listing">
            <ActiveItem v-for="post in related_posts"
                        :key="post.id"
                        :post="post"></ActiveItem>
          </div>
        </div>
      </section>
    </template>
  </Layout>
</template>

<script>
import {url, hide_loading_animation} from "../../includes/helpers";
import {mapActions, mapGetters, mapMutations} from "vuex";
import Layout from "../partials/Layout/Layout";
import routes from "../../includes/routes";
import ActiveItem from "../partials/Post/ActiveItem";
import SocialNetworksList from "../partials/SocialNetworksList";
import TagList from "../partials/Post/TagList";

export default {
  props: ['parameters'],
  components: {
    TagList,
    Layout, ActiveItem, SocialNetworksList
  },
  data() {
    return {
      routes,
      relate_posts_count: 3
    }
  },
  computed: {
    ...mapGetters({post: 'getPost', related_posts: 'getRelatedPosts', page_ready: 'getPageReady'})
  },
  methods: {
    ...mapActions(['setPost', 'setRelatedPosts']),
    ...mapMutations(['setPageReady']),
    url
  },
  async created() {
    this.parameters.count = this.relate_posts_count;

    await this.setPost(this.parameters);

    await this.setRelatedPosts(this.parameters);

    this.setPageReady(true);

    hide_loading_animation();
  }
}
</script>
