<template>
  <Layout id="post-index" class="page">
    <template slot="content">
      <section class="content">
        <div class="custom-container">
          <h1>Blog</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's</p>
          <TagList
              :tags="popular_tags"
          />
        </div>
      </section>
      <section class="posts">
        <div class="custom-container">
          <div class="post-listing">
            <template v-if="page_ready">
              <template v-if="posts.length">
                <ActiveItem v-for="post in posts"
                            :key="post.id"
                            :post="post"
                />
              </template>
              <template v-else>
                <div class="not-found">
                  <img :src="url('/img/sketch/blog.svg')" class="svg" alt="blog">
                  <p>Sorry, we haven't found any blog posts.</p>
                  <a :href="routes.posts()" class="button">All posts</a>
                </div>
              </template>
            </template>
            <template v-else>
              <FakeItem v-for="index in 3" :key="index"/>
            </template>
          </div>
        </div>
      </section>
    </template>
  </Layout>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";
import {hide_loading_animation, url} from "../../includes/helpers";
import Layout from "../partials/Layout/Layout";
import ActiveItem from "../partials/Post/ActiveItem";
import FakeItem from "../partials/Post/FakeItem";
import TagList from "../partials/Post/TagList";
import routes from "../../includes/routes";

export default {
  components: {
    TagList,
    FakeItem,
    ActiveItem,
    Layout
  },
  props: ['parameters'],
  data() {
    return {
      routes,
    }
  },
  computed: {
    ...mapGetters({posts: 'getPosts', page_ready: 'getPageReady', popular_tags: 'getPopularTags'})
  },
  methods: {
    ...mapActions(['setPosts', 'setPopularTags']),
    ...mapMutations(['setPageReady']),
    url: url
  },
  async created() {

    await this.setPosts(this.parameters);

    await this.setPopularTags();

    hide_loading_animation();

    this.setPageReady(true);
  }
}
</script>

