<template>
  <section id="follow">
    <h2 class="title">Followings & followers</h2>
    <div class="row setting-container">

      <div class="col-lg-6 col-md-12 column">
        <h3>Followings</h3>
        <ul class="list">
          <li v-for="following in followings" class="following">
            <a :href="following.following.detail_url" target="_blank">
              <img :src="following.following.profile_photo_url" :alt="following.following.nickname">
              <span>{{ following.following.nickname }}</span>
            </a>
            <span class="actions" v-if="auth_user && auth_user.id !== following.following.id">
                <FollowButton
                    :user="following.following"
                />
            </span>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 column">
        <h3>Followers</h3>
        <ul class="list">
          <li v-for="follower in followers" class="follower">
            <a :href="follower.follower.detail_url" target="_blank">
              <img :src="follower.follower.profile_photo_url" :alt="follower.follower.nickname">
              <span>{{ follower.follower.nickname }}</span>
            </a>
            <span class="actions" v-if="auth_user && auth_user.id !== follower.follower.id">
              <FollowButton
                  :user="follower.follower"
              />
            </span>
          </li>
        </ul>
      </div>

    </div>
  </section>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Notification from "./Notification";
import FollowButton from "../FollowButton";

export default {
  components: {FollowButton},
  data() {
    return {
      page_ready: false
    }
  },
  computed: {
    ...mapGetters({
      auth_user: 'getAuthUser',
      followers: 'getFollowers',
      followings: 'getFollowings'
    }),
  },
  methods: {
    ...mapActions(['setAuthUser', 'setFollowers', 'setFollowings'])
  },
  async created() {

    await this.setAuthUser();

    await this.setFollowers();

    await this.setFollowings();

    this.page_ready = true;
  }
}
</script>
