<template>
  <section id="my-projects" class="site-listing">
    <h2 class="title">My projects</h2>

    <div class="listing">

      <RegisterInput/>

      <div class="box-items">

        <template v-if="page_ready">

          <template v-if="is_registering_site">
            <FakeItem/>
          </template>

          <template v-if="sites">

            <template v-for="site in sites">

              <template v-if="site.banned">
                <PlaceholderItem
                    :site="site"
                />
              </template>

              <template v-else>
                <ActiveItem
                    :site="site"
                />
              </template>

            </template>

          </template>

        </template>
        <template v-else>

          <template v-for="index in 3">
            <FakeItem/>
          </template>

        </template>

      </div>
    </div>

    <ListModal/>

  </section>
</template>

<script>
import {mapGetters, mapActions} from "vuex";
import ActiveItem from "../Site/ActiveItem";
import RegisterInput from "../Site/RegisterInput";
import FakeItem from "../Site/FakeItem";
import ListModal from "../Modals/List";
import PlaceholderItem from "../Site/PlaceholderItem";
import {replace_img_by_svg} from "../../../includes/helpers";

export default {
  data() {
    return {
      page_ready: false
    }
  },
  components: {PlaceholderItem, FakeItem, ActiveItem, RegisterInput, ListModal},
  computed: {
    ...mapGetters({
      profile_settings: 'getProfileSettings',
      sites: 'getSites',
      auth_user: 'getAuthUser',
      is_registering_site: 'getIsRegisteringSite'
    }),
  },
  methods: {
    ...mapActions(['setSites', 'setAuthUser'])
  },
  async created() {

    await this.setAuthUser();

    if (this.sites.length < 1) {
      await this.setSites({user_identifier: this.auth_user.identifier});
    }

    setTimeout(function () {
      replace_img_by_svg();
    }, 1500)

    this.page_ready = true;
  }
}
</script>
