<template>

  <li>
    <template v-if="notification.notification_type.type === 'site-invitation'">
      <div class="content">
        <a :href="url(`/profile/${notification_value.user.identifier}`)" target="_blank" class="user-image">
          <img :src="notification_value.user.profile_photo_url" :alt="notification_value.user.nickname" alt="author">
        </a>
        <div class="text">
          <small>{{ notification.formatted_created_at }}</small><br>
          You have been invited by <a
            :href="routes.profile(notification_value.user.identifier)" target="_blank">{{
            notification_value.user.nickname
          }}</a> to
          participate on project <a
            :href="routes.livepreview(notification_value.site.identifier, notification_value.site.slug)"
            target="_blank">{{ notification_value.site.name }}</a>.
        </div>
      </div>
      <div class="actions">
        <button class="main-button" @click="acceptNotification">Accept</button>
        <button class="secondary-button" @click="rejectNotification">Reject</button>
      </div>
    </template>

    <!--    <template v-if="notification.notification_type.type === 'user-follow'">-->
    <!--      <i18n :path="`notification.${notification.notification_type.type}`">-->
    <!--        <a place="user_link"-->
    <!--           :href="routes.profile(notification_value.user.identifier)">{{ notification_value.user.nickname }}</a>-->
    <!--      </i18n>-->
    <!--    </template>-->

    <!--    <template v-if="notification.notification_type.type === 'new-site-follow'">-->
    <!--      <i18n :path="`notification.${notification.notification_type.type}`">-->
    <!--        <a place="site_link"-->
    <!--           :href="routes.livepreview(notification_value.site.identifier, notification_value.site.slug)" target="_blank">{{-->
    <!--            notification_value.site.name-->
    <!--          }}</a>-->
    <!--        <a place="user_link"-->
    <!--           :href="routes.profile(notification_value.user.identifier)">{{ notification_value.user.nickname }}</a>-->
    <!--      </i18n>-->
    <!--    </template>-->

  </li>

</template>

<script>
import {request_options, url} from "../../../includes/helpers";
import routes from "../../../includes/routes";
import {mapActions, mapGetters, mapMutations} from "vuex";
import axios from "axios";

export default {
  props: ['notification'],
  data() {
    return {
      routes
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser'}),
    notification_value: function () {
      return JSON.parse(this.notification.value);
    },
  },
  methods: {
    ...mapMutations(['setFlashMessage']),
    ...mapActions(['deleteNotification']),
    url: url,
    acceptNotification: function () {

      this.updateNotification('accepted');
    },
    rejectNotification: function () {

      this.updateNotification('rejected');
    },
    updateNotification: function (status) {

      let options,
          that = this,
          request_data = this.requestData(status);

      options = request_options('POST', routes.update_notification(this.auth_user.identifier), request_data);

      axios(options)
          .then(function (json) {

            if (!json.data.error) {
              that.deleteNotification({id: that.notification.id});
            }

            that.setFlashMessage({
              message: json.data.message,
              type: json.data.error ? 'error' : 'success'
            });
          });
    },
    requestData: function (status) {
      return {
        site_identifier: this.notification_value.site.identifier,
        notification_id: this.notification.id,
        status: status,
        type: 'site-invitation'
      }
    }
  },
}
</script>
