<template>
  <section id="notifications">
    <h2 class="title">Notifications</h2>

    <div class="setting-container">

      <ul>
        <template v-for="notification in notifications">

          <Notification :notification="notification"/>

        </template>
      </ul>

    </div>
  </section>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Notification from "./Notification";

export default {
  components: {Notification},
  data() {
    return {
      page_ready: false
    }
  },
  computed: {
    ...mapGetters({
      profile_settings: 'getProfileSettings',
      auth_user: 'getAuthUser',
      notifications: 'getNotifications'
    }),
  },
  methods: {
    ...mapActions(['setAuthUser', 'setNotifications'])
  },
  async created() {

    await this.setAuthUser();

    await this.setNotifications();

    this.page_ready = true;
  }
}
</script>
