<template>
  <section id="settings">
    <template v-if="!loading">
      <h2 class="title">Profile settings</h2>
      <div class="setting-container">
        <form class="col-lg-6 col-md-12 column" @submit="updateSettings">
          <h3>Account</h3>
          <input type="hidden" name="type" value="account">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email" name="email" placeholder="Email"
                   v-model="auth_user.email"
                   readonly>
          </div>
          <div class="form-group">
            <label for="nickname">
              Nickname
              <span class="hint-icon">
              <i class="fas fa-question-circle"
                 v-tooltip="`- minimum of 4 characters<br>- maximum of 25 characters`"></i>
              </span>
            </label>
            <input class="form-control" id="nickname" type="text" name="nickname" placeholder="Nickname"
                   v-model="auth_user.nickname"
            >
          </div>
          <template v-if="!auth_user.oauth_service">
            <div class="form-group">
              <label for="old-password">Old password</label>
              <input class="form-control" id="old-password" type="password" name="old_password"
                     placeholder="Old password">
            </div>
            <div class="form-group password-container">
              <label for="password">
                New password
                <span class="hint-icon">
              <i class="fas fa-question-circle"
                 v-tooltip="`Required:<br>- small letter (abc)<br>- big letter (ABC)<br>- special character (@#*)<br>- minimum of 8 characters`"></i>
              </span>
              </label>
              <input class="form-control" id="password" type="password" name="password" placeholder="New password">
            </div>
            <div class="form-group">
              <label for="password_confirmation">Password confirmation</label>
              <input class="form-control" id="password_confirmation" type="password" name="password_confirmation"
                     placeholder="Password confirmation">
            </div>
          </template>
          <button type="submit" class="main-button">Update account</button>
        </form>
        <form class="col-lg-6 col-md-12 column" @submit="updateSettings">
          <h3>User details</h3>
          <input type="hidden" name="type" value="user_detail">
          <div class="form-group">
            <label for="first-name">First name</label>
            <input class="form-control" id="first-name" type="text" name="name" placeholder="First name"
                   v-model="auth_user.name">
          </div>
          <div class="form-group">
            <label for="surname">Last name</label>
            <input class="form-control" id="surname" type="text" name="surname" placeholder="Last name"
                   v-model="auth_user.surname">
          </div>
          <div class="form-group">
            <label for="profile_picture">Profile image</label>
            <div class="picture-container">
              <img :src="auth_user.profile_photo_url" alt="profile-picture" class="profile-picture">
              <input type="file" id="profile_picture" name="profile_picture" ref="file" @change="handlePicture"
                     accept="image/*">
              <i class="fas fa-pen"></i>
            </div>
          </div>
          <button type="submit" class="main-button">Update user details</button>
        </form>
        <form class="col-lg-6 col-md-12 column" @submit="updateSettings">
          <h3>Permissions</h3>
          <input type="hidden" name="type" value="permissions">
          <div class="toggle-checkbox-container">
            <label class="toggle-checkbox" for="newsletter">
              <input id="newsletter" type="checkbox" name="newsletter" v-model="user_permissions.newsletter">
              <span class="slider round"></span>
            </label>
            <p>
              Receive newsletter
            </p>
          </div>
          <button type="submit" class="main-button">Update permissions</button>
        </form>
        <form class="col-lg-6 col-md-12 column" @submit="updateSettings">
          <h3>Cancellation account</h3>
          <input type="hidden" name="type" value="cancel_account">
          <button type="button" class="danger-button" @click="deleteAccount">Cancel account</button>
        </form>
      </div>
    </template>
    <template v-else>
      <Loader/>
    </template>

  </section>
</template>

<script>
import vSelect from 'vue-select';
import {mapActions, mapGetters, mapMutations} from "vuex";
import {
  form_data_to_object,
  get_parameter_value_by_type,
  request_options
} from "../../../includes/helpers";
import routes from "../../../includes/routes";
import Loader from "../Loader";
import {recaptchaMixin, showPasswordMixin} from "../../../includes/mixins";

export default {
  components: {Loader, vSelect},
  mixins: [showPasswordMixin, recaptchaMixin],
  data() {
    return {
      is_submitting: false,
      loading: true,
      file: null,
      user_details: null,
      user_permissions: null,
      user_platforms: null,
      error: {
        old_password: null,
        password: null,
        password_confirmation: null
      }
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser', profile_settings: 'getProfileSettings'})
  },
  methods: {
    ...mapActions(['setAuthUser', 'updateProfileSettings']),
    ...mapMutations(['setFlashMessage', 'openModal']),
    updateSettings: function (event) {
      // https://serversideup.net/uploading-files-vuejs-axios/
      event.preventDefault();

      let type = $(event.target).serializeArray()[0].value;

      this.addRecaptchaToken(event, () => {

        let form_data = this.appendDataToForm(event, type)

        // form_data.append('g-recaptcha', this.recaptcha_token);

        if (this.baseValidation(form_data)) {

          if (this.is_submitting) return;

          this.is_submitting = true;

          this.updateProfileSettings({
            file: this.file,
            form_data: form_data,
            type: type
          });

          this.is_submitting = false;

        } else {
          this.setFlashMessage({
            type: 'error',
            message: this.error
          });
        }
      });
    },
    appendDataToForm: function (event, type) {
      let form_data = form_data_to_object($(event.target).find('input'));

      if (type === 'user_detail') {
        form_data.append('profile_picture', this.file ? this.file : '');
      }

      return form_data;
    },
    baseValidation: function (form_data) {
      if (form_data.type === 'account') {
        if (!form_data.password) {
          this.error = 'Password is empty.';
          return false;
        }

        if (!form_data.old_password) {
          this.error = "Old password is empty.";
          return false;
        }

        if (!form_data.password_confirmation) {
          this.error = 'Password confirmation is empty.';
          return false;
        }

        if (form_data.password !== form_data.password_confirmation) {
          this.error = 'Password and password confirmation does not match.';
          return false;
        }
      }

      return true;
    },
    handlePicture: function () {

      let reader = new FileReader();

      this.file = this.$refs.file.files[0];

      reader.onload = function (event) {
        $('#settings .profile-picture').attr('src', event.target.result);
      }

      reader.readAsDataURL(this.file);
    },
    deleteAccount: function () {
      this.openModal({
        method: 'DELETE',
        request_options: request_options('GET', routes.delete_account(this.auth_user.identifier)),
        title: 'Account deletion',
        content: `Would you like to delete this account? You will lose your data permanently and there is no possibility to take it back.`,
        type: 'user',
      });
    },
    setUserData: function () {
      this.user_details = get_parameter_value_by_type(this.auth_user.parameters, 'user-details', true);
      this.user_permissions = get_parameter_value_by_type(this.auth_user.parameters, 'user-permission', true);
      this.user_platforms = get_parameter_value_by_type(this.auth_user.parameters, 'user-platforms', true);
    },
  },
  async created() {
    this.setUserData();

    this.loading = false;

    this.initiateShowPassword();
  },
}
</script>
