<template>
  <aside>
    <h2>Dashboard</h2>
    <ul class="hidden-md-down">
      <li :class="{active: profile_settings.show_profile_settings}" @click="changeComponent('show_profile_settings')">
        <i class="fas fa-user-cog"></i>
        <a>Profile settings</a>
      </li>
      <li :class="{active: profile_settings.show_my_sites}" @click="changeComponent('show_my_sites')">
        <i class="fas fa-tasks"></i>
        <a>My projects</a>
      </li>
      <li :class="{active: profile_settings.show_notifications}" @click="changeComponent('show_notifications')">
        <i class="fas fa-bell"></i>
        <a>Notifications</a>
      </li>
    </ul>
    <ul class="hidden-md-up">
      <li :class="{active: profile_settings.show_profile_settings}" @click="changeComponent('show_profile_settings')">
        <i class="fas fa-user-cog"></i>
      </li>
      <li :class="{active: profile_settings.show_my_sites}" @click="changeComponent('show_my_sites')">
        <i class="fas fa-tasks"></i>
      </li>
      <li :class="{active: profile_settings.show_notifications}" @click="changeComponent('show_notifications')">
        <i class="fas fa-bell"></i>
      </li>
    </ul>
  </aside>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";

export default {
  computed: {
    ...mapGetters({profile_settings: 'getProfileSettings', auth_user: 'getAuthUser'})
  },
  methods: {
    ...mapMutations(['setProfileSettings']),
    changeComponent: function (event) {

      let uri;

      if (event === 'show_profile_settings')
        uri = `/profile/${this.auth_user.identifier}/settings`;
      else if (event === 'show_notifications')
        uri = `/profile/${this.auth_user.identifier}/settings/notifications`;
          // else if (event === 'show_follows')
      //   uri = `/profile/${this.auth_user.identifier}/settings/follow`;
      else
        uri = `/profile/${this.auth_user.identifier}/settings/my-projects`;

      this.setProfileSettings({
        show_profile_settings: event === 'show_profile_settings',
        show_notifications: event === 'show_notifications',
        show_my_sites: event === 'show_my_sites',
        // show_follows: event === 'show_follows',
        uri
      });
    },
    getCurrentSite() {

      let uri = window.location.pathname;
      uri = uri.split('/');
      uri = uri[uri.length - 1];

      if (uri === 'my-projects')
        return 'show_my_sites';
      else if (uri === 'notifications')
        return 'show_notifications';
          // else if (uri === 'follow')
      //   return 'show_follows';
      else
        return 'show_profile_settings';
    }
  },
  created() {
    let current_site = this.getCurrentSite();

    this.changeComponent(current_site);
  }
}
</script>
