<template>
  <div v-if="gallery.length">
    <div class="attachments">
      <a v-for="(attachment,index) in gallery" @click="showLightbox(index)">
        <img :src="attachment.url" alt="Attachment">
      </a>
    </div>
    <!-- The Modal/Lightbox -->
    <template v-if="gallery.length">
      <vue-easy-lightbox
          :visible="visible"
          :imgs="attachment_urls"
          :index="attachment_index"
          @hide="hideLightbox"
      ></vue-easy-lightbox>
    </template>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import VueEasyLightbox from 'vue-easy-lightbox'
import {get_values_by_attribute} from "../../../includes/helpers";

export default {
  components: {VueEasyLightbox},
  data() {
    return {
      visible: false,
      attachment_index: null,
    }
  },
  computed: {
    ...mapGetters({gallery: 'getGallery'}),
    attachment_urls: function () {
      return get_values_by_attribute(this.gallery, 'url')
    }
  },
  methods: {
    showLightbox: function (index) {
      this.attachment_index = index
      this.visible = true
    },
    hideLightbox() {
      this.visible = false
    }
  },
}
</script>
