<template>
  <div id="comment-sidebar">
    <a @click="backToComments" class="back-to-comments">
      <img :src="url('/img/back-arrow.svg')" alt="back" width="12px">
      Back to comments
    </a>
    <div class="container">
      <form @submit="submitComment" method="POST">
        <div class="card" ref="comment_input_container">
          <div class="comment">
            <div class="card-body form-group">
            <textarea name="text" class="form-control" id="comment-input" v-model="settings.comment_text"
                      placeholder="Write comment..." rows="3"></textarea>
            </div>
            <div class="attachment" v-if="css_editor.file">
              <a :href="this.css_editor.file.url" target="_blank">CSS source code</a>
              <i class="fas fa-trash-alt" :data-url="routes.delete_attachment(this.css_editor.file.id)"
                 @click="deleteCssFile"></i>
            </div>
            <FileUploader
                v-if="settings.current_site"
            />
            <button type="submit" class="main-button save" :disabled="isEmptyString(settings.comment_text)">
              Save
            </button>
          </div>
        </div>

        <SourceCodeEditor/>

      </form>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters, mapMutations} from 'vuex';
import {url, get_browser, request_options} from '../../../includes/helpers';
import {cssEditorMixin, livepreviewMixin, recaptchaMixin} from "../../../includes/mixins";
import Loader from '../Loader';
import Comment from "./Comment";
import FileUploader from "../FileUploader";
import Brace from 'vue-bulma-brace'
import routes from "../../../includes/routes";
import SourceCodeEditor from "../SourceCodeEditor";
import {removeTemporaryPin} from "../../../services/PinService";

export default {
  components: {SourceCodeEditor, Comment, Loader, Brace, FileUploader},
  props: ['siteData'],
  mixins: [recaptchaMixin, livepreviewMixin, cssEditorMixin],
  data() {
    return {
      routes: routes,
      head: null,
    }
  },
  computed: {
    ...mapGetters({file_uploader: 'getFileUploader', css_editor: 'getCssEditor', flash_message: 'getFlashMessage'}),
    site: function () {
      return this.siteData;
    },
  },
  methods: {
    ...mapActions(['storeComment', 'deleteAttachment']),
    ...mapMutations(['addComment', 'toggleUnregisteredUserModal', 'setFileUploader', 'clearCommentFields', 'setCssEditor']),
    url: url,
    backToComments: function () {

      this.setLivepreviewSettings({
        sidebar_type: 'listing'
      });

      this.setFileUploader({
        files: [],
        updated: false
      });

      removeTemporaryPin();

      this.clearCommentFields();
    },
    getAttachments: function () {

      let attachments = [];

      if (this.css_editor.file) {
        attachments.push(this.css_editor.file.id);
      }

      this.file_uploader.files.forEach(function (file) {
        attachments.push(file.id)
      });

      return attachments;
    },
    submitComment: async function (event) {

      event.preventDefault();

      if (this.isEmptyString(this.settings.comment_text)) {
        this.setFlashMessage({
          type: 'error',
          message: 'Please, fill the text comment',
        });
        return;
      }

      let options;

      this.addRecaptchaToken(event, async () => {

        let iframe = $('iframe');

        options = request_options('POST', routes.store_site_comment(), {
          user_identifier: this.auth_user ? this.auth_user.identifier : null,
          site_id: this.site.id,
          text: this.settings.comment_text,
          count: this.settings.last_pin_count,
          target: this.settings.actual_pin.target,
          x: this.settings.actual_pin.x,
          y: this.settings.actual_pin.y,
          relative: this.settings.actual_pin.relative,
          attachments: this.getAttachments(),
          browser: get_browser(),
          uri: iframe[0].contentWindow.location.pathname,
          device: $('.device.active').attr('data-device'),
          width: window.innerWidth || document.body.clientWidth,
          height: window.innerHeight || document.body.clientHeight,
          "g-recaptcha": this.recaptcha_token
        });

        await this.storeComment(options);

        this.stopCSS();

        // if (this.flash_message.type === 'success') {

        $($('iframe').contents()).find('.pin.temp').removeClass('temp');

        this.clearCommentFields();
        // }
      });
    },
  },
}
</script>
