<template>

  <div class="comment" @click="showCommentDetail(comment)">
    <div class="card">
      <div class="card-body">
        <div class="meta">
          <div class="user">
            <div class="pin" :data-count="this.comment.count"></div>
            <strong>
              <a>
                {{ comment_author }}
              </a>
            </strong>
          </div>
          <em class="published">{{ this.comment.formatted_created_at }}</em>
        </div>
        <p v-html="stringLimit(comment.text,60)" class="comment-text"></p>
        <ul class="actions icons">
          <li v-show="this.comment.replies.length" data-value="1">
            <a>
              <i class="far fa-comment"></i>
            </a>
          </li>
          <li v-show="this.has_css_file">
            <a class="attachment">
              <i class="fas fa-caret-right"></i>
            </a>
          </li>
          <li v-show="this.has_attachment_files">
            <a>
              <i class="fas fa-paperclip"></i>
            </a>
          </li>
          <li>
            <a>
              <i class="fas" :class="{
                      'fa-desktop': comment.device === 'desktop',
                      'fa-tablet-alt': comment.device === 'tablet',
                      'fa-mobile-alt': comment.device === 'phone'
                  }"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</template>
<script>
import {get_attachment_by_type, string_limit} from "../../../includes/helpers";
import ReplyInput from "./ReplyInput";
import Rating from "../Rating";
import Reply from "./Reply";
import {commentMixin, livepreviewMixin, sidebarMixin} from "../../../includes/mixins";
import {mapGetters, mapMutations} from "vuex";

export default {
  components: {Reply, ReplyInput, Rating},
  props: ['comment', 'site', 'index'],
  mixins: [livepreviewMixin, sidebarMixin, commentMixin],
  data() {
    return {
      auth_rating_value: null,
      replies: [],
    }
  },
  computed: {
    ...mapGetters({css_editor: 'getCssEditor'}),
    has_css_file: function () {
      return get_attachment_by_type(this.comment.attachment, 'css').length > 0;
    },
    has_attachment_files: function () {
      return get_attachment_by_type(this.comment.attachment, 'attachment').length > 0;
    },
  },
  methods: {
    ...mapMutations(['setGallery', 'setCssEditor']),
    stringLimit: string_limit,
  },
  created() {
    // get auth user rating of this comment
    this.auth_rating_value = this.comment.comment_rating && this.comment.comment_rating.length
        ? this.comment.comment_rating[0].value
        : null;
    this.replies = this.comment.replies;
  }
}
</script>
