<template>

  <div v-if="comment" id="detail-sidebar">
    <a
        @click="navigateListingSidebar"
        class="back-to-comments"
    >
      <img :src="url('/img/back-arrow.svg')" alt="back" width="12px">
      Back to comments
    </a>
    <div class="container">
      <div class="comment">
        <div class="comment-container">
          <em class="uri">{{ this.comment.uri | limit(24) }}</em>
        </div>
        <div class="card">
          <div class="comment main" :class="{'edit-mode': settings.comment_edit_mode}" :data-id="this.comment.id">
            <div class="card-body">
              <div class="meta">
                <div class="user">
                  <div class="pin" :data-count="this.comment.count"></div>
                  <img :src="comment_author_image_url" alt="Profle">
                  <strong>
                    <a v-if="this.comment.user" :href="this.comment.user.detail_url"
                       target="_blank">
                      {{ comment_author }}
                    </a>
                    <a v-else target="_blank">
                      {{ this.comment.nickname }}
                    </a>
                  </strong>
                </div>
                <em class="published">{{ this.comment.formatted_created_at }}</em>
              </div>

              <!-- Preview mode -->
              <template v-if="!settings.comment_edit_mode">
                <p v-html="comment.text" class="comment-text"></p>
                <div class="actions">
                  <Rating
                      :comment="comment"
                  />
                  <CommentActions
                      :comment="comment"
                      :auth-user="auth_user && comment.user_id === auth_user.id"
                      type="comment"
                  />
                </div>
              </template>

              <!-- Edit mode -->
              <template v-if="settings.comment_edit_mode">
                <form method="post" @submit="submitUpdateForm">
                  <div class="edit-mode form-group">
                    <textarea v-model="comment_edit_mode_text" type="text" class="form-control"></textarea>
                    <div class="buttons">
                      <button @click="toggleEditMode" type="button" class="main-button secondary-button">
                        Cancel
                      </button>
                      <button type="submit" class="main-button save" :disabled="isDisabledSave">
                        Save
                      </button>
                    </div>
                  </div>
                </form>
              </template>

            </div>
            <div class="attachment" :class="{ active: settings.running_code }" v-if="this.css_editor.file">
              <a :href="this.css_editor.file.url" target="_blank">CSS source code</a>
              <div class="actions">
                <a :href="this.css_editor.file.url" target="_blank" v-tooltip="`Open CSS file`">
                  <i class="fas fa-external-link-alt"></i>
                </a>
                <a v-show="settings.running_code" class="toggle-code" @click="toggleRunCode" v-tooltip="`Stop CSS`">
                  <i class="fas fa-pause pause"></i>
                </a>
                <a v-show="!settings.running_code" class="toggle-code pulse" @click="toggleRunCode" v-tooltip="`Start CSS`">
                  <i class="fas fa-caret-right play"></i>
                </a>
              </div>
            </div>

            <!-- Preview mode -->
            <template v-if="!settings.comment_edit_mode">
              <Attachments/>
            </template>

            <!-- Edit mode -->
            <template v-else>
              <FileUploader/>
            </template>

          </div>

          <!-- Replies and input -->
          <template>
            <Reply
                v-for="reply in this.replies"
                :key="reply.id"
                :comment="reply"
                :auth-user="auth_user"
                :site-user-id="site.user_id"
            />

            <ReplyInput
                :site="site"
            />
          </template>

        </div>
      </div>
    </div>
  </div>

</template>
<script>
import {recaptchaMixin, livepreviewMixin, cssEditorMixin, commentMixin} from "../../../includes/mixins";
import {mapActions, mapGetters, mapMutations} from "vuex";
import {
  is_empty_string,
  request_options,
  strip_html,
  url
} from '../../../includes/helpers';
import axios from 'axios';
import Loader from '../Loader';
import Comment from "./Comment";
import Reply from "./Reply";
import ReplyInput from "./ReplyInput";
import CommentActions from "../CommentActions";
import Rating from "../Rating";
import routes from "../../../includes/routes";
import Attachments from "./Attachments";
import FileUploader from "../FileUploader";
import {findPinById} from "../../../services/PinService";

export default {
  components: {FileUploader, Attachments, Rating, ReplyInput, Reply, Comment, Loader, CommentActions},
  props: ['siteData'],
  mixins: [recaptchaMixin, livepreviewMixin, cssEditorMixin, commentMixin],
  data() {
    return {
      auth_rating_value: null,
      last_code_attachment_id: null,
    }
  },
  computed: {
    ...mapGetters({file_uploader: 'getFileUploader', gallery: 'getGallery'}),
    isDisabledSave: function () {
      return (this.isEmptyString(this.comment_edit_mode_text) || this.comment_edit_mode_text === this.comment.text)
          && !this.file_uploader.updated;
    },
    comment: function () {
      return this.settings.current_comment;
    },
    replies: function () {
      return this.settings.current_replies;
    },
    site: function () {
      return this.siteData;
    },
    comment_edit_mode_text: {
      get() {
        return this.$store.state.livepreview_settings.comment_edit_mode_text;
      },
      set(value) {
        this.$store.commit('setLivepreviewSettings', {comment_edit_mode_text: value});
      }
    },
  },
  methods: {
    ...mapMutations(['flushFlashMessage', 'setGallery', 'clearCommentFields']),
    ...mapActions(['updateComment']),
    url: url,
    // navigate back to commentsidebar
    navigateListingSidebar: function () {

      this.clearCommentFields();

      this.stopCSS();

      this.setLivepreviewSettings({
        sidebar_type: 'listing',
        reply_id_edit_mode: null,
        reply_edit_mode_text: '',
        comment_edit_mode: false
      });

      findPinById(this.comment.id).removeClass('highlight-comment');

      $('.reply-input').val('');
    },
    // run written code in comment
    toggleRunCode: async function () {

      let that = this,
          options;

      if (!this.css_editor.code) {

        options = request_options('GET', routes.get_attachment(this.site.id, this.css_editor.file.id));
        // todo: prepis do action
        await axios(options)
            .then(function (json) {

              that.last_code_attachment_id = that.comment.attachment.id;

              that.setCssEditor({
                code: strip_html(json.data.file)
              });
            });
      }

      this.setLivepreviewSettings({
        running_code: !this.settings.running_code
      })

      if (this.settings.running_code) {

        this.setFlashMessage({
          type: 'success',
          message: 'Running suggested CSS...',
          infinite: true
        });

      } else {

        this.flushFlashMessage();
      }

      that.runCSS();
    },
    toggleEditMode: function () {

      this.setLivepreviewSettings({
        comment_edit_mode: false,
      });
    },
    submitUpdateForm: function (event) {

      event.preventDefault();

      let that = this,
          options;

      if (is_empty_string(that.comment_edit_mode_text)) {

        this.showException('Please, fill the text comment')

        return;
      }

      this.addRecaptchaToken(event, async function () {

        options = request_options('POST', routes.update_site_comment(that.comment.id), {
          text: that.comment_edit_mode_text,
          id: that.comment.id,
          "g-recaptcha": that.recaptcha_token
        });

        await that.updateComment({
          options,
          that
        });
      });
    },
  }
}
</script>
