<template>
  <div id="listing-sidebar">
    <div class="filter-container">
      <a :href="url('/project')" class="back-to-comments">
        <img :src="url('/img/back-arrow.svg')" alt="back" width="12px">
        Projects
      </a>
      <div class="filter">
        <img :src="url('/img/search.svg')" class="svg" alt="Search" @click="$refs['filter'].focus()"
             style="display: none">
        <input type="text" id="filter" ref="filter" placeholder="Search..." v-model="search">
      </div>
    </div>
    <div class="container">
      <template v-if="this.page_ready">

        <template v-for="(comments_by_uri) in this.filtered_comments">

          <template v-for="(comment,index) in comments_by_uri">

            <div class="comment-container" v-if="index === 0">
              <em class="uri">{{ comment.uri | limit(24) }}</em>
            </div>

            <template v-if="settings.resolution !== comment.device">
              <PlaceholderComment
                  :message="`Available on ${comment.device}`"
              />
            </template>
            <template v-else-if="settings.uri !== comment.uri">
              <PlaceholderComment
                  :message="`Available on ${comment.uri}`"
              />
            </template>
            <template v-else-if="comment.banned">
              <PlaceholderComment
                  message="Comment was temporarily banned"
              />
            </template>
            <template v-else-if="comment.not_found">
              <PlaceholderComment
                  message="Comment not found"
              />
            </template>
            <template v-else>
              <Comment
                  :key="comment.id"
                  :comment="comment"
                  :site="site"
                  :index="index"
              />
            </template>

          </template>

        </template>

      </template>

      <template v-else>
        <div class="loading loading--style5 text-center">
          <div class="loader-container">

            <Loader/>

          </div>
        </div>
      </template>

    </div>
  </div>
</template>
<script>
import Loader from '../Loader';
import Comment from "./Comment";
import DetailSidebar from "./DetailSidebar";
import {filter_by_search, group_by, url} from "../../../includes/helpers";
import {mapGetters} from "vuex";
import PlaceholderComment from "./PlaceholderComment";

export default {
  components: {DetailSidebar, Comment, Loader, PlaceholderComment},
  props: ['siteData'],
  data() {
    return {
      page_ready: false,
      comment: null,
      search: ''
    }
  },
  computed: {
    ...mapGetters({comments: 'getComments', settings: 'getLivepreviewSettings'}),
    filtered_comments: function () {

      let filtered_comments = this.comments;

      if (this.comments.length) {

        if (this.search !== '') {
          filtered_comments = filter_by_search(this.comments, 'text', this.search);
        }
      }

      filtered_comments = group_by(filtered_comments, 'uri');

      return filtered_comments;
    },
    site: function () {
      return this.siteData;
    },
  },
  methods: {
    url: url
  },
  created() {
    this.page_ready = true;
  }
}
</script>
