<template>

  <div class="reply-input-container">
    <div class="form-group">
      <input type="text" name="text" class="form-control reply-input" v-model="message" ref="message"
             @keyup.enter="submitCommentReply" placeholder="Write reply..."/>
    </div>
  </div>

</template>

<script>
import routes from "../../../includes/routes";
import {is_empty_string, request_options} from "../../../includes/helpers";
import {mapActions, mapGetters, mapMutations} from "vuex";
import {recaptchaMixin} from "../../../includes/mixins";

export default {
  mixins: [recaptchaMixin],
  props: ['site'],
  data() {
    return {
      message: '',
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser', settings: 'getLivepreviewSettings'}),
  },
  methods: {
    ...mapMutations(['setFlashMessage', 'showException']),
    ...mapActions(['addCommentReply']),
    submitCommentReply: async function (event) {

      let that = this,
          options;

      if (is_empty_string(this.message)) {
        this.showException('Please, fill the text comment');
        return;
      }

      this.addRecaptchaToken(event, async function () {

        options = request_options('POST', routes.store_site_comment(), {
          site_id: that.site.id,
          parent_id: that.settings.current_comment.id,
          device: that.settings.current_comment.device,
          user_identifier: that.auth_user ? that.auth_user.identifier : null,
          text: that.message,
          uri: that.settings.current_comment.uri,
          "g-recaptcha": that.recaptcha_token
        })

        await that.addCommentReply(options);

        that.message = '';
        that.$refs["message"].focus();
      });
    }
  }
}
</script>
