<template>

  <div class="reply comment" :data-id="this.comment.id">
    <div class="card-body">
      <div class="meta">
        <div class="user">
          <img :src="comment_author_image_url" alt="Profile">
          <strong>
            <a v-if="this.comment.user" :href="this.comment.user.detail_url"
               target="_blank">
              {{ this.comment.user.nickname }}
            </a>
            <a v-else target="_blank">
              {{ this.comment.nickname }}
            </a>
          </strong>
        </div>
        <em class="published">{{ this.comment.formatted_created_at }}</em>
      </div>

      <template v-if="settings.reply_edit_mode && comment.id === settings.reply_id_edit_mode">
        <div class="edit-mode form-group">
          <input v-model="reply_edit_mode_text" type="text" class="form-control">
          <div class="buttons">
            <button @click="toggleEditMode" type="button" class="main-button secondary-button">
              Cancel
            </button>
            <button type="button" @click="updateComment" class="main-button save"
                    :disabled="isEmptyString(reply_edit_mode_text) || reply_edit_mode_text === comment.text">
              Save
            </button>
          </div>
        </div>
      </template>
      <template v-else>
        <p class="reply-text">{{ this.comment.text }}</p>
        <div class="actions">
          <Rating
              :comment="comment"
          />
          <CommentActions
              :comment="comment"
              type="reply"
          />
        </div>
      </template>
    </div>
  </div>

</template>

<script>
import axios from 'axios';
import Rating from "../Rating";
import CommentActions from "../CommentActions";
import routes from "../../../includes/routes";
import {is_empty_string, request_options} from "../../../includes/helpers";
import {mapActions, mapGetters, mapMutations} from "vuex";
import {commentMixin, recaptchaMixin} from "../../../includes/mixins";

export default {
  mixins: [recaptchaMixin, commentMixin],
  components: {CommentActions, Rating},
  props: ['comment', 'siteUserId'],
  data() {
    return {
      auth_rating_value: this.comment.comment_rating && this.comment.comment_rating.length
          ? this.comment.comment_rating[0].value
          : null
    }
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser', settings: 'getLivepreviewSettings',}),
    reply_edit_mode_text: {
      get() {
        return this.$store.state.livepreview_settings.reply_edit_mode_text;
      },
      set(value) {
        this.$store.commit('setLivepreviewSettings', {reply_edit_mode_text: value});
      }
    }
  },
  methods: {
    ...mapActions(['updateCommentReply']),
    ...mapMutations(['setFlashMessage', 'updateCommentReply', 'setLivepreviewSettings']),
    isEmptyString: is_empty_string,
    toggleEditMode: function () {
      this.setLivepreviewSettings({
        reply_edit_mode: false
      });
    },
    updateComment: function (event) {

      let that = this,
          data;

      this.addRecaptchaToken(event, async () => {

        data = {
          that,
          options: {
            text: that.reply_edit_mode_text,
            id: that.comment.id,
            "g-recaptcha": that.recaptcha_token
          }
        }

        await this.$store.dispatch('updateCommentReply', data);
      });
    },
  }
}
</script>
