@media (max-width: 767px) {
    #cookie-consent {
        .cookie-consent {
            @include flex-direction(column);

            span {
                text-align: center;
                padding-bottom: 15px;
            }
        }
    }

    .modal {
        .modal-container {
            width: 95%;
        }
    }

    .open-menu {
        header .responsive-button {
            visibility: hidden;
        }

        .responsive-menu .responsive-button {
            span {
                &:nth-child(1) {
                    top: 9px;
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                }

                &:nth-child(4) {
                    top: 9px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }

    section.promo {
        .link {
            padding: 15px 25px;
        }
    }

    .responsive-button {
        width: 30px;
        height: 22px;
        position: relative;
        transform: rotate(0deg);
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-right: 10px;
        display: block;

        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: $default-color;
            border-radius: 1px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .2s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }

            &:nth-child(2), &:nth-child(3) {
                top: 9px;
            }

            &:nth-child(4) {
                top: 18px;
            }
        }
    }

    .beta {

        #error {
            .content {
                padding: 80px 15px 30px 15px;
                height: auto;
            }
        }

        #site-edit {
            h2 {
                text-align: center;
            }
        }

        #site-index {
            .box-items {
                padding-top: 20px;

                .site {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            .search-container.active {
                input.search-input {
                    width: 150px;
                }
            }
        }

        header {
            .logo {
                width: 90px;
                margin-left: 0;
            }

            ul.main {
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                background: white;
                padding: 10px;
            }

            .search-container {
                .icon-container {
                    right: 5px;

                    svg {
                        width: 20px;
                        max-width: 20px;
                        padding: 0;
                    }
                }
            }

            ul.actions {
                display: none;
            }

            .left {
                width: 100%;
                @include justify-content(space-between);
                @include flex-direction(row-reverse);
            }
        }

        #profile-detail {
            .user-container {
                padding: 70px 0 20px;

                .custom-container {
                    .info-container {
                        max-width: 100%;
                        @include flex(0 0 100%);
                        @include justify-content(flex-end);
                        @include align-items(center);
                        margin-top: -80px;

                        h2 {
                            font-size: 22px;
                            margin-bottom: 10px;
                        }

                        .text {
                            min-height: 70px;
                            @include flex-direction(column);
                            @include align-items(flex-start);
                            @include flex(0 0 80%);
                            padding-left: 15px;
                        }
                    }

                    .summary {
                        overflow-x: auto;
                        flex-wrap: wrap;
                        padding: 20px 0 0;

                        li {
                            width: 50%;

                            a {
                                font-size: 15px;
                            }
                        }
                    }

                    .image-container {
                        @include flex(0 0 20%);
                        padding-right: 0;
                        padding-left: 0;

                        img {
                            height: 65px;
                            width: 65px;
                        }
                    }
                }
            }
        }

        #home {
            section.livepreview {

                .row {
                    @include flex-direction(column-reverse);
                    text-align: center;

                    .plyr {
                        width: 92%;
                    }

                    p {
                        font-size: 14px;
                    }

                    .button {
                        margin-bottom: 25px;
                    }
                }
            }
        }

        #profile-settings {
            #notifications,
            #my-projects,
            #settings {
                padding-top: 30px;
            }
        }

        .responsive-menu {
            .custom-container {
                @include position-absolute($top: 55px);
            }

            .wrapper {
                padding-top: 140px;
            }
        }

        #cookies .content,
        #faq .content,
        #contact-index {
            padding-top: 150px;
        }
    }

    .beta #home,
    #home {
        section.promo {
            .imac {
                max-width: 100%;
            }
        }

        section.pros,
        section.livepreview {
            h2 {
                margin-bottom: 1em;
            }
        }

        section.languages {
            .box {
                .absolute-image {
                    margin: 10px auto -80px;
                }
            }
        }

        section.pros {
            .icon {
                svg {
                    height: 70px;
                    width: 70px;
                }
            }
        }

        section.languages {
            padding: 20px 0;
        }
    }

    #support-us {
        section.support-us {
            .left {
                svg {
                    font-size: 320px;
                }
            }
        }
    }

    #contact-index {
        section#contact {
            padding-top: 0;

            h1,
            p {
                text-align: center;
            }

            .left {
                padding-right: 20px;
                padding-bottom: 20px;
            }

            .contact-links a,
            .social-media {
                @include justify-content(center);
            }
        }
    }

    .register-form {
        padding: 20px 0 10px 0 !important;

        .form-group {
            @include flex-direction(column);

            input {
                margin: 0 0 10px 0;
                width: 100%;
            }
        }
    }

    #about-us {
        h2,
        p,
        .left,
        .right {
            text-align: center;
        }

        .about-participant {
            margin-top: 60px;

            .row {
                @include flex-direction(column-reverse);
            }
        }
    }

    .page#login,
    .page#register,
    .page#forgot-password {
        min-height: 100%;
        height: auto;

        section.right {
            display: none;
        }

        section.left {
            padding-top: 20px;
            width: 100%;

            form.box-item {
                width: 100%;
            }
        }

        .social-links {

            a {
                padding: 7px 8px;
                margin: 0 2px;

                i {
                    font-size: 22px;
                }
            }
        }
    }

    #profile-settings {
        aside {
            ul {
                li {
                    padding: 14px 20px 14px 20px;

                    i {
                        font-size: 22px;
                    }
                }
            }
        }

        #my-projects {
            .listing {
                padding-right: 10px;
                padding-left: 10px;

                .fake-site,
                .site {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        #notifications {
            .setting-container {
                padding-right: 10px;
                padding-left: 10px;
            }
        }

        #settings {
            .setting-container {
                padding-right: 0;
                padding-left: 0;
            }
        }

        section:not(.modal) {
            h2.title {
                margin: 0 20px;
            }
        }
    }

    #notifications {
        ul {
            li {
                span {
                    font-size: 11px;
                }
            }
        }
    }

    .verification-bar {
        .custom-container {
            @include flex-direction(column);
            text-align: center;
        }
    }

    #post-detail {
        .content {
            padding-top: 150px;

            .custom-container {
                .text {
                    max-width: 100%;
                    padding-top: 30px;
                    padding-bottom: 10px;
                }

                .cover {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        #related-posts {
            h2 {
                margin: 10px 0 30px 0;
            }
        }
    }
}
