@media (max-width: 991px) {

    .main-button, .secondary-button, .danger-button {
        padding: 10px 14px;
        font-size: 14px;
    }

    .banned-site {
        .banned-card {
            height: 100%;
        }
    }

    .box-item {
        .info {
            height: calc(100% - 160px);

            .clearfix {
                margin-top: 16px;
            }
        }

        .screenshot {
            height: 160px;
        }
    }

    .button {
        height: 40px;
        padding: 0 20px;
        font-size: 16px;
    }

    .default-form {
        form {
            input {
                height: 40px;
                padding: 0 15px;
                font-size: 12px;
            }
        }
    }
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 30px;
    }
    header {
        .logo {
            width: 130px;
            margin-left: 10px;
            margin-right: 0;
        }

        ul.main {
            a {
                font-size: 15px;
            }
        }

        ul.guest {
            li:first-child {
                a {
                    font-size: 15px;
                }
            }
        }
    }

    .custom-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .no-projects,
    .not-found {
        p {
            text-align: center;
        }
    }

    .beta {
        #home {

            section.livepreview {
                padding: 50px 0 10px;

                .plyr {
                    width: 75%;
                    margin: 0 auto 40px auto;
                }

                h2,
                p {
                    text-align: center;
                }
            }

            section.promo {
                padding: 150px 0 40px;

                .imac {
                    max-width: 70%;
                }
            }

            section.register {
                padding: 40px 0 30px 0;
            }
        }

        #site-index {
            .search-container.active {
                input.search-input {
                    width: 200px;
                }
            }
        }

        #contact-index {
            padding-top: 100px;

            #contact {
                .box-item {
                    height: auto;
                }

                .right {
                    @include flexbox;
                    @include align-items(center);

                    form {
                        width: 100%;
                    }
                }
            }

            .support-us {
                padding: 60px 0 60px 0;
            }
        }

        #support-us {
            .support-us {
                padding: 120px 0 40px 0;
            }
        }

        .beta {
            #support-us {
                .support-us {
                    padding: 140px 0 40px 0;
                }
            }
        }

        #profile-detail {
            .user-container {
                margin-bottom: 30px;

                .custom-container {
                    @include flex-wrap(wrap);

                    .info-container {
                        @include flex(0 0 80%);
                        @include align-items(center);

                        .text {
                            @include flex(0 0 100%);
                        }
                    }

                    .image-container {
                        padding-right: 0;
                        @include justify-content(flex-start);
                        padding-left: 20px;

                        img {
                            width: 85px;
                            height: 85px;
                        }
                    }

                    .summary {
                        @include flex(0 0 100%);
                        @include justify-content(space-between);
                        padding: 15px 20px 0 20px;

                        li {
                            padding: 0;
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        footer {
            .logo {
                img {
                    max-width: 85%;
                }
            }
        }
    }

    #home {
        section.promo {
            padding: 100px 0 40px;

            h1 {
                margin-top: 0;
            }

            .col-lg-6,
            h1,
            p {
                text-align: center;
            }
        }

        section.pros {
            padding: 60px 0 20px;

            .icon {
                font-size: 40px;
                width: 100px;
                height: 100px;
            }

            p {
                font-size: 16px;
            }
        }

        section.languages {
            padding: 40px 0;
            text-align: center;

            .box {
                .absolute-image {
                    position: relative;
                    transform: none;
                    display: block;
                    margin: 20px auto -130px;
                }
            }
        }

        section.register {
            margin-top: 100px;
            padding-bottom: 60px;

            p {
                margin: 10px 0 20px;
                font-size: 14px;
            }

            form {
                input {
                    margin-right: 6px;
                }
            }
        }
    }

    footer {
        padding: 40px 0 0 0;

        h3 {
            margin-top: 20px;
        }
    }

    #contact-index {
        section#contact {
            padding: 60px 12px 100px;
        }
    }

    section.support-us {
        h1,
        p,
        .right {
            text-align: center;
        }
    }

    .register-form {
        .form-group {
            input {
                padding: 10px 16px;
            }
        }
    }

    #about-us {
        .about-you {
            padding: 90px 0 20px;

            .right {
                margin-top: -40px;
            }

            svg {
                font-size: 320px;
            }

            .button {
                color: #fff;
            }
        }

        .about-participant {
            margin-top: 130px;
            padding: 20px 0 50px;

            .left {
                padding-top: 30px;
            }

            svg {
                font-size: 290px;
                margin-top: 10px;
            }
        }
    }

    #faq {
        .accordion {
            .item {
                max-width: 100%;
            }
        }
    }

    #profile-detail {
        .user-container {
            padding: 30px 0 20px;

            .image-container {
                padding-right: 20px;
                @include flex(0 0 16%);
                @include justify-content(flex-start);

                img {
                    width: 80px;
                    height: 80px;
                }
            }

            .summary {
                li {
                    padding: 0 15px;
                    margin-right: 0;

                    a {
                        font-size: 12px;
                        white-space: nowrap;

                        strong {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    #profile-settings {

        section:not(.modal) {
            width: calc(100% - 65px);
            @include flex(0 0 calc(100% - 65px));
        }

        aside {
            @include flex(0 0 65px);
            width: 65px;
            padding-top: 25px;

            h2 {
                display: none;
            }
        }

        #settings {
            .setting-container {
                padding: 30px 20px 0 20px;
            }
        }
    }

    .page#login,
    .page#register,
    .page#forgot-password {

        .back-container {
            width: 100%;
        }

        section.left {
            form.box-item {
                width: 100%;
            }
        }

        section.left,
        section.right {
            padding: 0 15px;
        }

        .social-links {

            a {
                padding: 6px;
                margin: 0 2px;

                i {
                    font-size: 22px;
                }
            }
        }

        .main-button {
            margin-right: 0;
            margin-left: 0;
        }
    }

    #live-preview {
        .bottom-bar {
            .resolution,
            .profile {
                @include flex(auto);
                width: auto;
            }
        }
    }

    #notifications {
        ul {
            li {
                .actions {
                    width: 130px;
                }

                span {
                    line-height: 1.4;
                    width: calc(100% - 130px);
                }
            }
        }
    }

    #post-index,
    #post-detail {
        .post-listing {
            .post {
                .box-item {
                    .info {
                        .post-heading {
                            padding: 20px 25px;
                        }
                    }

                    .post-links {
                        padding: 20px 25px;
                    }
                }
            }
        }
    }

    #post-detail {
        .content {
            padding-top: 130px;

            .custom-container {
                .text {
                    max-width: 80%;
                }

                .cover {
                    img {
                        max-width: 90%;
                    }
                }
            }
        }
    }
}
