@media (max-width: 575px) {
    .clouds {
        height: 40px;
        margin-top: -40px;
    }
    .animation {
        width: calc(100% - 100px);
        margin-left: 50px;

        .comment {
            padding: 10px;

            img {
                width: 30px;
                height: 30px;
            }

            strong {
                margin-bottom: 2px;
            }
        }
    }

    .page#login,
    .page#register,
    .page#forgot-password,
    .page#verification-account {
        form.box-item {
            width: 100%;
        }
    }

    .page#login,
    .page#register,
    .page#forgot-password {

        .social-links {

            a {
                margin: 0 10px;

                i {
                    padding-right: 0;
                }
            }
        }
    }

    #unregistered-user-modal {
        .clouds {
            margin-bottom: -210px;
            margin-top: 150px;
        }

        .modal-container {
            max-width: 450px;
        }
    }

    .search-container.active {
        input.search-input {
            width: 140px;
        }
    }
}
