<template>
  <ul class="comment-actions">
    <li v-if="auth_user && comment.user_id !== auth_user.id">
      <a @click="reportComment" class="report" :class="{active: comment.auth_user_reported}"
         v-tooltip="`Report`">
        <i class="fas fa-bug"></i>
      </a>
    </li>
    <template v-if="comment.visitor_is_author">
      <li @click="editComment">
        <a v-tooltip="`Edit`">
          <i class="fas fa-edit"></i>
        </a>
      </li>
      <li @click="deleteComment">
        <a class="btn_delete" v-tooltip="`Delete`">
          <i class="fas fa-trash-alt"></i>
        </a>
      </li>
    </template>
  </ul>
</template>

<script>
import {request_options, url} from "../../includes/helpers";
import routes from "../../includes/routes";
import {mapGetters, mapMutations} from "vuex";
import {recaptchaMixin} from "../../includes/mixins";

export default {
  mixins: [recaptchaMixin],
  props: ['comment', 'type'],
  computed: {
    ...mapGetters({auth_user: 'getAuthUser', gallery: 'getGallery'}),
  },
  methods: {
    ...mapMutations(['openModal', 'setLivepreviewSettings', 'toggleReportModal', 'setFileUploader']),
    url: url,
    editComment: function () {

      this.setLivepreviewSettings({
        comment_edit_mode: false,
        reply_edit_mode: false
      });

      if (this.type === 'comment') {

        this.setLivepreviewSettings({
          comment_edit_mode: true,
          comment_edit_mode_text: this.comment.text,
        });

        this.setFileUploader({
          files: this.gallery,
          updated: false
        })

      } else if (this.type === 'reply') {
        this.setLivepreviewSettings({
          reply_edit_mode: true,
          reply_edit_mode_text: this.comment.text,
          reply_id_edit_mode: this.comment.id
        });
      }
    },
    deleteComment: function (event) {

      let that = this,
          options;

      this.addRecaptchaToken(event, async function () {

        options = request_options('POST', routes.delete_site_comment(that.comment.id), {
          id: that.comment.id,
          "g-recaptcha": that.recaptcha_token
        })

        that.openModal({
          method: 'POST',
          request_options: options,
          title: 'Comment deletion',
          content: `Would you like to delete this comment?`,
          item: that.comment,
          type: that.type,
        });
      });
    },
    reportComment: function () {

      if ($(this).hasClass('active')) {
        return false;
      }

      this.toggleReportModal({
        show_modal: true,
        type: this.type,
        data: {
          request_options: request_options('POST', routes.report_model(this.comment.id, 'comment')),
          item: this.comment,
        }
      });
    }
  },
}
</script>
