<template>

  <div>
    <div class="uploader">
      <form enctype="multipart/form-data" novalidate>
        <input type="file" ref="files" multiple @change="handleFilesUpload()" class="input-file"
               accept="image/*"/>
        <p>
          Drag files here
        </p>
      </form>
    </div>
    <div class="attachments" v-show="file_uploader.has_files">
      <a @click="deleteFile" :data-id="file.id" :data-index="index"
         v-for="(file,index) in file_uploader.files">
        <img :src="file.url" alt="File">
      </a>
    </div>
  </div>

</template>

<script>
import axios from 'axios';
import {mapActions, mapGetters, mapMutations} from "vuex";
import routes from "../../includes/routes";
import {recaptchaMixin} from "../../includes/mixins";
import {remove_item_from_array, request_options} from "../../includes/helpers";

export default {
  mixins: [recaptchaMixin],
  data() {
    return {
      files: [],
    }
  },
  computed: {
    ...mapGetters({settings: 'getLivepreviewSettings', file_uploader: 'getFileUploader'}),
  },
  methods: {
    ...mapActions(['deleteAttachment']),
    ...mapMutations(['setLivepreviewSettings', 'setFlashMessage', 'setFileUploader']),
    deleteFile: function (event) {

      let target = $(event.target).closest('a'),
          file_index = target.attr('data-index'),
          file_id = target.attr('data-id'),
          rest_files,
          that = this,
          options;

      this.addRecaptchaToken(event, async function () {

        options = request_options('POST', routes.delete_attachment(that.settings.current_site.id, file_id), {
          identifier: that.settings.current_site.id,
          attachment_id: file_id,
          "g-recaptcha": that.recaptcha_token
        });

        await that.deleteAttachment({
          options,
          that
        });

        rest_files = remove_item_from_array(that.file_uploader.files, file_index);

        that.setFileUploader({
          files: rest_files,
          updated: true
        });
      });
    },
    submitFiles: function (event) {

      let headers,
          that = this,
          formData = new FormData(),
          current_files = that.file_uploader.files;

      headers = {
        headers: {
          'Content-Type': 'multipart/form-data',
        }
      };

      for (let i = 0; i < this.files.length; i++) {
        let file = this.files[i];
        formData.append('data[' + i + ']', file);
      }

      formData.append('type', 'attachment');
      formData.append('_token', window._token);

      this.addRecaptchaToken(event, async function (event) {

        formData.append('g-recaptcha', $('input[name="g-recaptcha"]').val());

        axios.post(routes.store_attachment(that.settings.current_site.id), formData, headers)
            .then(function (json) {

              that.setFileUploader({
                files: current_files.concat(json.data.data),
                updated: true
              });

              that.files = [];
            })
            .catch(function (json) {

              that.setFlashMessage({
                message: json.response.data.exception,
                type: 'error'
              })
            });
      });
    },
    handleFilesUpload() {

      let uploadedFiles = this.$refs.files.files,
        max_file_size = 1024 * (1024 * 5);      // 5MB

      for (let i = 0; i < uploadedFiles.length; i++) {

        if(max_file_size < uploadedFiles[i].size){
          this.setFlashMessage({
            message: `${uploadedFiles[i].name} is too big. Maximum file size is 5MB.`,
            type: 'error'
          });

          continue;
        }

        this.files.push(uploadedFiles[i]);
      }

      if(this.files.length){
        this.submitFiles();
      }
    },
  }
}
</script>
