<template>
  <button type="button"
          :class="{'secondary-button':!user.is_auth_user_follower,'main-button':user.is_auth_user_follower}"
          @click="followUser(user)">Follow
  </button>
</template>

<script>
import {mapActions} from "vuex";

export default {
  props: ['user'],
  methods: {
    ...mapActions(['toggleFollow']),
    followUser: function (user) {

      this.toggleFollow(user.identifier);

      user.is_auth_user_follower = !user.is_auth_user_follower;
    }
  }
}
</script>