<template>
  <div class="not-found">
    <img :src="url('/img/sketch/404.svg')" alt="not-found">
    <h3>Not found</h3>
    <p v-html="this.message" class="text-center"></p>
    <div>
      <a class="button" :href="url('/contact-us')">Contact us</a>
      <a class="link sign-in" :href="url('/')">Home</a>
    </div>
  </div>
</template>

<script>
import {url} from "../../includes/helpers";

export default {
  props: ['message'],
  methods: {
    url: url
  }
}
</script>
