<template>
  <div class="pagination-container">
    <paginate
        v-model="current_page"
        :page-count="page_count"
        :page-range="perPage"
        :margin-pages="4"
        :click-handler="changePage"
        :prev-text="'&#10094;'"
        :next-text="'&#10095;'"
        :container-class="'pagination'">
    </paginate>
  </div>
</template>
<script>
import Paginate from 'vuejs-paginate'
import {scroll_to_element_by_id} from "../../includes/helpers";
import {mapMutations} from "vuex";

export default {
  components: {Paginate},
  props: ['items', 'perPage', 'scrollTo'],
  computed: {
    page_count: function () {
      return Math.ceil(this.items.length / this.perPage);
    },
    current_page: {
      get() {
        return this.$store.state.pagination.page;
      },
      set(value) {
        this.$store.commit('setPagination', {page:value})
      }
    }
  },
  methods: {
    ...mapMutations(['setPagination']),
    paginate: function () {

      let slice_page = this.current_page - 1;

      this.setPagination({
        page: this.current_page,
        start: slice_page * this.perPage,
        end: this.perPage * slice_page + this.perPage
      });
    },
    changePage: function () {

      this.paginate();

      scroll_to_element_by_id(this.scrollTo);
    }
  },
  created() {
    this.paginate();
  }
}
</script>
