<template>
  <div class="pin-loader">
    <svg version="1.2" baseProfile="tiny-ps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 66" width="53"
         height="66" id="loading-pin">
      <title>surface1</title>
      <g id="surface1">
        <path id="Layer" fill-rule="evenodd" class="shp0"
              d="M32.2 18.41C32.2 27.35 21.02 40.07 21.02 40.07C21.02 40.07 9.83 27.35 9.83 18.41C9.83 12.23 14.84 7.23 21.02 7.23C27.2 7.23 32.2 12.23 32.2 18.41ZM27.02 17.55C27.02 14.12 24.24 11.34 20.81 11.34C17.39 11.34 14.6 14.12 14.6 17.55C14.6 20.98 17.39 23.77 20.81 23.77C24.24 23.77 27.02 20.98 27.02 17.55Z"/>
        <path id="Layer" fill-rule="evenodd" class="shp1"
              d="M52.49 11.64L52.49 42.48C52.49 48.45 47.65 53.3 41.68 53.3L34.95 53.3L21.87 66.08L21.87 53.3L10.84 53.3C4.86 53.3 0.02 48.45 0.02 42.48L0.02 11.64C0.02 5.66 4.86 0.82 10.84 0.82L41.68 0.82C47.65 0.82 52.49 5.66 52.49 11.64ZM3.02 11.64L3.02 36.12L13.29 36.12C17.13 42.21 21.2 46.84 21.2 46.84C21.2 46.84 25.27 42.21 29.1 36.12L49.5 36.12L49.5 11.64C49.5 7.32 45.99 3.82 41.68 3.82L10.84 3.82C6.52 3.82 3.02 7.32 3.02 11.64Z"/>
      </g>
    </svg>
    <span class="text" v-if="text">{{ text }}</span>
  </div>
</template>
<script>
export default {
  props: ['text']
}
</script>
