<template>
  <ul class="icons">
    <li>
      <a class="like-container"
         :class="{liked: comment.auth_user_liked == 1, disabled: ! $gate.allow('can_like', 'comment', auth_user, comment)}"
         @click="toggleCommentLike"
         v-tooltip="`Likes`">
        <img :src="url('/img/heart.svg')" class="svg" alt="Heart">
        <span>{{ this.comment.rating[1] }}</span>
      </a>
    </li>
  </ul>
</template>
<script>
import {mapActions, mapGetters, mapMutations} from "vuex";
import {recaptchaMixin} from "../../includes/mixins";
import {replace_img_by_svg, url} from "../../includes/helpers";

export default {
  mixins: [recaptchaMixin],
  props: ['authRatingValue', 'comment'],
  data() {
    return {
      comment_rating_count: 0
    };
  },
  computed: {
    ...mapGetters({auth_user: 'getAuthUser'}),
  },
  methods: {
    ...mapMutations(['updateComment']),
    ...mapActions(['toggleLike']),
    url: url,
    toggleCommentLike: function (event) {

      let that = this,
          actual_comment = that.comment;

      if (!that.auth_user || that.auth_user.id === that.comment.user_id) return;

      actual_comment.rating[1] = actual_comment.auth_user_liked ? actual_comment.rating[1] - 1 : actual_comment.rating[1] + 1;
      actual_comment.auth_user_liked = !actual_comment.auth_user_liked;

      that.updateComment(actual_comment);

      that.addRecaptchaToken(event, async function () {

        await that.toggleLike({
          id: that.comment.id,
          type: 'comment',
          "g-recaptcha": that.recaptcha_token
        });
      });
    }
  },
  created() {
    this.comment_rating_count = this.comment.rating[1];
  },
  mounted() {
    replace_img_by_svg();
  }
}
</script>
