<template>
  <div class="pagination-container">
    <button class="main-button" @click="changePage" v-if="pagination.has_more">
      <Loader v-if="loading"/>
      <span>Load more</span>
    </button>
  </div>
</template>
<script>
import Paginate from 'vuejs-paginate'
import {replace_img_by_svg} from "../../includes/helpers";
import {mapActions, mapGetters, mapMutations} from "vuex";
import Loader from "./Loader";

export default {
  components: {Loader, Paginate},
  props: ['items'],
  data(){
    return {
      loading: false
    }
  },
  computed: {
    ...mapGetters({pagination: 'getPagination'}),
    current_page: {
      get() {
        return this.$store.state.pagination.page;
      },
      set(value) {
        this.$store.commit('setPagination', {page: value})
      }
    }
  },
  methods: {
    ...mapMutations(['setPagination']),
    ...mapActions(['loadMoreSites']),
    paginate: async function () {

      let slice_page = this.current_page - 1;

      this.setPagination({
        page: this.current_page,
        start: 0,
        end: this.pagination.per_page * slice_page + this.pagination.per_page,
      });

      if (this.current_page > 1) {

        this.loading = true;

        await this.loadMoreSites({
          limit: this.pagination.per_page,
          offset: (this.current_page - 1) * this.pagination.per_page
        });

        setTimeout(function () {
          replace_img_by_svg();
        }, 500)

        this.loading = false;
      }
    },
    changePage: function () {

      this.current_page++;

      this.paginate();
    }
  },
  created() {
    this.paginate();
  }
}
</script>
