<template>
  <div class="social-network">
    <ShareNetwork
        network="facebook"
        :url="url"
        title=""
        hashtags="VisualBack"
    >
      <i class="fab fa-facebook-f"></i>
    </ShareNetwork>
    <ShareNetwork
        network="twitter"
        :url="url"
        title=""
        hashtags="VisualBack"
    >
      <i class="fab fa-twitter"></i>
    </ShareNetwork>
    <ShareNetwork
        network="reddit"
        :url="url"
        title=""
        hashtags="VisualBack"
    >
      <i class="fab fa-reddit"></i>
    </ShareNetwork>
  </div>
</template>
<script>
import {ShareNetwork} from "vue-social-sharing/src/vue-social-sharing";

export default {
  props: ['url'],
  components: {
    ShareNetwork
  }
}
</script>
