<template>
  <div class="code-editor-container">
    <p style="margin-bottom:5px;margin-top:5px;font-size: 13px;">
      CSS compiler
      <span class="hint-icon">
        <i class="fas fa-question-circle" v-tooltip="`If CSS has'nt been applied, set !important rule.`"></i>
      </span>
    </p>
    <prism-editor class="source-code" v-model="css_editor.code" :highlight="highlighter"
                  line-numbers></prism-editor>
    <div class="button-container">
      <button type="button" @click="attachCSS" class="main-button" id="attach-css"
              ref="attach-css" :disabled="isEmptyString(css_editor.code)">
        Attach
      </button>
      <button type="button" @click="runCssCode" class="secondary-button" id="run-code">
        Try
      </button>
    </div>
  </div>
</template>

<script>
import {PrismEditor} from 'vue-prism-editor';
import {highlight, languages} from 'prismjs/components/prism-core';
import {is_empty_string, request_options} from "../../includes/helpers";
import {cssEditorMixin, recaptchaMixin} from "../../includes/mixins";
import {mapActions, mapGetters} from "vuex";
import routes from "../../includes/routes";

import 'prismjs/components/prism-css';
import 'prismjs/themes/prism.css';

export default {
  mixins: [recaptchaMixin, cssEditorMixin],
  components: {PrismEditor},
  computed: {
    ...mapGetters({settings: 'getLivepreviewSettings'}),
  },
  data() {
    return {
      routes: routes,
    }
  },
  methods: {
    ...mapActions(['storeCommentAttachment']),
    isEmptyString: is_empty_string,
    highlighter(code) {
      return highlight(code, languages.css);
    },
    runCssCode: function (event) {

      this.setLivepreviewSettings({
        running_code: true
      });

      this.runCSS();
    },
    attachCSS: async function (event) {

      let that = this,
          options;

      that.setCssEditor({
        updated: !is_empty_string(that.css_editor.code)
      })

      if (that.css_editor.updated) {

        if (that.css_editor.file) {
          await that.deleteCssFile(event);
        }

        that.addRecaptchaToken(event, async function () {

          options = request_options('POST', routes.store_attachment(that.settings.current_site.id), {
            data: that.css_editor.code,
            "g-recaptcha": that.recaptcha_token,
            type: 'css',
          });

          await that.storeCommentAttachment({
            options
          })
        });
      }
    },
  },
  created() {
    $('body').on('click', '.source-code', function () {
      $('.source-code textarea').focus()
    })
  },
  mounted() {
    $('.prism-editor__textarea').attr('placeholder', '.title{ color:#500ade; }')
  }
}
</script>
