<template>
  <Layout id="profile-detail" class="page site-listing" :class="{auth: auth_user}">
    <template slot="content">
      <div class="user-container">
        <div class="custom-container">
          <div class="image-container">
            <a>
              <img :src="this.user_profile.profile_photo_url" alt="profile-picture">
            </a>
          </div>
          <div class="info-container">
            <div class="text">
              <h2>{{ this.user_profile.nickname }}</h2>
              <template
                  v-if="this.auth_user && this.auth_user.id === this.user_profile.id">
                <a :href="routes.settings(auth_user.identifier)"
                   class="edit-data main-button">Edit profile</a>
              </template>
            </div>
            <div class="tags technologies" v-if="technologies.length">
              <span v-for="technology in technologies" :class="technology.slug">{{ technology.name }}</span>
            </div>
            <ul class="summary hidden-md-down">
              <li>
                <a>
                  <strong>{{ this.sites.length }}</strong>
                  {{ 'Project' | pluralize(this.sites.length) }}
                </a>
              </li>
              <li>
                <a>
                  <strong>{{ this.user_profile.comments_count }}</strong>
                  {{ 'Comment' | pluralize(this.user_profile.comments_count) }}
                </a>
              </li>
              <li>
                <a>
                  <strong>{{ this.siteLikes }}</strong>
                  {{ 'Project like' | pluralize(this.siteLikes) }}
                </a>
              </li>
              <li>
                <a>
                  <strong>{{ this.commentLikes }}</strong>
                  {{ 'Comment like' | pluralize(this.commentLikes) }}
                </a>
              </li>
            </ul>
          </div>
          <ul class="summary hidden-md-up">
            <li>
              <a>
                <strong>{{ this.sites.length }}</strong>
                {{ 'Project' | pluralize(this.sites.length) }}
              </a>
            </li>
            <li>
              <a>
                <strong>{{ this.user_profile.comments_count }}</strong>
                {{ 'Comment' | pluralize(this.user_profile.comments_count) }}
              </a>
            </li>
            <li>
              <a>
                <strong>{{ this.siteLikes }}</strong>
                {{ 'Project like' | pluralize(this.siteLikes) }}
              </a>
            </li>
            <li>
              <a>
                <strong>{{ this.commentLikes }}</strong>
                {{ 'Comment like' | pluralize(this.commentLikes) }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <section class="custom-container listing">
        <div class="box-items">

          <template v-if="this.page_ready">

            <template v-if="is_registering_site">

              <FakeItem/>

            </template>

            <!-- Results -->
            <template
                v-if="sites.length"
            >

              <template
                  v-for="site in sites"
              >

                <ActiveItem
                    :site="site"
                />

              </template>

            </template>

            <!-- No results -->
            <template
                v-if="!sites.length"
            >

              <div class="no-projects">
                <img :src="url('/img/sketch/coding.svg')" class="svg" alt="coding">
                <p v-if="auth_user.id === user_profile.id">You have not registered any website. Would you like to get
                  reviews of your website?</p>
                <p v-else>Sadly, the user {{ user_profile.nickname }} have not registered any website yet.</p>
                <a :href="routes.sites()" class="button">Register now</a>
              </div>

            </template>

          </template>

          <template v-else>

            <template v-for="index in 3">
              <FakeItem/>
            </template>

          </template>

        </div>
      </section>
    </template>
    <template slot="others">
      <Modal :redirect="`/site`"/>
      <ListModal/>
      <ReportModal/>
    </template>
  </Layout>
</template>

<script>
import {
  get_parameter_value_by_type,
  get_parameters_by_type,
  hide_loading_animation,
  string_limit,
  url
} from '../../includes/helpers';
import {mapActions, mapGetters, mapMutations} from "vuex";
import Modal from "../partials/Modals/Modal";
import FakeItem from "../partials/Site/FakeItem";
import RegisterInput from "../partials/Site/RegisterInput";
import ActiveItem from "../partials/Site/ActiveItem";
import Loader from "../partials/Loader";
import ListModal from "../partials/Modals/List";
import ReportModal from "../partials/Modals/Report";
import routes from "../../includes/routes";
import Layout from "../partials/Layout/Layout";

export default {
  components: {
    Layout,
    FakeItem,
    Modal,
    ActiveItem,
    Loader,
    RegisterInput,
    ListModal,
    ReportModal
  },
  props: ['userProfile', 'siteLikes', 'commentLikes'],
  data() {
    return {
      page_ready: false,
      technologies: null,
      user_details: null,
      user_profile: null,
      show_more: false,
      routes: routes
    };
  },
  computed: {
    ...mapGetters({
      auth_user: 'getAuthUser',
      sites: 'getSites',
      is_registering_site: 'getIsRegisteringSite'
    }),
    // paginated_items in mixin
  },
  methods: {
    ...mapMutations(['setFlashMessage', 'addSite']),
    ...mapActions([
      'setSites',
      'setAuthUser',
      // 'toggleFollow'
    ]),
    // paginatedItemsEmit, filterBySearch and sortBy in mixin
    url: url,
    string_limit: string_limit,
  },
  async created() {

    this.user_profile = JSON.parse(this.userProfile);
    this.technologies = get_parameters_by_type(this.user_profile.parameters, 'technology');
    this.user_details = get_parameter_value_by_type(this.user_profile.parameters, 'user-details', true);

    await this.setAuthUser();

    await this.setSites({user_identifier: this.user_profile.identifier});

    hide_loading_animation();

    this.page_ready = true;
  },
}
</script>
