<template>
  <Layout id="profile-settings" class="page" v-if="auth_user">
    <template slot="content">
      <Sidebar/>
      <Settings v-if="profile_settings.show_profile_settings"/>
      <MySites v-if="profile_settings.show_my_sites"/>
      <Notifications v-if="profile_settings.show_notifications"/>
    </template>
    <template slot="others">
      <Modal/>
      <RegisterSiteModal/>
    </template>
  </Layout>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Sidebar from "../partials/Profile-settings/Sidebar";
import MySites from "../partials/Profile-settings/MySites";
import Notifications from "../partials/Profile-settings/Notifications";
import Settings from "../partials/Profile-settings/Settings";
import Modal from "../partials/Modals/Modal";
import RegisterSiteModal from "../partials/Modals/RegisterSite";
import Layout from "../partials/Layout/Layout";
import {hide_loading_animation} from "../../includes/helpers";

export default {
  components: {
    Modal,
    Settings,
    Notifications,
    MySites,
    Sidebar,
    RegisterSiteModal,
    Layout
    // Follows
  },
  computed: {
    ...mapGetters({profile_settings: 'getProfileSettings', auth_user: 'getAuthUser'})
  },
  methods: {
    ...mapActions(['setAuthUser']),
  },
  async created() {

    await this.setAuthUser();

    hide_loading_animation();
  }
}
</script>
