#cookie-consent {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $c_secondary;
    z-index: 9999;
    padding: 7px 30px;
    border-top: 2px solid $highlight-color;

    .cookie-consent {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
    }

    .cookie-consent__agree {
        padding: 24px;
        height: 44px;
    }

    a {
        text-decoration: underline;
        font-weight: bold;
        color: $highlight-color;
    }
}

#error {
    background-color: $background-color;
    padding-top: 60px;

    & .content {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        height: 460px;

        & h1 {
            font-size: 70px;
            margin-bottom: 0;
        }

        & p {
            font-size: $subtitle-font-size;
            line-height: 1.5;
            text-align: center;
        }

        & img {
            margin-bottom: 15px;
        }

        & a {
            color: #fff;
            font-weight: $bold-font-weight;
        }
    }
}

#support-us {
    header {
        background-color: $c_secondary;
    }
}

#cookies,
#terms-conditions {
    section {
        a {
            text-decoration: underline;
        }
    }
}

#cookies,
#terms-conditions,
#about-us {
    h1 {
        font-size: 60px;
    }

    section:first-of-type {
        padding-top: 160px;
        padding-bottom: 90px;
    }

    section {
        a {
            font-weight: bold;
            color: $highlight-color;
        }
    }
}

#about-us {
    p {
        font-size: $subtitle-font-size;
    }

    .coffee-link {
        margin-top: 10px;
        display: inline-block;
    }

    section:first-of-type {
        background-color: $background-color;

        .custom-container {
            text-align: center;
        }

        p,
        h1 {
            text-align: center;
        }
    }

    .about-you {
        padding: 100px 0 0;

        .left {
            text-align: center;
        }
    }

    .about-participant {
        padding: 50px 0 50px;
        margin-top: 170px;

        .left {
            text-align: left;
        }

        .right {
            text-align: center;
        }
    }

    .about-participant,
    .about-you {
        svg {
            font-size: 380px;
            margin-top: -90px;
        }
    }

    .about-you,
    .intro {
        .button {
            margin-top: 10px;
            color: #fff;
        }
    }
}

#faq {
    .content {
        padding-top: 160px;
        padding-bottom: 50px;
        background-color: $background-color;
        border-bottom: 1px solid #dbb90d;

        h1 {
            text-align: center;
            font-size: 60px;
        }
    }
}

/* Social icons */
.social-links {
    @include flexbox;
    @include justify-content(center);
    margin-top: 2em;

    a {
        i {
            padding: 0 6px;
            font-size: $title-font-size;
            @include transition(#{$transition-time} ease-in-out);
        }
    }
}

.like {
    a {
        cursor: pointer;
    }

    &.active a i {
        color: #7FC210 !important;
    }
}

.card {
    padding-bottom: 20px;

    .reply:last-of-type {
        padding-bottom: 30px;
    }

    .card-body {
        ul {

            li {
                &.disabled {
                    pointer-events: none;
                }

                i {
                    @include transition(#{$transition-time});
                }

                &.like i {
                    color: #3fc0a466;
                }

                &.like:hover i {
                    color: #3fc0a4;
                }
            }
        }
    }
}

.box-items {
    @include flexbox;
    @include flex-wrap(wrap);

    .site {
        padding: 0 7px 14px 7px;
    }
}

.box-item {
    padding: 0;
    margin-bottom: 0;
    height: 100%;
    background-color: #fff;
    @include border-radius($button-radius);
    border: 1px solid #dbb90d;
    @include transition($transition-time);
    position: relative;
    overflow: hidden;

    &:hover {
        @include box-shadow(0 0.5rem 1rem rgb(0 0 0 / 9%));
        opacity: 0.96;
    }

    .badge {
        border-radius: 0 0 6px 6px;
        padding: 4px 20px;
        z-index: 10;
        font-size: $normal-fs;
        letter-spacing: 0.5px;
        cursor: default;

        &.private {
            @include position-absolute($right: 25px, $top: 0);
            background-color: #2ecc71;
            color: $default-color;
        }
    }

    & .screenshot {
        max-width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
            //@include transition(#{$transition-time});

            //&:hover {
            //    @include transform(scale(1.05));
            //    @include border-radius($button-radius $button-radius 0 0);
            //}
        }

        ul {
            @include flexbox;
        }

        & .site-actions {
            opacity: 0;
            @include transition(#{$transition-time});

            a {
                font-size: 26px;
                margin: 0 12px;
                cursor: pointer;

                i {
                    color: #9d93b3;
                    @include transition(#{$transition-time});
                }

                &:hover i {
                    color: #fff;
                }
            }

            ul {
                display: none;
            }
        }

        &:hover .site-actions {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: 100%;
            @include position-absolute($top: 0);
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);

            ul {
                @include flexbox;
            }
        }
    }

    .info {
        position: relative;
        height: calc(100% - 200px);
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);

        .site-title {
            padding: 15px 20px;
        }
    }

    figure,
    h4 {
        margin-bottom: 5px;
    }

    figure {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        @include border-radius(50%);
        display: inline-block;
        position: relative;
        float: left;
        margin-right: 15px;

        img {
            object-fit: cover;
            width: 40px;
            height: auto;
            @include position-absolute($top: 50%, $left: 50%);
            @include transform(translate(-50%, -50%));
        }
    }

    .title a,
    a.user,
    a.user:hover {
        color: $default-color;
        font-weight: $bold-font-weight;
        cursor: pointer;
    }

    small {
        display: block;
        font-weight: $normal-font-weight;
        margin-top: 3px;
        font-size: $small-font-size;
    }

    h3 {
        font-size: 16px;
        color: #999;
        font-weight: $normal-font-weight;
        margin: 8px 0 8px 0;

        strong {
            color: #222;
            font-weight: $normal-font-weight;
        }
    }

    h4 {
        font-size: $subtitle-font-size;
        margin-bottom: 15px;
    }

    .statistic-list {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-direction(row-reverse);
        padding: 10px 20px 10px 20px;
        margin: 15px 0 0 0;
        text-align: center;
        color: #999;

        & .like-container {
            svg {
                width: 15px;
                height: 15px;
            }
        }

        & li a span {
            margin-left: 5px;
        }

        & li a i {
            font-size: 15px;
        }

        & li a span,
        & li a i {
            color: $light-color;
            font-weight: $bold-font-weight;
        }

        & li:first-child {
            float: left;
        }
    }
}

/* Scroll top button */
#toTop {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 9999;
    width: 46px;
    height: 46px;
    background-color: $highlight-color;
    opacity: 1;
    @include border-radius(50%);
    text-align: center;
    font-size: $title-font-size;
    color: #fff;
    cursor: pointer;

    i {
        color: $background-color;
        font-size: 35px;
        padding-top: 3px;
    }

    &:hover {
        background-color: $highlight-color;
    }
}

h2.title {
    border-bottom: 2px solid #f9f9f9;
    padding: 30px 15px 12px 0;
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 40px;
        height: 2px;
        background-color: $highlight-color;
        @include position-absolute($bottom: -2px);
    }
}

.technologies.tags {
    @include flexbox();
    @include flex-wrap(wrap);
    cursor: default;
    padding: 0 20px 0 20px;

    & .laravel {
        background-color: #e8392c;
        color: #fff;
    }

    & .css {
        background-color: #2862ea;
        color: #fff;
    }

    & .html {
        background-color: #ea6228;
        color: #fff;
    }

    & .javascript {
        background-color: #efd81d;
        color: #000;
    }

    & .django {
        background-color: #092d1f;
        color: #fff;
    }

    & .python {
        background-color: #f6ca40;
        color: #336d9e;
    }

    & .java {
        background-color: #e51f24;
        color: #fff;
    }

    & .vuejs {
        background-color: #3fb27f;
        color: #32475b;
    }

    & .react {
        background-color: #5ed4f3;
        color: #fff;
    }

    & .angular {
        background-color: #bd012d;
        color: #fff;
    }

    & span {
        background-color: $highlight-color;
        color: #fff;
        font-size: $small-font-size;
        padding: 5px 10px;
        margin: 0 4px 4px 0;
        @include border-radius($button-radius);
    }
}

.statistic-list {
    .stats {
        @include flexbox;

        a {
            @include flexbox;
            @include align-items(center);
            margin-right: 8px;
        }
    }
}

.edit-data {
    text-decoration: underline;
    color: $highlight-color;
    @include transition(#{$transition-time});
    font-size: $small-font-size;

    &:hover {
        text-decoration: underline;
        color: $highlight-color;
    }
}

.list {
    li {
        @include box-shadow(rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px);
        padding: 8px 10px;
        @include border-radius($button-radius);
        margin-bottom: 10px;
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);

        a {
            @include flexbox;
            @include justify-content(space-between);
            @include align-items(center);

            span {
                color: $default-color;
                cursor: pointer;
            }

            img {
                width: 30px;
                margin-right: 14px;
                @include border-radius(50%);
            }
        }
    }
}

.coffee-link {
    img {
        height: 55px;
    }
}

.verification-message {
    text-align: left;
}

