::-moz-selection {
	background: #1c63cc;
	color: #fff;
	/* WebKit/Blink Browsers */
}

::selection {
	background: #1c63cc;
	color: #fff;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #1c63cc;
	/* Gecko Browsers */
	color: #fff;
}

html,
body {
	width: 100vw;
	height: 100%;
}

main {
	min-height: 100%;
}

body.open-nav header:after {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	display: block;
	background-color: #00000085;
	z-index: 10;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.text-red {
	color: red;
}

.no-results {
	width: 100%;
	min-height: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.no-results img {
	width: 150px;
}

.review_listing .add_bottom_15 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.review_listing .add_bottom_15 .rating {
	margin-bottom: 1rem;
}

.rating i.icon_star:not(.empty) {
	color: #efef2a;
}

.like a,
.dislike a {
	cursor: pointer;
}

.like.active a i {
	color: #7FC210 !important;
}

.dislike.active a i {
	color: #FF1424 !important;
}

.card {
	padding-bottom: 20px;
}

.card .reply:last-of-type {
	padding-bottom: 30px;
}

.card .card-body ul li.disabled {
	pointer-events: none;
}

.card .card-body ul li i {
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.card .card-body ul li.like i {
	color: #3fc0a466;
}

.card .card-body ul li.like:hover i {
	color: #3fc0a4;
}

.card .card-body ul li.dislike i {
	color: #ff5d786e;
}

.card .card-body ul li.dislike:hover i {
	color: #ff5d78;
}

.comment-input .add_bottom_15 {
	margin-bottom: 0 !important;
}

.submit-button {
	background-color: #1c63cc;
	color: #fff;
	padding: 5px 20px;
	font-size: 13px;
	margin-top: 4px;
	float: right;
}

.secondary-button {
	border: none;
	background-color: #fff;
	color: #444;
	outline: none;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 400;
	text-align: center;
	line-height: 1;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	@include border-radius(4px);
	font-size: 0.875rem;
}

.secondary-button.small {
	padding: 7px 10px;
}

.position-relative {
	position: relative;
}

.position-relative ul.actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 8px;
	right: 8px;
}

.position-relative ul.actions li {
	margin: 0 3px;
}

.position-relative ul.actions li:last-child {
	margin-right: 0;
}

.position-relative ul.actions li a {
	cursor: pointer;
	color: #929191;
	font-size: 15px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.position-relative ul.actions li a:hover {
	color: #1c63cc;
}

.flash-message {
	z-index: 10;
	position: fixed;
	right: 30px;
	bottom: 30px;
	padding: 10px 24px;
	border-radius: 4px;
	cursor: pointer;
}

.flash-message.error {
	background-color: #ff5d78;
}

.flash-message.success {
	background-color: #3fc0a4;
}

.flash-message.warning {
	background-color: #ffdd87;
}

.flash-message p {
	color: #fff;
	margin: 0;
}
/*# sourceMappingURL=style.css.map */
