$highlight-color: #500ade;
//$default-color: #303235;
$default-color: #111827;
//$lighter-color: #dcdcdc;
$lighter-color: #EAEDF2;
$light-color: #9ca3af;
$background-color: #ffd500;

$normal-font-weight: 400;
$bold-font-weight: 700;

$button-radius: 5px;
$transition-time: 0.3s;

$normal-fs: 0.95rem;

$font-family: 'DM Sans', sans-serif;

$small-font-size: 15px;
$normal-font-size: 16px;
$subtitle-font-size: 20px;
$title-font-size: 28px;

$f_size: 16px;
$f_lineheight: 1.65;
$c_secondary: #fafbfd;
$c_stop: #F37335;
